/* -------------------------------------------------------*/
/* -----------------*>>> HEADER <<<----------------------*/
/* -----------------------------------------------------*/

// Config -----------------------------------------------------------------------------/

// Components -----------------------------------------------------------------------/
@import "../../desktop/blocs/footer";


// Style --------------------------------------------------------------------------/
.mobile-state{
	&.mobile-mode{
		#footer{
			@include box-sizing();
			*{
				@include box-sizing();
			}
			background: transparent;
			height: auto;
			width: 100%;
			.container{
				.instagram{
					
				}
				background-image: none;
				background: #FFF;
				border-top: 5px solid #FFF;
				height: auto;
				width: 100%;
				.footer-middle{
					width: 100%;
					height: auto;
					position: relative;
					background-color: #FBFBFB;
					top: 0px;
					padding: 10px;
					.footer-middle-cont{
						width: 100%;
						height: auto;
						.collum{
							position: relative;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							&.morena-rosa{
								@include order(6);
								margin: 0px auto;
							}
							&.institucional{
								@include order(1);
								&.help{
									width: 50%;
								}
								width: 50%;
								li{
									margin: 0px;
								}
							}
							&.atendimento{
								@include order(3);
								width: 100%;
								background-position: 18px 17px;	
								min-height: auto;
							}
							&.social{
								@include order(2);
								width: 50px;
								padding: 0px;
								text-align: center;
								height: auto;
								min-height: auto;
								margin-right: 40px;
								.title{
									display: block;
								}
								ul{
									text-align: center;
									li{
										a{
											background: none;
										}
									}
								}
							}
							&.newsletter{
								@include order(4);
								width: 100%;
								height: auto;
								fieldset{
									.field{
										input{
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
				.footer-bottom{
					position: relative;
					top: 0;
					height: auto;
					width: 100%;
					padding: 10px;
					text-align: center;
					display: block;
					.footer-payment{
						width: 100%;
						@include order(1);
						ul{
							text-align: center;
						}
					}
					.security{
						position: relative;
						top: 0;
						width: 100%;
						ul{
							text-align: center;
						}
					}
					.info-cli{
						position: relative;
						top: 0;
						width: 100%;
					}
				}
			}
			.copy{
				width: 100%;
				position: relative;
				top: 0px;
				background: rgb(255, 255, 255) none repeat scroll 0% 0%;
				padding: 20px;
			}
		}
	}
}