  /* ----------------------------------------------------------------------*/
 /* -----------------*>>> NAV INSTITUCIONAL <<<---------------------------*/
/* ----------------------------------------------------------------------*/



//Config -----------------------------------------------------------------------------/



//Components -----------------------------------------------------------------------/


//Style -----------------------------------------------------------------------------/
body{
	#main{
		.container{
			.open-mob-institucional{
				& + .nav{
					ul{
						li{
							h2{
								@extend %placeholder-heading;
								font-size: 20px;
								text-align: left;
								text-transform: uppercase;
								padding-bottom: 5px;
							}
							ul{
								li{
									a{
										&:before{
											color: $color-theme-1;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}