body {
	.form .title,
	.form .even .title {
		@extend %title-checkout;
	}
	&.checkout.close {
		.actions {
			.change-adress {
				@extend %btn-checkout-editar-endereco;
			}
			.change-service {
				@extend %btn-checkout-alterar-servico;
			}
		}
		#pnlPagamentos .finish .button-inactive {
			@extend %btn-checkout-fecharpedido-inativo;	
		}
		#pnlPagamentos .finish a {
			@extend %btn-checkout-fecharpedido;	
		}
		div.basket.box {
			.stamp {
				img {
					max-width: 100%;
				}
			}
		}
	}
	&.confirmacao {
		#main .container {
			 .request .actions a {
			 	@extend %btn-confirmacao-imprimir-boleto;
			 }
		}
	}

	&.alterarSenha {
		background: #fff;
	}
	&.partner {
		.main-content {
			margin: 0 auto !important;
		}
	}
	&.quickBasquet {
		.photo {
			width: 100px;
		}
		.section {
			margin: 0;
		}
		.list-products {
			> li {
				width: 25%;
			}
			.hproduct {
			    width: 150px !important;
			}
			.name {
			    @extend %product-name;
			    font-size: 12px;
			}
			.regular {
			    @extend %product-price-from;
			}
			.price {
			    @extend %product-price-to;
			    font-size: 12px;
			}
			.parcel {
			    @extend %product-parcel;
			    font-size: 11px;
			    span {
			    	font-family: $font-custom;
			    }
			}
		}
		.actions {
			li {
				a {
					@extend %btn-modal-quickbasket-fecharpedido;
					&.ContinuarComprando {
						@extend %btn-modal-quickbasket-comprarmais;
					}
				}
			}
		}
	}
}
