body {
    .section {
        padding: 0;
        margin-bottom: 30px;
        border: 0;
        &.description {
            background: #fff;
            padding-top: 65px;
            > div {
                @extend %detail-description-full;
            }
        }
        &.especificacion {
            background: #fff;
            #specificationContent {
                @extend %detail-description-full;
            }
        }
        
    }
    &.garantia #info-product {
        @extend %garantia;
    }
}
