body {
    #info-product {
        * {
            @include box-sizing;
            
        }      
        /* inicio - Collum Details */
            .collum.details {
                width: 424px;
                margin-right: 50px;
                float: right;
            }
            /* Product name :start */
                .name {
                    @extend %detail-name;
                }
            /* Product name:end */

            /* Fabricante:start */
                .fab-cod {
                    @extend %detail-fabricante;
                }
            /* Fabricante:end */

            /* rating:start */
                @extend %reviewaggregate;
                .reviewaggregate {
                    border-bottom: 0;
                    float: left;
                }
                #ajaxReviewAggregate {
                    @include clearfix;
                    .see-review,
                    .rate {
                        float: left;
                        margin: 6px 0 0 20px;
                        text-decoration: underline;
                        font-family: $font-custom;
                    }
                    .see-review.no0 {
                        display: none;
                    }
                }
                

            /* rating:end */

            /* Stamps:start */
                .stamp {
                    float: right;
                    max-width: 120px;
                }
            /* Stamps:end */

            /* Box Prices:start */
                .box-price {
                    @include clearfix;
                    border-bottom: 1px solid #c9c9c9;
                    padding-bottom: 25px;
                    margin-bottom: 20px;
                }
                #infoPrices {
                    float: left;
                    max-width: 260px;
                }
                .offers {
                    width: 100%;
                    margin: 0;
                    span {
                        margin: 0;
                    }
                }
                .price-from {
                    @extend %detail-price-from;
                }
                .price-to {
                    @extend %detail-price-to;
                }
                .desconto-avista {
                    @extend %detail-price-offer;
                    margin-bottom: 5px;
                    #lblFormaPagamentoAVista {
                        display: block;
                    }
                }
                .parcel {
                    @extend %detail-parcel;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
                .save {
                     @extend %detail-economize;
                }
            /* Box Prices:end */
            
            /* Tabs:start */
                #ajaxTabs {
                    width: 100%;
                }
                .tabs {
                    .tab-link {
                        h2 {
                            &.active {

                            }
                        }
                    }
                    .tab-content {

                    }
                }
            /* Tabs:end */

            /* Skus:start */
                .skus-product {
                    background: none;
                    border: 0;
                    padding: 10px 0;
                    .field {
                        background: none;
                        margin: 0 0 10px;
                        padding: 0;
                        clear: both;
                        @include clearfix;
                        position: relative;
                        overflow: visible;
                    }
                    .padrao-brasileiro {
                        @extend %detail-tabela-medida;
                    }
                    label {
                        float: left;
                        margin: 5px 10px 0 0;
                        padding: 5px 0 0 0;
                        font-weight: bold;
                        font-family: $font-custom;
                        text-transform: uppercase;
                        width: 70px;
                        text-align: right;
                        color: #000;
                        text-indent: 4px;
                        overflow: hidden;
                        span {
                            display: none;
                        }
                    }
                    ul {
                        float: left;
                        width: auto;
                        margin: 0;
                        max-width: 300px;
                        li {
                            margin-right: 7px;
                            margin-bottom: 10px;
                            opacity: 1;
                            &:last-child {
                                margin-right: 0;
                            }
                            &.selected,
                            &:hover {
                                a {
                                    background: #fff;
                                    border-color: $color-theme;
                                    color: $color-theme;
                                }
                            }
                            &.warn {
                                .ico.ir {
                                    top: 2px;
                                }
                            }
                            a {
                                width: 30px;
                                height: 30px;
                                display: block;
                                border-radius: 30px;
                                overflow: hidden;
                                line-height: 25px;
                                font-family: $font-custom;
                                border-width: 2px;
                                background: #eee;
                                opacity: 1;
                                img {
                                    width: 30px;
                                    height: 30px;
                                }
                            }
                        }
                    }
                }
            /* Skus:end */

            /* Comprar:start */
                #ProductBuy {
                    .txtQuantity {
                        @extend %detail-quantidade;
                    }
                }
                .action {
                    margin: 0 0 35px;
                    .btn.buy {
                        @extend %btn-detalhes-comprar;
                        width: 100%;
                    }
                }
                .notifyme.form  {
                    @extend %detail-notify;
                    background: #eee;
                    padding: 20px;
                }                
            /* Comprar:start */

            /* Descricao preview:start */
                #ajaxDescriptionPreview {
                    @extend %detail-description-preview;
                    padding-bottom: 38px;
                    border-bottom: 1px solid #c9c9c9;
                    @include clearfix;
                    width: 100%;
                    float: left;
                }
            /* Descricao preview:end */
            
            /* tools:start */
                .tools {
                    @extend %detail-tools;
                    #ajaxCommentsReview {
                        margin-left: 5px;
                        float: left;
                    }
                    li {
                        width: auto;
                        padding: 0;
                        &:first-child {
                            margin-left: 0;
                        }
                        &.add {
                            float: right;
                        }
                    }
                }
            /* tools:start */

            /* Disponibilidade:start*/
                .time {
                   @extend %detail-disponibilidade;
                }
            /* Disponibilidade:end*/
        /* fim    - Details */

        /* inicio - Collum Imagem */
            .collum.images {
                @include box-sizing(content-box);
                width: 560px;
                margin-right: 15px;   
            }
            .photo {
                width: $ft_detalhes_w;
                height: $ft_detalhes_h;
                border: 0 !important;
                float: right;
                .main {
                    width: $ft_detalhes_w;
                    height: $ft_detalhes_h;
                }
            }
            .zoom {
                background: none;
                display: none !important;
                
                .mouseover {
                    background: none;

                }
                #hplAmpliar {

                }
            }
            ul.thumbs {
                float: left;
                width: 60px;
                margin-left: 44px;
                margin-top: 0;
                li {
                    width: 57px;
                    height: 103px;
                    margin: 0 0 8px;
                    border: 0;
                    border-bottom: 1px solid #c9c9c9;
                    padding-bottom: 8px;
                    @include box-sizing(content-box);
                    img {
                        width: 57px;
                        height: 103px;
                    }
                    &:last-child {
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
            #videoDetalhe {
                margin: 0;
                border: 0;
                width: auto;
            }
            .social {
               @extend %detail-social;
            }
        /* fim    - Collum Imagem */
    }
    @extend %reviewaggregate;
    .section {
        h2 {
            @extend %detail-titile-vitrine;
        }
        &.description {
            > div {
                @extend %detail-description-full;
            }
        }
        &.especificacion {
            #specificationContent {
                @extend %detail-description-full;
            }
        }
        &.about {
            .hreview  {
                @extend %detail-review;
            }
            @extend %reviewaggregate-avalicao-dos-clientes;
        }
    }
}