body {
    #info-product {
        padding-bottom: 0px;

        .message,
        .sucess2{
            display: block;
            clear: both;
            margin: 10px 0;
            font-size: 11px;
        }
        * {
            @include box-sizing;
            
        }

        /* inicio - Collum desc */
            .collum.desc {
                width: 338px;
            }
        /* inicio - Collum desc */

        /* inicio - Collum Details */
            .collum.details {
                width: 500px;
                margin-right: 0;
                float: right;
                margin-bottom: 20px;
            }
            /* Product name :start */
                .name {
                    @extend %detail-name;
                }
            /* Product name:end */

            /* Fabricante:start */
                .fab-cod {
                    @extend %detail-fabricante;
                }
            /* Fabricante:end */

            /* rating:start */
                @extend %detail-reviewaggregate;
               

                #ajaxReviewAggregate {
                    @include clearfix;
                    .see-review,
                    .rate {
                        float: left;
                        margin: 6px 0 0 20px;
                        text-decoration: underline;
                        font-family: $font-custom;
                    }
                }
                

            /* rating:end */

            /* Stamps:start */
                .stamp {
                    float: right;
                    width: auto;
                    max-width: 200px;
                    img {
                        max-width: 97px;
                    }
                     a.linkProduto {
                        display: inline-block;
                        margin-left: 5px;
                        &:nth-child(2n+1) {
                            clear: left;
                            margin-left: 0;
                        }
                    }
                }
            /* Stamps:end */
 
            /* Box Prices:start */
                #infoPrices {
                    float: left;
                    width: 300px;
                    margin-bottom: 15px;
                }
                .offers {
                    width: 100%;
                    margin: 0;
                    span {
                        margin: 0;
                    }
                }
                .price-from {
                    @extend %detail-price-from;
                }
                .price-to {
                    @extend %detail-price-to;
                }
                .desconto-avista {
                    @extend %detail-price-offer;
                    #lblFormaPagamentoAVista {
                        display: block;
                    }
                }
                span:empty {
                    display: none;
                }
                .parcel {
                    @extend %detail-parcel;
                    font-family: $font-custom;
                    width: 100%;
                    margin: 0;
                    padding: 0;
                }
                .save {
                     @extend %detail-economize;
                }
            /* Box Prices:end */
            
            /* Tabs:start */
                #ajaxTabs {
                    width: 100%;
                }
                .tabs {
                    .tab-link {
                        h2 {
                            &.active {

                            }
                        }
                    }
                    .tab-content {

                    }
                }
            /* Tabs:end */

            /* Skus:start */
                .skus-product {
                    background: none;
                    border: 0;
                    padding: 0;
                    float: left;
                    min-width: 190px;
                    max-width: 300px;
                    clear: left;
                    .field {
                        background: none;
                        margin: 0 0 10px;
                        padding: 0;
                        clear: both;
                        @include clearfix;
                        position: relative;
                        overflow: visible;
                    }
                    .padrao-brasileiro {
                        @extend %detail-tabela-medida;
                        display: none;
                    }
                    label {
                        margin: 0 0 15px;
                        padding: 0 0 10px;
                        font-family: $font-custom;
                        color: #6e6e6e;
                        overflow: hidden;
                        font-weight: normal;
                        font-size: 14px;
                        border-bottom: 1px solid #b6b6b6;
                        span {
                            display: none;
                        }
                    }
                    ul {
                        float: left;
                        width: auto;
                        margin: 0;
                        max-width: 300px;
                        li {
                            margin-right: 7px;
                            margin-bottom: 10px;
                            opacity: 1;
                            border: 3px solid #fff;

                            &:last-child {
                                margin-right: 0;
                            }
                            &.selected,
                            &:hover {
                                border: 2px solid #d2d2d2;
                                a {
                                    background: #fff;
                                    color: $colorDefault;
                                }
                            }
                            &.warn {
                                .ico.ir {
                                    top: 26px;
                                    background: url("/static/locales/global/img/ico-excluir-sku.gif") no-repeat;
                                    width: 16px;
                                    height: 16px;
                                    top: -5px;
                                }
                            }
                            a {
                                display: block;
                                overflow: hidden;
                                line-height: 33px;
                                font-family: $font-custom;
                                font-weight: normal;
                                border: 1px solid #ccc;
                                background: #fff;
                                width: auto;
                                height: auto;
                                min-width: 33px;
                                opacity: 1;
                                img {
                                    width: 33px;
                                    height: 33px;
                                }
                            }
                        }
                    }
                }
                .indisponivel {
                    .skus-product {
                        width: 310px;
                    }
                    #ProductBuy {
                       width: 229px;
                    }
                }
            /* Skus:end */

            /* Comprar:start */
                .skus-product[style="display: none;"] + #ProductBuy {
                    float: left;
                    clear: both;
                    margin: 0;
                }
                #ProductBuy {
                    float: right;
                    margin: 40px 0 0;
                    .txtQuantity {
                        @extend %detail-quantidade;
                    }
                    #DROP_SKU_Comprar{
                        float: left;
                    }
                }
                .action {
                    margin: 0;
                    .btn.buy {
                        @extend %btn-detalhes-comprar;
                    }
                }
                .notifyme.form  {
                    @extend %detail-notify;
                    padding: 0 0 5px;
                }                
            /* Comprar:start */

            /* Descricao preview:start */
                #ajaxDescriptionPreview {
                    @extend %detail-description-preview;
                    @include clearfix;
                    width: 100%;
                    float: left;
                    margin-top: 15px;
                }
            /* Descricao preview:end */
            
            /* tools:start */
                .tools {
                    @extend %detail-tools;
                    @include clearfix;
                    float: right;
                    clear: none;
                    margin: 11px 0 0 0;
                    #ajaxCommentsReview {
                        margin-left: 0;
                        float: left;
                    }
                    li {
                        width: auto;
                        padding: 0;
                        margin: 0;
                        &:first-child {
                            margin-left: 0;
                            
                        }
                        &.add {
                            border-bottom-left-radius: 5px;
                            border-top-left-radius: 5px;
                        }
                        &.tabela-m {
                            margin: 0 47px;
                        }
                        &.delivery {
                            border-bottom-right-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                    }
                }
            /* tools:start */

            /* Disponibilidade:start*/
                .time {
                   @extend %detail-disponibilidade;
                }
            /* Disponibilidade:end*/
        /* fim    - Details */

        /* inicio - Collum Imagem */
            .collum.images {
                width: 450px;
                margin: 0;  
                @include box-sizing();

                .thumbnail{
                    float: left;
                    width:80px;
                }
                .photo {
                    width: $ft_detalhes_w;
                    height: $ft_detalhes_h;
                    border: none !important;
                    display: inline-block;
                    margin-bottom: 10px;
                }
            }
            .photo {
                width: $ft_detalhes_w;
                height: $ft_detalhes_h;
                border: 0 !important;
                float: right;
                .main {
                    width: $ft_detalhes_w;
                    height: $ft_detalhes_h;
                }
            }

            .zoom {
                background: none;
                display: none;
                
                .mouseover {
                    background: none;

                }
                #hplAmpliar {

                }
            }
            ul.thumbs {
                margin-top: 0px;
                margin-left: 0px;
                li {
                    width: 60px;
                    height: 60px;
                    margin: 0 0 5px;
                    clear: both;
                    border: 0;
                    a.selected {
                        img {
                            border: 2px solid #bcbcbc;
                            display: block;
                        }
                    }
                    img {
                        width: 60px;
                        height: 60px;
                    }
                    &:last-child {
                        border-bottom: 0;
                        padding-bottom: 0;
                    }
                }
            }
            #ajaxVideoDetail {
                position: absolute;
                top: 327px;
                margin: 0;
            }
            #videoDetalhe {
                border: 0;
                width: auto;
                margin: 0;
                img {
                    width: 60px;
                    height: 60px;
                }
            }
            .social {
                @extend %detail-social;
                clear: both;
            }
        /* fim    - Collum Imagem */
    }
    @extend %reviewaggregate;
    .section {
        padding: 0;
        margin-bottom: 30px;
        border: 0;
        h2 {
            @extend %detail-titile-vitrine;
        }
        &.description {
            background: #fff;
            padding-top: 65px;
            > div {
                @extend %detail-description-full;
            }
        }
        &.especificacion {
            background: #fff;
            #specificationContent {
                @extend %detail-description-full;
            }
        }
        &.about {
            .hreview  {
                @extend %detail-review;
            }
            @extend %reviewaggregate-avalicao-dos-clientes;
        }
    }
    &.garantia #info-product {
        @extend %garantia;
    }
}
