/* ----------------------------------------------------------------------*/
/* ----------------------*>>> PAGES - HOME <<<--------------------------*/
/* --------------------------------------------------------------------*/
body {
    &.home {
        #main {
            .container {
                @include box-sizing;
                width: 100%;
                padding-right: 0;
                padding-left: 0;
                .content {
                    margin: 0 auto;
                    width: $page-width;
                }
                
                .aside {
                    @extend %rk-hide;
                }

                .section {
                    border: none;
                }

                .categ-desc {
                    font-family: arial;
                    line-height: 18px;
                    text-align: justify;
                }
            }
        }
    }
    &.home,
    &.vitrine {
        .section {
            border-bottom: 0;
        }
    }
}