/* ----------------------------------------------------------------------*/
/* ----------------------*>>> PAGES - HOME <<<--------------------------*/
/* --------------------------------------------------------------------*/
body {
    &.home {
        #main {
            .container {
                padding: 0;
                width: 100%;
                @include box-sizing;
                
                .aside {
                    display: none;
                }
                .content {
                    margin: 0 auto;
                    width: $larguraPadrao; 
                    padding-top: 100px;
                }
                .banners ~ .content {
                    padding-top: 0;
                }

                .section {
                    border: none;
                }

                .categ-desc {
                    font-family: arial;
                    line-height: 18px;
                    text-align: justify;
                }
            }
        }
    }
}