body {
   
    /* Mapa do site */
    &.sitemap {
        h1 {
            font-family: $font-custom;
            font-weight: 300;
            color: #000;
            margin: 10px 0 20px 0 !important;
        }

        h2 a {
            color: $color-theme;
            font-family: $font-custom;
            font-size: 14px;
            font-weight: bold;
        }
        .col strong {
            font-family: $font-custom;
        }
        ul {
            li {
                line-height: 14px;
                margin-bottom: 5px;
            }
        }
    }
}