form[action*="loginafiliado"] {
    #main .login .btn.continue {
        margin: 22px 0 0 0 !important;
    }
}
body {
    &.loginpage {
        .main-content h1 {
            @extend %title-checkout;
        }
        .main-content {
            margin: 0 !important;
        }
        .login {
            border: 1px dotted #cccccc;
            margin-top: 50px !important;
            margin-bottom: 50px !important;

            .collum {
                &.box {
                    .field {
                        a {
                            line-height: 35px;
                            width: 99px;
                        }
                    }
                }
                &.even {
                    input.email {
                        width: 100% !important;
                        margin-bottom: 10px;
                    }
                }
                &:not(.even) {
                    dl {
                        position: static;
                    }
                }
            }
            .btn.enter {
                @extend %btn-login-entrar;
            }
            .btn.continue {
                @extend %btn-login-continuar;
                margin: 5px 0 0 0 !important;
            }
            input[type="text"],
            input[type="password"] {
                width: 100%;
                height: 35px !important;
                padding: 7px !important;
                box-sizing: border-box;
            }
            #txtEmail {
                width: 100% !important;
            }
            
        }
    }
    &.loginpage.request {
        .form {
            .title {
                background: none;
            }
            input[type="text"] {
                width: 100% !important;
                margin-bottom: 10px;
            }
        }
    }
    #formcadastro_btnSalvar {
        @extend %btn-salvar-cadastro;
    }
    &.register {
        #spanMsgValidacaoNumero {
            left: 0;
        }
    }
    &.affiliates {
        .btn.ir.save {
            @extend %btn-afiliado-salvar;
        }
    }
    .reports {
        .btn.ir.search {
            @extend %btn-afiliado-pesquisar-relatorio;
        }
    }
    &.partner {
        .btn.continue {
            @extend %btn-login-continuar;
        }
    }
}