body.lookDetalhe {
    #info-product {
        width: 100%;

        div.collum.details {
            width: 100%;
            margin: 0;
            float: left;
            @include clearfix;

            .box-middle {
                float: left;
                width: 33%;
                padding: 0 20px;
            }

            span:empty {
                display: none;
            }
            .description {
                padding: 0;
                margin: 0;
                color: #000;
                border: 0;
                font-family: $font-custom;
                line-height: 14px;
            }
            .reviewaggregate {
                border: 0;
            }
            .tools {
                margin: 0;
            }

        }

        .box-full {
            @include clearfix;
            float: left;
            width: 100%;
            padding-top: 20px;            
        }

        div.collum.images {
            width: 470px;
            .thumbs {
                margin: 0;
            }
        }

        div.aside {
            display: block;
            width: 750px;
            span.title {
                font-weight: bold;
                color: $color-theme2;
                font-family: $font-custom;
                font-size: 14px;
                text-transform: uppercase;
            }
            .photo {
                width: 120px;
                height: auto;
            }
            .btn.select-look {
                @extend %btn-look-selecionar-produtos;
                margin: 0;
                line-height: 26px;
            }
            .buy.selected.btn {
                @extend %btn-look-comprar-produtos;
                margin: 0;
                float: right;
                line-height: 38px;
            }
            .pieces {
                background: none;
                width: 100%;
                clear: both;
                .title {
                    background: none;
                    color: #000;
                }
                .name {
                    background: none;
                     span {
                        background: none;
                        font-weight: normal;
                        font-family: $font-custom;
                     }
                }
                .skus-cores {
                    width: 200px !important;
                    margin-bottom: 10px !important;
                    li {
                        border-radius: 30px;
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        img {
                            width: 30px;
                            height: 30px;
                            border: 0;
                        }
                    }
                }
                > ul {
                    > li {
                        background: none;
                        float: left;
                        display: inline-block;
                        width: 50%;
                        padding-right: 45px;
                        &:nth-child(2n +1) {
                            clear: left;
                        }
                    }
                }
                .details {
                    width: 100%;
                    clear: both;
                }
                .notifyme {
                    background: none;
                    padding: 0;
                    label {
                        @include clearfix;
                        width: 100%;
                        input {
                            width: 100% !important;
                            clear: both;
                        }
                    }
                    .btn {
                        margin: 0;
                    }
                }
            }
        }

    }

}