body.lookDetalhe {
    .aside {
        .name {
            line-height: normal;
            padding: 0;
            margin: 0;
        }
    }
    .pieces {
        background: none;
        .title {
            background: none;
            color: #000;
        }
        .name {
            background: none;
        }
        > ul {
            > li {
                background: none;
            }
        }
    }
}	