body.lookDetalhe {
    #info-product {
        width: 100%;

        div.collum.details {
            width: 100%;
            margin: 0;
            float: left;
            @include clearfix;

            .box-middle {
                float: left;
                width: 33%;
                padding: 0 20px;
            }

            span:empty {
                display: none;
            }
            .description {
                padding: 0;
                margin: 0;
                color: #000;
                border: 0;
                font-family: $font-custom;
                line-height: 14px;
            }
            .reviewaggregate {
                border: 0;
                .count {
                    a {
                        text-decoration: underline;
                        font-family: $font-custom;
                        line-height: 16px;
                    }
                }
            }
            .tools {
                margin: 0;
            }

        }

        .box-full {
            @include clearfix;
            float: left;
            width: 100%;
            padding-top: 20px;            
        }

        div.collum.images {
            width: 470px;
            .thumbs {
                margin: 0;
            }
            #videoDetalhe {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        div.aside {
            display: block;
            width: 750px;
            span.title {
                @extend %look-title-pecas;
            }
            .photo {
                width: 120px;
                height: auto;
            }
            .btn.select-look {
                @extend %btn-look-selecionar-produtos;
                margin: 0;
                line-height: 26px;
            }
            .buy.selected.btn {
                @extend %btn-look-comprar-produtos;
                margin: 0;
                float: right;
                line-height: 38px;
            }
            .pieces {
                @include clearfix;
                padding-top: 20px;
                background: none;
                width: 100%;
                clear: both;
                .title {
                    background: none;
                    color: #000;
                }
                ul {
                    @include clearfix;
                }
                .name {
                    background: none;
                    @extend %look-piece-name;
                }
                .field {
                    label span {
                        color: $color-theme;
                    }
                }
                .info {
                    float: right;
                    width: 220px;
                }
                .skus-cores {
                    @extend %look-sku-cores;
                }
                > ul {
                    > li {
                        background: none;
                        float: left;
                        display: inline-block;
                        width: 50%;
                        &:nth-child(2n +1) {
                            clear: left;
                            padding-right: 30px;
                        }
                    }
                }
                .details {
                    width: 100%;
                    clear: both;
                }
                .notifyme {
                    @extend %look-notify;
                }
            }
        }

    }

}