body {
    /* inicio - Minha conta Pagina inicial */
	    &.account {
	        .nav {
	            a {
	                font-family: $font-custom;
	                font-size: 14px;

	                &:hover {
	                    color: $link-ch;
	                }
	            }
	        }
	    }
    /* fim    - Minha conta Pagina inicial */

    /* inicio - Lista de desejos*/
	    .desired-products {
	    	span {
	    		a {
	    			color: $link-c;
	    		}
	    	}
	    	.details {
	    		.offers {
	    			text-align: center;
	    			.sale {
	    				display: block !important;
	    				&.percent-a-vista {
	    					@extend %detail-price-offer;
	    				}
	    			}
	    		}
		        .btn.ir.buy {
		            margin: 0 auto;
		            min-width: 150px;
		            float: none;
		        }
	    	}
	        .figure {
	            width: $ft_vitrine_w;
	            border: 1px solid #ccc;

	            img {
	                border: 0 !important;
	                width: 100%;
	            }
	        }
	        textarea {
    			width: 100%;
    		}
    		.btn.ir.save {
    			@extend %btn-listadesejo-salvar;
    		}
    		.notifyme.form {
    			width: 300px;
    			margin: 0 auto;
    			input[type="text"] {
    			    height: 40px;
    			}
    			.btn.send.ir {
    			    @extend %btn-listadesejo-enviar-notify;
    			}
    		}
    		.btn.send.ir {
    			width: auto;
    		}
	    }
	    .filter-wish {
	    	.btn.ir.search {
	    		@extend %btn-listadesejo-pesquisar;
	    		@extend %btn-sm;
	    	}
	    }
    /* fim    - Lista de desejos*/

    /* inicio - Conta Corrente*/
	    &.contaCorrente {
	    	.box.form {
	    		background: #f1f1f1;
	    		border: 1px solid #ccc;
	    		border-radius: 5px;
	    	}

	    }
    /* fim    - Conta Corrente*/

    /* incio - Meus Pedidos */
    	&.search {
    		a.description {
    			color: $link-c;
    			font-family: $font-custom;
				font-size: 13px;
    		}
    		.result {
    			td {
    				a {
    					color: $link-c;
    					text-decoration: underline;
    				}
    			}
    		}
    		#panCentro {
    			.field.checkbox {
    				padding: 5px; /* safari bug fix*/
    				input[type="radio"] {
    					margin: 6px 6px 0 0;
    				}
    			}
    		}
    	}
    	&.meuspedidos {
    		.request .warning {
    			color: #ff1e00;
    			font-family: $font-custom;
    			font-size: 14px;
    		}
    	}
    /* fim   - Meus Pedidos */

    /*inicio - Meus Cartoes*/
	    .internal .return .btn.buy {
	    	@extend %btn-meuscartoes-comprar-produtos;
	    }
	    &.mycards {
	    	h1.mycards-title {
	    		@extend %title-checkout2;
	    		border-bottom: 0;
	    	}
	    	p.mycards-txt {
				line-height: 22px;
				font-size: 13px;
	    	}
	    	.new-card {
	    		h2 {
	    			text-align: center;
	    		}
	    	}
	    	.add-new-card {
	    		@extend  %btn-meuscartoes-cadastrar-cartao;
	    		display: inline-block;
	    	}
	    	.save.btn.ir {
	    		@extend  %btn-meuscartoes-cadastrar;
	    	}
	    }
    /*fim - Meus Cartoes*/
}