body.quickview {
	background: none;
	#main {
		
	}
	#main .container {
		width: 100%;
		@include box-sizing;
	}
	div.thumbs{
		width: auto !important;
		border:none !important;
	}
	#info-product {
		min-height: 10px !important;
		margin: 20px 20px 20px 0;
		.skus-product{
			width: 100%;
		}
		.fab-cod {
			margin-bottom: 0;
		}
		.stamp {
			float: right;
			width: 100px;
			a {
				display: inline-block;
				vertical-align: top;
			}
			max-width: 100%;
		}
		.photo {
			float: right;
			.main{
				
			}
		}

		.collum.images{
			.thumbnail{
				
			}
		}
		.collum.details {
			width: 480px;
			width: calc(100% - 620px);
		}
		.box-tools {
			margin: 10px 0 0;
			float: left;
		}

		.reviewaggregate {
			display: none;
		}

		#infoPrices {
			margin-top: 5px !important;
		}
		.social {
			
		}
		ul.thumbs {
			
		}
		#ProductBuy {
			margin-top: 20px !important;
		}

	}

}
body{
    &.home,
    &.catalog,
    &.vitrine{
        #fancybox-wrap{

            #fancybox-outer{

                #fancybox-close{
                    
                }
            }
            #fancybox-content{                
                           
            }
        }
    }
} 