/* GLOBAL *****************************************************/
$color-theme-1: #AEAEAE;
$color-theme-1-alt: #AEAEAE;
$color-theme-2: #1E1E1C;
$color-font-1: #1E1E1C;
$color-title: #373435;
$color-text-1: #383435;
$bt-bg-1: #1E1E1C;
$bt-border-1: #1E1E1C;
$bt-bg-2: #AEAEAE;
$bt-border-2: #AEAEAE;
$bt-bg-3: #EDE9E6;
$bt-border-3: #D1D1D1;