/* -------------------------------------------------------*/
/* -----------------*>>> FONTES <<<----------------------*/
/* -------------------------------------------------------*/

$font-def:   'Source Sans Pro', sans-serif;
$font-alt-1: 'Source Sans Pro', sans-serif;
$font-alt-1-bold: 'Source Sans Pro', sans-serif;
$font-alt-1-light: 'Source Sans Pro', sans-serif;
$font-alt-2: 'Source Sans Pro', sans-serif;