/* -------------------------------------------------------*/
/* -----------------*>>> FOOTER <<<----------------------*/
/* -----------------------------------------------------*/

// Config -----------------------------------------------------------------------------/


// Components -----------------------------------------------------------------------/
%footer-newsletter{
	@include bgimg(newsletter-icon, png);
	background-repeat: no-repeat;
	background-position: 0px 21px;
	background-color: transparent;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 60px;
	padding-left: 40px;
	padding-top: 0px;
	*{
		@include box-sizing();
	}
	.title{
		display: block;
		float: left;
		margin: 0px;
		*{
			height: 60px;
			line-height: 60px;
		}
		span{
			@include fonte($font-alt-1, normal, 24px, #373435);
		}
	}
	.news-description{
		@include fonte($font-def, normal, 13px, #373435);
		display: block;
		float: left;
		height: 60px;
		letter-spacing: 1px;
		padding-left: 30px;
		padding-top: 16px;
		margin-right: 30px;
	}
	.field{
		@include border-radius(3px);
		background: transparent;
		padding: 5px;
		padding-top: 16px;
		margin-right: 10px;
		float: left;
		input{
			@include box-sizing();
			@include border-radius(0px);
			@include fonte($font-alt-1-light, normal, 16px, #373435);
			letter-spacing: 1px;
			background-color: #FFF;
			-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
			-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
			box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
			border: {
				top: 0px;
				right: 0px;
				bottom: 1px solid #000;
				left: 0px;
			}
			width: 300px;
			height: 30px;
			padding: 0px 10px;
		}
	}
	a{
		@extend %bt-footer-enviar;
	}
}
%footer-social{
	position: absolute;
	top: 20px;
	right: 0px;
	width: auto;
	.title{
		display: none;
	}
	ul{
		text-align: right;
		li{
			display: inline-block;
			margin: 0px 5px;
			a{
				i{
					font-size: 22px;
					color: #FFF;
					background: #363435;
					height: 30px;
					width: 30px;
					line-height: 30px;
					text-align: center;
					&:hover {
						background:darken(#363435,8%);
						transition: all 0.3s ease;
						background: #EDEAE5;
						&.fa-facebook{
							color: #3b5998;
						}
						&.fa-twitter{
							color: #55ACEE;
						}
						&.fa-instagram{
							color: #FCCC63;
						}
						&.fa-youtube{
							color: #bb0000;
						}
						&.fa-pinterest{
							color: #cb2027;
						}
					}

				}
			}
		}
	}
}
%footer-cols-default{
	@include box-sizing();
	width: 22%;
	display: block;
	border-left: 0px solid #D9D9D9;
	position: relative;
	left: auto;
	right: auto;
	top: 15px;
	text-align: left;
	padding-left: 10px;
	float: left;
	height: auto;
	min-height: 195px;
	.title{
		@include fonte($font-alt-1, normal, 18px, #373435);
		text-transform: uppercase;
		letter-spacing: 1px;
		span{
			@include fonte($font-alt-1, normal, 18px, #373435);
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		margin-bottom: 10px;
	}
	ul{
		li{
			padding: 0px;
			margin: 5px 0px;
			list-style: none;
			background: none;
			a{
				@include fonte($font-def, normal, 13px, #808080);
			}
		}
	}
}
%footer-atendimento{
	@include bgimg(icon-footer-tel, png);
	background-repeat: no-repeat;
	background-position: 0px 12px;
	padding-left: 38px;
	.title{
		margin-bottom: 0px;
	}
	.atend-phone{
		padding-left: 0px;
		height: 20px;
		line-height: 20px;
		margin: 0px;
		strong{
			@include fonte($font-alt-1-bold, normal, 20px, #373435);
			letter-spacing: 1px;
		}
	}
	.atend-horario{
		@include fonte($font-def, normal, 13px, #808080);
	}
	.atend-email{
		display: none;
		strong{
			@include fonte($font-def, bold, 12px, #333);
		}
		span{
			@include fonte($font-def, normal, 15px, #555);
		}
	}
}
%footer-payment{
	.footer-payment{
		top: 0px;
		left: 0px;
		width: 250px;
		width: auto;
		background-image: none;
		.title{
			display: none;
		}
		ul{
			text-align: left;
			@include flexbox(inline-flex, row, wrap, center);
			li{
				@include bgimg(sprite-cards, png);
				background-repeat: no-repeat;
				width: 48px;
				height: 32px;
				margin: 0px 10px 10px 0px;
				display: none;
				&.sprite-aura{
					background-position: 0px 0px;
				}
				&.sprite-bb{
					background-position: 0px -44px;
				}
				&.sprite-banrisul{
					background-position: 0px -88px;
				}
				&.sprite-boleto{
					background-position: 0px -133px;
				}
				&.sprite-bradesco{
					background-position: 0px -178px;
				}
				&.sprite-dinners{
					background-position: 0px -265px;
				}
				&.sprite-elo{
					background-position: 0px -309px;
				}
				&.sprite-hipercard{
					background-position: 0px -398px;
				}
				&.sprite-hsbc{
					background-position: 0px -443px;
				}
				&.sprite-itau{
					background-position: 0px -486px;
				}
				&.sprite-mastercard{
					background-position: 0px -531px;
				}
				&.sprite-paypal{
					background-position: 0px -663px;
				}
				&.sprite-visa{
					background-position: 0px -797px;
				}
				&.sprite-amex{
					background-position: 0px -839px;
				}
				@each $pay in $payments{
					$i: index($payments, $pay);
					&.sprite-#{$pay}{ 
						order: $i;
						display: inline-flex; 
					}
				}
			}
		}
	}
}
%footer-info-cli{
	.info-cli{
		position: absolute;
		top: 60px;
		left: 0px;
		@include fonte($font-def, normal, 12px, #808080);
		line-height: 10px;
	}
}
%footer-security{
	.security{
		position: absolute;
		top: -10px;
		right: 0px;
		left: auto;
		width: auto;
		background-image: none;
		ul{
			text-align: right;
			li{
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}
%footer-copy{
	width: $page-width;
	margin: 0px auto;
	border: none;
	position: absolute;
	top: 395px;
	right: 0px;
	padding: 0px;
}

// Style --------------------------------------------------------------------------/
#footer{
	*{
		@include box-sizing();
	}
	background: transparent;
	height: auto;
	border: {
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
	.container{
		@include bgimg(bg-footer, jpg);
		background-repeat: repeat-x;
		background-position: top left;
		width: 100%;
		height: 478px;
		.footer-top{
			width: $page-width;
			height: 60px;
			margin: 0px auto;
			position: relative;
			.newsletter{
				@extend %footer-newsletter;
			}
		}
		.footer-middle{
			position: absolute;
			top: 60px;
			width: 100%;
			height: 230px;
			background-color: transparent;
			.footer-middle-cont{
				position: relative;
				margin: 0px auto;
				width: $page-width;
				.collum{
					@extend %footer-cols-default;
					&.atendimento{
						@extend %footer-atendimento;
					}
					&.social{
						@extend %footer-social;
					}
				}
			}
		}
		.footer-bottom{
			position: absolute;
			top: 310px;
			width: 100%;
			height: 135px;
			.footer-bottom-cont{
				width: $page-width;
				margin: 0px auto;
				position: relative;
				@extend %footer-payment;
				@extend %footer-info-cli;
				@extend %footer-security;
			}
		}
		.copy{
			@extend %footer-copy;
		}
	}
}

.footerbuy{
	#footer{
		*{
			@include box-sizing();
		}
		background: transparent;
		height: auto;
		border: {
			top: 1px solid #D1D1D1;
			right: 0px;
			bottom: 0px;
			left: 0px;
		}
		.container{
			width: 100%;
			height: auto;
			.footer-top,
			.footer-middle{
				display: none;
			}
			.footer-bottom{
				position: absolute;
				top: 20px;
				width: 100%;
				height: 135px;
				.footer-bottom-cont{
					width: $page-width;
					margin: 0px auto;
					position: relative;
					.info-cli{
						@extend %footer-info-cli;
					}
					.security{
						@extend %footer-security;
					}
				}
			}
			.copy{
				top: 80px;
				@extend %footer-copy;
			}
		}
	}
}
