  /* ------------------------------------------------------------*/
 /* -----------------*>>> HISTORY <<<---------------------------*/
/* ------------------------------------------------------------*/



//Config -----------------------------------------------------------------------------/


//Components -----------------------------------------------------------------------/


//Style -----------------------------------------------------------------------------/
body{
	#divHistoricoNavegacao{
		&.history{
			border-top: 0px solid #DDD9D6;
			width: $page-width;
			margin: 0px auto;
			.prod-view{
				.title{
					@extend %placeholder-heading;
				}
				.list-products{
					padding-left: 70px;
					.hproduct{
						@extend %placeholder-hproduct;
						width: $ft-thumb-w + 20;
						.figure{
							@extend %placeholder-history-list-prod-photo;
						}
						.details{
							.link{
								@extend %placeholder-history-list-prod-name;
								@extend %placeholder-list-prod-offers;
								@extend %placeholder-list-prod-parcel;
							}
						}
						@extend %placeholder-list-prod-indisponivel;
					}
					.owl-controls{
						.owl-buttons{
							top: 120px;
							@extend %placeholder-owl-buttons;
							.owl-next{
								position: absolute;
								left: 1109px;
							}
							.owl-prev{
								position: absolute;
								left: -70px;
								right: auto;
							}
						}
					}
				}
				.list-products:not(.owl-carousel){
					text-align: center;
					li{
						float: none;
						width: 24%;
						margin: 0px;
					}
				}
			}
		}
	}
}


/* History - Look */
.look{
	#divHistoricoNavegacao{
		&.history{
			.hproduct{
				.details{
					.link{
						@extend %placeholder-list-prod-look-offers;
					}
				}
			}
		}
	}
}