/* -------------------------------------------------------*/
/* ------------------*>>> ASIDE <<<----------------------*/
/* -----------------------------------------------------*/

// Config -----------------------------------------------------------------------------/
$aside-link-colors: #4f4f4f;
$aside-w: 200px;

// Components -----------------------------------------------------------------------/
%aside-title{
	.title{
		background: #FFF;
		@extend %text-aside-title;
		margin: 0px;
		padding: 12px 15px;
		padding-bottom: 0px;
		padding-left: 5px;
		border-top: 1px solid #AEAEAE;
		cursor: pointer;
		& + ul{
			display: none;
		}
		&:after{
			content: "+";
			@extend %text-aside-title;
			float: right;
			font-size: 18px;
		}
		&.minus{
			&:after{
				content: "-";
				@extend %text-aside-title;
				float: right;
				font-size: 18px;
			}
		}
	}
}

// Style ---------------------------------------------------------------------------/
#main{
	.container{
		.aside{
			@include box-sizing();
			width: $aside-w;
			.banners{
				&.b-left{
					@extend %banner-aside;
				}
				&.b-specialstore{
					@extend %banner-aside-specialstore;
				}
			}
			.filters{
				@extend %aside-title;
				@include border-radius();
				background: #FFF;
				border: 1px solid #FFF;
				margin-bottom: 10px;
				#pFilters{
					@include fonte($font-def, bold, 13px, $aside-link-colors);
					text-transform: none;
				}
				fieldset{
					display: none;
				}
				ul{
					margin-right: 0px;
					li{
						background: none;
						.type{
							background: none;
							padding-left: 0px;
							@extend %text-aside-item;
						}
						.item{
							padding-left: 0px;
							padding-right: 0px;
							@extend %text-aside-item;
							.delete{
								@include imgbt(bt-aside-excluir, png, 17, 17);
							}
							.item{
								@extend %text-aside-item;
								margin-top: 0px;
								.delete{
									@include imgbt(bt-aside-excluir, png, 17, 17);
								}
							}
						}
					}
				}
			}

			.block{
				@extend %aside-title;
				@include border-radius(3px);
				background: #FFF;
				border: 1px solid #FFF;
				margin-bottom: 10px;
				&.custom{
					> li{
						padding: 10px;
					}
				}
				ul{
					&.skuFiltro{
						margin: 0px;
						padding: 10px;
						border-top: 1px solid #EBEBEB;
						.filterBlock{
							li{
								@include box-sizing();
								@include border-radius();
								margin: 4px;
								border: 2px solid #DEDEDE;
								overflow: hidden;
								&:hover{
									border-color: #646464;
								}
								a{
									width: 100%;
									height: 100%;
									border: 0px;
									img{
										width: 100%;
										height: 100%;
										border: 0px;
									}
								}
							}
						}
					}
					li{
						background: none;
						> span{
							@extend %text-aside-subtitle;
							padding-left: 0px;
							background: none;
						}
						> a{
							background: none;
							padding-left: 0px;
							@extend %text-aside-item;
						}
						ul{
							padding-left: 10px;
							li{
								a{
									background: none;
									padding-left: 0px;
									@extend %text-aside-item;
								}
								&.sub{
									@extend %text-aside-item;
									padding-left: 0px;
								}
							}
						}
					}
				}
				&.custom{
					.title{
						span{
							padding-left: 0px;
							background: none;
						}
					}
					li{
						a{
							background: none;
							padding-left: 0px;
							@extend %text-aside-item;
						}
					}
				}
			}
			.newsletter{
				display: none;
			}
			.b-specialstore{
				@extend %aside-title;
				.ico{
					padding-left: 0px;
					background: none;
				}
				@include border-radius();
				background: #FFF;
				border: 1px solid #FFF;
				margin-bottom: 10px;
			}
		}	
	}
}