/* -------------------------------------------------------*/
/* -----------------*>>> FOOTER <<<----------------------*/
/* -----------------------------------------------------*/

// Config -----------------------------------------------------------------------------/


// Components -----------------------------------------------------------------------/
%footer-instagram{
	.instagram{
		padding-top: 15px;
		border-top: 1px solid #AEAEAE;
		.t-instagram{
			width: 100%;
			text-align: center;
			strong{
				@extend %text-footer-insta-strong;
			}
			span{
				@extend %text-footer-insta-span;
			}
		}
	}
}
%footer-newsletter{
	&.newsletter{
		position: inherit;
		background-color: transparent;
		*{
			@include box-sizing();
		}
		.news-description{
			@extend %text-footer-collum-title;
			display: block;
		}
		.field{
			background: transparent;
			padding: 5px;
			padding-top: 12px;
			margin-right: 10px;
			float: none;
			input{
				@include box-sizing();
				@include border-radius(0px);
				@include fonte($font-def, normal, 10px, #767676);
				text-transform: uppercase;
				background-color: transparent;
				-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
				-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
				box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
				border: 0px;
				border-bottom: 1px solid #000;
				width: 200px;
				height: 30px;
				padding: 0px 10px;
			}
		}
		a{
			@extend %bt-footer-enviar;
		}
	}
}
%footer-morena-rosa{
	&.morena-rosa{
		padding-top: 70px;
		@include bgimg(logo-morena-rosa, png);
		background-repeat: no-repeat;
		width: 250px;
		span{
			@include fonte($font-def, normal, 11px, #767676);
			text-transform: uppercase;
		}
		ul{
			text-align: center;
			@include flexbox(inline-flex, row, wrap, space-between);
			width: 100%;
			padding-top: 10px;
			li{
				width: auto;
				.morena-rosa{
					@include bgimg(ico-morena-rosa, png);
					background-repeat: no-repeat;
					width: 108px;
					height: 15px;
					display: flex;
				}
				.leboh{
					@include bgimg(ico-leboh, png);
					background-repeat: no-repeat;
					width: 63px;
					height: 15px;
					display: flex;
				}
				.zinco{
					@include bgimg(ico-zinco, png);
					background-repeat: no-repeat;
					width: 60px;
					height: 15px;
					display: flex;
				}
			}
		}
	}
}
%footer-social{
	&.social{
		width: auto;
		text-align: center;
		.title{
			display: none;
		}
		ul{
			text-align: center;
			@include flexbox(inline-flex, row, wrap, center);
			li{
				margin: 0px 5px;
				padding: 0px;
				a{
					i{
						@include border-radius(50px);
						font-size: 21px;
						color: #FFF;
						background: #000000;
						height: 33px;
						width: 33px;
						line-height: 33px;
						text-align: center;
						&:hover {
							background:darken($color-theme-1,8%);
							transition: all 0.3s ease;
							background: $color-theme-1;
							&.fa-facebook{
								color: #3b5998;
							}
							&.fa-twitter{
								color: #55ACEE;
							}
							&.fa-instagram{
								color: #FCCC63;
							}
							&.fa-youtube{
								color: #bb0000;
							}
							&.fa-pinterest{
								color: #cb2027;
							}
						}

					}
				}
			}
		}
	}
}
%footer-cols-default{
	@include box-sizing();
	width: auto;
	display: block;
	border-left: 0px solid #D9D9D9;
	position: relative;
	left: auto;
	right: auto;
	top: 15px;
	text-align: left;
	padding-left: 10px;
	float: left;
	height: auto;
	min-height: 195px;
	.title{
		@extend %text-footer-collum-title;
		span{
			@extend %text-footer-collum-title;
		}
		margin-bottom: 10px;
	}
	ul{
		li{
			padding: 0px;
			margin: 6px 0px;
			list-style: none;
			background: none;
			a{
				@extend %text-footer-collum-item;
			}
		}
	}
}
%footer-payment{
	.footer-payment{
		position: inherit;
		background-image: none;
		@include filter(grayscale, 100%);
		.title{
			@extend %text-footer-collum-title;
			span{
				@extend %text-footer-collum-title;
			}
			margin-bottom: 10px;
		}
		ul{
			text-align: left;
			@include flexbox(inline-flex, row, wrap, center);
			li{
				@include bgimg(sprite-cards, png);
				background-repeat: no-repeat;
				width: 48px;
				height: 32px;
				margin: 0px 10px 10px 0px;
				display: none;
				&.sprite-aura{
					background-position: 0px 0px;
				}
				&.sprite-bb{
					background-position: 0px -44px;
				}
				&.sprite-banrisul{
					background-position: 0px -88px;
				}
				&.sprite-boleto{
					background-position: 0px -133px;
				}
				&.sprite-bradesco{
					background-position: 0px -178px;
				}
				&.sprite-dinners{
					background-position: 0px -265px;
				}
				&.sprite-elo{
					background-position: 0px -309px;
				}
				&.sprite-hipercard{
					background-position: 0px -398px;
				}
				&.sprite-hsbc{
					background-position: 0px -443px;
				}
				&.sprite-itau{
					background-position: 0px -486px;
				}
				&.sprite-mastercard{
					background-position: 0px -530px;
				}
				&.sprite-paypal{
					background-position: 0px -663px;
				}
				&.sprite-visa{
					background-position:  0px -795px;
				}
				&.sprite-amex{
					background-position: 0px -839px;
				}
				@each $pay in $payments{
					$i: index($payments, $pay);
					&.sprite-#{$pay}{ 
						order: $i;
						display: inline-flex; 
					}
				}
			}
		}
	}
}
%footer-atendimento{
	&.televendas,
	&.sac,
	&.chat{
		padding-top: 45px;
		strong{
			display: block;
			text-align: center;
			@include fonte($font-def, bold, 14px, $color-theme-2);
		}
		span{
			display: block;
			text-align: center;
			@include fonte($font-def, normal, 12px, $color-theme-2);
		}
	}
	&.televendas{
		@include bgimg(ico-footer-televendas, png);
		background-repeat: no-repeat;
		background-position: top center;
		span{
			font-size: 14px;
		}
	}
	&.sac{
		@include bgimg(ico-footer-sac, png);
		background-repeat: no-repeat;
		background-position: top center;
	}
	&.chat{
		@include bgimg(ico-footer-chat, png);
		background-repeat: no-repeat;
		background-position: top center;
	}
}
%footer-info-cli{
	.info-cli{
		@extend %text-footer-info-cli;
		position: inherit;
		display: block;
		width: auto;
		max-width: 450px;
	}
}
%footer-security{
	.security{
		position: inherit;
		right: 0px;
		left: auto;
		width: auto;
		background-image: none;
		li{
			display: inline-block;
			margin-right: 10px;
		}
	}
}
%footer-copy{
	right: 0;
	width: auto;
	border: 0px;
	left: auto;
	padding: 0px;
	bottom: 48px;
}

// Style --------------------------------------------------------------------------/
#footer{
	*{
		@include box-sizing();
	}
	background: transparent;
	height: auto;
	padding: 0px;
	border: 0px;
	.container{
		width:	$page-width;
		height: auto;
		margin: 0px auto;
		@extend %footer-instagram;
		.footer-middle{
			width: 100%;
			background: #F4F4F4;
			padding: 30px;
			height: auto;
			margin-top: 25px;
			@include flexbox(inline-flex, row, wrap, center);
			.footer-middle-cont{
				position: relative;
				margin: 0px auto;
				width: $page-width;
				@include flexbox(inline-flex, row, wrap, space-between);
				.collum{
					float: none;
					position: inherit;
					@extend %footer-cols-default;
					@extend %footer-morena-rosa;
					@extend %footer-newsletter;
					@extend %footer-social;
				}
			}
		}
		.footer-bottom{
			@include flexbox(inline-flex, row, nowrap, space-between);
			width: 100%;
			background: #FFF;
			padding: 30px;
			padding-right: 150px;
			height: auto;
			@extend %footer-payment;
			@extend %footer-info-cli;
			@extend  %footer-security;
		}
		.copy{
			@extend %footer-copy;
		}
	}
}

.footerbuy{
	#footer{
		*{
			@include box-sizing();
		}
		background: transparent;
		height: auto;
		padding: 0px;
		border: 0px;
		.container{
			width:	$page-width;
			height: auto;
			margin: 0px auto;
			.footer-bottom{
				@include flexbox(inline-flex, row, nowrap, space-between);
				width: 100%;
				background: #FFF;
				padding: 30px;
				padding-right: 150px;
				height: auto;
				@extend %footer-payment;
				@extend %footer-info-cli;
				@extend  %footer-security;
			}
			.copy{
				@extend %footer-copy;
			}
		}
	}
}
