  /* ------------------------------------------------------------*/
 /* ------------------>>> PLACEHOLDERS <<<----------------------*/
/* ------------------------------------------------------------*/

/*
* Arquivo criado para criação de pequenos padrões utilizados no projeto em geral:
* Ex: Botões, Titulos, Grid de produtos, Aside etc..
* Por se tratar apenas de Placeholders este arquivo não possui
* a camada de estilos apenas config e Components
*/

//Config -----------------------------------------------------------------------------/
//Owl Buttons
$owl-bt-w: 20px;
$owl-bt-h: 33px;

//Components -----------------------------------------------------------------------/

/* General Placeholders */
%placeholder-owl-buttons{
	div{
		@include bgimg(arrows, png);
		@include opacity(1);
		&.owl-prev{
			background-position: 0px 0px;
			&:hover{
				background-position: -34px 0px;
			}
		}
		&.owl-next{
			background-position: -97px 0px;
			&:hover{
				background-position: -64px 0px;
			}
		}
		background-repeat: no-repeat;
		width: $owl-bt-w;
		height: $owl-bt-h;
	}
}
%placeholder-owl-pagination{
	text-align: center;
	width: 100%;
	.owl-page{
		span{
			@include box-sizing();
			@include opacity(1);
			@include border-radius(50px);
			@include fonte($font-def, bold, 10.5px, #FFF);
			background: transparent;
			border: 2px solid #000;
			width: 10px;
			height: 10px;
			line-height: 10px;
			text-align: center;
			margin: 0px 5px;
		}
		&.active{
			span{
				@include opacity(1);
				background: #000;
				color: #000;
			}
		}
	}
}
%placeholder-h1{
	@include fonte($font-def, normal, 22px, #373435);
	@include text-shadow(0px, 0px, 0px, #FFF);
	letter-spacing: 1px;
	text-decoration: non;
	background: #FFF;
	padding: 10px;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
	span{
		@include fonte($font-def, normal, 22px, #373435);
		@include text-shadow(0px, 0px, 0px, #FFF);
		letter-spacing: 1px;
		background: #FFF;
		text-align: center;
		display: inline-block;
		text-transform: uppercase;
	}	
}
%placeholder-h2{
	@include fonte($font-def, normal, 20px, #373435);
	@include text-shadow(0px, 0px, 0px, #FFF);
	background: #FFF;
	padding: 10px;
	text-align: center;
	display: inline-block;
	text-transform: capitalize;
	span{
		@include fonte($font-def, normal, 20px, #373435);
		@include text-shadow(0px, 0px, 0px, #FFF);
		background: #FFF;
		padding: 10px;
		text-align: center;
		display: inline-block;
		text-transform: capitalize;
	}	
}
%placeholder-heading{
	position: relative;
	text-align: center;
	border: 0px;
	span{
		@extend %text-title-list-prod;
		@include text-shadow(0px, 0px, 0px, #FFF);
		background: #FFF;
		padding: 10px;
		text-align: center;
		display: inline-block;
		border:0px;
	}
	@media screen and (max-width: 979px) {
		height: auto;
		text-transform: none;
	}
}
%placeholder-heading-2{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 25px;
	margin: 0px;
	@include fonte($font-alt-1, 400, 25px, $color-title);
	@include text-shadow(0px, 0px, 0px, #FFF);
	@media screen and (max-width: 979px) {
		padding-top: 10px;
		span{
			font-size: 24px;
		}
	}
}
%placeholder-breadcrumb{
	#breadcrumbs{
		background: transparent;
		> span{
			@extend %text-bread-item;
			a{
				span{
					@extend %text-bread-item;
					background-repeat: no-repeat;
					background-position: right center;
					padding-right: 0px;
					margin-right: 3px;
					&:after{
						content: ">";
						@extend %text-bread-item;
						position: relative;
						left: 5px;
						top: 0px;
					}
				}
			}
			&[itemprop="title"],
			&[itemprop="name"]{
				@extend %text-bread-item;
			}
		}
		> h1{
			span{
				@extend %text-bread-item-last;
				text-transform: capitalize;
				text-decoration: none;
			}
		}
		&:before{
			@extend %text-bread-before;
			content: "Você está em: ";
			float: left;
			margin-right: 5px;
			position: relative;
			top: 0px;
		}
	}
}
%placeholder-reviewaggregate{
	.reviewaggregate{
		width: 136px;
		margin: 0px auto;
		> a{
			@include reviewaggregate(stars, png, 14, 19);
			position: relative;
			top: -2px;
			margin-right: 0px;
			margin-bottom: 7px;
		}
		.count{
			display: inline-block;
			@include fonte($font-def, normal, 11px, #808080);
			a{
				@include fonte($font-def, normal, 11px, #808080);
			}
		}
		@media screen and (max-width: 300px) {
			max-width: 113px;
			.count{
				display: block;
			}
		}
	}
}
%placeholder-rating-opinion{
	.rating{
		@include reviewaggregate(stars, png, 14, 19);
		position: relative;
		top: 0px;
		margin-right: 0px;
		height: 12px;
		.value{
			@include reviewaggregate(stars, png, 14, 19);
			background-position: 0 -14px;
			height: 12px;
		}
	}
}
%placeholder-fancybox-close{
	#fancybox-close-2,
	#fancybox-close{
		@include imgbt(bt-fancybox-close, png,  21, 21);
	}
}
%placeholder-list-prod-tools{
	position: absolute;
	width: $ft-vitrine-w;
	top: $ft-vitrine-h - 50;
	margin: 0px;
	padding: 0px;
	.skus{
		@include box-sizing();
		height: 50px;
		background: rgba(255,255,255,0.9);
		width: $ft-vitrine-w;
		text-align: center;
		&:before{
			content: "CORES";
			@include fonte($font-def, 400, 10px, #000);
			letter-spacing: 1px;
			text-transform: uppercase;
			position: absolute;
			left: 10px;
			top: 21px;
		}
	}
}
%placeholder-sku-carousel{
	.skus,
	.skus-cores{
		> li{
			float: none;
			display: inline-block;
		}
		li{
			@include box-sizing();
			@include border-radius(50px);
			width: $sku-cor-w;
			height: $sku-cor-h;
			border: 2px solid #DEDEDE;
			overflow: hidden;
			padding: 0px;
			position: relative;
			top: 10px;
			&:hover{
				border-color: #c5c5c5;
			}
			a,
			img{
				width: 100%;
				height: 100%;
				border: 0px;
			}
		}
		.owl-controls{
			.owl-buttons{
				position: absolute;
				top: -25px;
				left: 18px;
				div{
					@include bgimg(arrows-sku, png);
					@include opacity(1);
					&.owl-prev{
						background-position: 0px 0px;
						&:hover{
							background-position: -13px 0px;
						}
					}
					&.owl-next{
						background-position: -40px 0px;
						&:hover{
							background-position: -25px 0px;
						}
					}
					background-repeat: no-repeat;
					width: 10px;
					height: 13px;
				}
			}
			@media screen and (max-width: 979px){
				margin-top: -21px;
			}	
		}
	}
}
%placeholder-notifyme{
	.notifyme{
		@include border-radius();
		background: #FFF;
		padding: 10px;
		> span{
			display: none;
		}
		label{
			> span{
				@extend %text-notifyme-avise;
				&:before{
					@extend %text-notifyme-indisponivel;
					content: "INDISPONÍVEL.";
					padding: 5px 0px;
					text-transform: uppercase;
					display: inline-block;
					margin-right: 10px;
				}
				span{
					@extend %text-notifyme-avise;
					padding: 5px 0px;
					display: inline-block;
				}
			}
			input{
				@extend %text-notifyme-input;
				@include box-sizing();
				@include border-radius(0px);
				border: 1px solid #353535;
				background: #FFF;
				height: 28px;
				margin-right: 0px;
				width: 210px !important;
			}
		}
		.send{
			@extend %bt-notifyme-send;
		}
		& + .sucess2 {
			background: #d3f8c9 !important;
			border: 1px solid #04b10e;
			color: #348914;
			font-size: 13px;
			font-weight: bold;
			line-height: 18px;
			padding: 5px 10px;
			margin-bottom: 15px;
		}
		@media screen and (max-width: 979px) {
			label{
				input[type="text"]{
					width: 100% !important;
				}
			}
		}
	}
}
%placeholder-load-button{
	#main{
		.load-button{
			border: 0px;
			background: $color-theme-1 !important;
		}
	}
}
%placeholder-catalog-pagination{
	.filter-details{
		& + .pagination{
			position: absolute;
			right: 15px;
			top: 50px;
		}
	}
	.main-content{
		& + .pagination{
			padding: 5px 15px;
			margin-bottom: 20px;
			background-color: #F4F4F4;
		}
	}
	.pagination{
		width: auto;
		height: auto;
		text-align: right;
		padding-top: 0px;
		padding-bottom: 0px;
		margin: 0px;
		ul{
			float: none;
			display: inline-block;
			overflow: visible;
			height: auto;
			.page{
				line-height: 21px;
				display: none;
			}
			.set-prev{
				position: relative;
				top: 3px;
				width: 28px;
				height: 16px;
				a{
					display: block;
					@include imgbt(bt_pagination_set_prev, png, 10, 18);
				}
				&.off{
					a{
						@include imgbt(bt_pagination_set_prev_off, png, 10, 18);
					}
				}
				display: none;
			}
			.set-next{
				position: relative;
				top: 3px;
				width: 28px;
				height: 16px;
				a{
					display: block;
					@include imgbt(bt_pagination_set_next, png, 10, 18);
				}
				&.off{
					a{
						@include imgbt(bt_pagination_set_next_off, png, 10, 18);
					}
				}
				display: none;
			}
			.prev{
				position: relative;
				top: 7px;
				width: 10px;
				height: 18px;
				a{
					display: block;
					@include imgbt(bt_pagination_prev, png, 10, 18);
				}
				&.off{
					a{
						@include imgbt(bt_pagination_prev_off, png, 10, 18);
					}
				}
			}
			.next{
				position: relative;
				top: 7px;
				width: 10px;
				height: 18px;
				a{
					display: block;
					@include imgbt(bt_pagination_next, png, 10, 18);
				}
				&.off{
					a{
						@include imgbt(bt_pagination_next_off, png, 10, 18);
					}
				}
			}
			.numbers{
				height: auto;
				margin: 0px 20px;
				a{
					@include fonte($font-def, 600, 11px, #767676);
					height: 30px;
					line-height: 28px;
					text-align: center;
					&:hover,
					&.selected{
						color: #000;
					}
					&:after{
						content: " / ";
						@include fonte($font-def, 600, 11px, #767676);
						height: 30px;
						line-height: 28px;
						text-align: center;
						position: relative;
						left: 3px;
					}
					&:last-of-type{
						&:after{
							display: none;
						}
					}
				}
			}
		}
	}
}

/* List Product Placeholders */
%placeholder-prod-by-row{
	> li{
		@if $prod-by-row == 4 {
			width: 24.75%;
		} @else if $prod-by-row == 3 {
			width: 33%;
		}  
	}
}
%placeholder-hproduct{
	@include box-sizing();
	@include border-radius(0px);
	width: $ft-vitrine-w + 2;
	padding: 0px;
	border: 1px solid #FFF;
	text-align: center;
	&:hover{
		@include border-radius(3px);
		border-color:#AFADAE;
	}
}
%placeholder-mobile-hproduct{
	@include box-sizing();
	@include border-radius(0px);
	padding: 5px;
	border: 1px solid #FFF;
	overflow: hidden;
}
%placeholder-list-prod-details{
	padding: 5px;
}
%placeholder-list-prod-bt-quickview{
	.quick-look-container{
		width: 100%;
		height: auto;
		text-align: center;
		left: 0px;
		top: 50%;
		margin-top: -30px;
		.bt-quick-look{
			@include imgbt('bt-quick', 'png', 109, 28);
			margin: 0px auto;
		}
	}
}
%placeholder-list-prod-photo{
	.link{
		.photo{
			border: 0px !important;
			width: $ft-vitrine-w;
			height: auto;
		}
	}
}
%placeholder-list-prod-name{
	.name{
		@extend %text-list-prod-name;
		text-align: center;
	}
}
%placeholder-history-list-prod-name{
	.name{
		@extend %text-list-prod-name;
		text-align: center;
	}
}
%placeholder-list-prod-offers{
	.offers{
		text-align: center;
		width: 100%;
		span{
			@include box-sizing();
			margin: 0px 5px;
			display: inline-block;
			width: auto;
			height: auto;
			line-height: 20px;
			vertical-align: middle;
			text-align: center;
			em{
				line-height: 20px;
				text-transform: capitalize;
			}
			&.regular{
				position: relative;
				text-decoration: line-through;
				em{
					@extend %text-list-prod-price-reg;
					display: none;
				}
				@extend %text-list-prod-price-reg;
				del{
					position: relative;
					@extend %text-list-prod-price-reg;
				}
				strong{
					@extend %text-list-prod-price-reg;
					span{
						@extend %text-list-prod-price-reg;
					}
				}
			}
			&.sale{
				em{
					@extend %text-list-prod-price-sale;
					display: none;
				}
				@extend %text-list-prod-price-sale;
				strong{
					@extend %text-list-prod-price-sale;
				}
			}
			&.percent-a-vista{
				@extend %text-list-prod-percent-a-vista-normal;
				.value-sight,
				.value-percentage{
					@extend %text-list-prod-percent-a-vista-strong;
					display: inline-block !important;
				}
			}
		}
	}
}
%placeholder-percent-a-vista{
	.percent-a-vista{
		width: 220px;
		margin: 0 auto;
		display: block;
		.preco-avista{
			em{
				@extend %text-list-prod-percent-a-vista-strong;
			}
		}
		#lblPercentualAVista{
			@extend %text-list-prod-percent-a-vista-normal;
			.value-percentage{
				@extend %text-list-prod-percent-a-vista-strong;
			}
		}
		#lblFormaPagamentoAVista{
			@extend %text-list-prod-percent-a-vista-normal;
		}
	}
}
%placeholder-prod-save{
	.save{
		em{
			@extend %text-prod-save-normal;
		}
		strong{
			@extend %text-prod-save-strong;
		}
	}
}
%placeholder-list-prod-look-offers{
	.offers { 
		span{
			@include box-sizing();
			margin: 0px 5px;
			display: inline-block;
			width: auto;
			height: auto;
			line-height: 20px;
			vertical-align: middle;
			text-align: center;
			em{
				line-height: 20px;
				text-transform: capitalize;
			}
		}
		.regular { 
			em{
				display: none;
			}
			text-decoration: line-through;
			@include fonte($font-def, normal, 13px, #929292);
			text-transform: uppercase;
			span{
				@include fonte($font-def, normal, 13px, #929292);
				text-transform: uppercase;
				display: inline;
			}
			del { 
				position: relative;
				top: 3px;
				@include fonte($font-def, normal, 13px, #929292);
				text-transform: uppercase;
			}
			margin-top: -5px;
		}
		.price { 
			em{
				@include fonte($font-def, 800, 17px, $color-theme-1);
				text-transform: uppercase;
			}
			@include fonte($font-def, 800, 17px, $color-theme-1);
			text-transform: uppercase;
			span{
				@include fonte($font-def, 800, 17px, $color-theme-1);
				text-transform: uppercase;
				display: inline;
			}
		}
		.converted-price { 
			@include fonte($font-def, normal, 12px, #bebebe);
		}
		.percent-a-vista {
			@include fonte($font-def, normal, 15px, $color-theme-2);
			text-transform: uppercase;
			text-align: center;

			.value-percentage {
				@include fonte($font-def, normal, 15px, $color-theme-2);
				text-transform: uppercase;
				text-align: center;
				display: inline;
			}
		}
	}	
}
%placeholder-list-prod-parcel{
	.parcel{
		display: block;
		width: 100%;
		text-align: center;
		span{
			@extend %text-list-prod-parcel;
			strong{
				@extend %text-list-prod-parcel-strong;
				span{
					@extend %text-list-prod-parcel-strong;
				}
			}
			b{
				@extend %text-list-prod-parcel;
				display: none;
			}
		}
	}
}
%placeholder-list-prod-buy{
	.btn{
		&.buy{
			@extend %bt-list-product-buy;
			width: 170px;
			margin: 10px auto 0px;
			float: none;
			display: inline-block;
		}
	}
}
%placeholder-list-prod-compare{
	.compare{
		display: none !important;
		&:before{
			content: " ";
			display: block;
			width: $ft-vitrine-w + 20;
			border-bottom: 1px solid #D6D6D6;
			margin-bottom: 10px;
		}
		text-align: center;
		width: $ft-vitrine-w + 20;
		margin-left: -11px;
		span,
		label,
		input{
			float: none;
			display: inline-block;
		}
		input{
			position: relative;
			top: 3px;
		}
		label{
			position: relative;
			top: -2px;
			@include fonte($font-def, 700, 12px, #0055A8);
			text-transform: uppercase;
		}
	}
}
%placeholder-list-prod-indisponivel{
	.unavailable{
		@include fonte($font-def, bold, 13px, $color-theme-1);
		text-align: center;
	}
}
%placeholder-list-prod-see-more{
	.see-more{
		display: none;
		> span{
			@include fonte($font-def, normal, 11px, $color-theme-2);
			text-transform: uppercase;
		}
		a{
			background: none;
			padding-left: 3px;
			@include fonte($font-def, normal, 12px, $color-theme-2);
			&:before{
				color: $color-theme-1;
			}
		}
	}
}
%placeholder-list-prod-look-photo{
	border: 0px !important;
	width: $look-vitrine-w;
	height: $look-vitrine-h;
	img{
		border: 0px !important;
		width: $look-vitrine-w;
		height: $look-vitrine-h;
	}
}
%placeholder-history-list-prod-photo{
	.link{
		.photo{
			border: 0px !important;
			width: 100%;
			height: auto;
		}
	}
}

/* List Product Placeholders [ RESPONSIVO ] */
%placeholder-mobile-list-prod-photo{
	.link{
		.photo{
			border: 0px !important;
			width: 100%;
			height: auto;
		}
	}
}
%placeholder-mobile-list-prod-compare{
	.compare{
		&:before{
			content: " ";
			display: block;
			width: 100%;
			border-bottom: 1px solid #D6D6D6;
			margin-bottom: 10px;
		}
		text-align: center;
		width: 100%;
		margin-left: 0px;
		span,
		label,
		input{
			float: none;
			display: inline-block;
		}
		input{
			position: relative;
			top: 3px;
		}
		label{
			position: relative;
			top: -2px;
			@include fonte($font-def, 700, 12px, #0055A8);
			text-transform: uppercase;
		}
	}
}