/* ----------------------------------------------------------------*/
/* -----------------*>>> SKU QUANTIDADE <<<-----------------------*/
/* --------------------------------------------------------------*/

//→ Ajuste externo do iframe
body{
	iframe{
		&.compra-por-sku-frame{
			&.active{
				@include box-sizing();
				width: 270px !important;
				border: 2px solid #ECECEC;
				padding: 0px;
				margin-top: 20px;
				margin-left: 10px;
				box-shadow: none;
			}
		}
	}
}
//→ Ajuste interno do iframe
body{
	&.por-sku{
		.list-products{
			.hproduct{
				padding-bottom: 0px;
				.wrap-image{
					.figure{
						border: 0px !important;
						width: $ft-vitrine-w;
						height: $ft-vitrine-h;
						img{
							border: 0px !important;
							width: $ft-vitrine-w;
							height: $ft-vitrine-h;
						}
					}
					.tools{
						@include box-sizing();
						background: none;
						border: 0px solid $color-theme-2;
						width: $ft-vitrine-w;
						margin: 0px auto;
						margin-top: 10px;
						ul{
							background: transparent;
							text-align: center;
							margin: {
								top: 10px;
								bottom: 10px;
							}
							> li{
								@include box-sizing();
								@include border-radius(3px);
								width: $sku-cor-w + 4;
								height: $sku-cor-h + 4;
								border: 2px solid #DEDEDE;
								overflow: hidden;
								padding: 0px;
								&:hover{
									border-color: #c5c5c5;
								}
								a,
								img{
									width: 100%;
									height: 100%;
									border: 0px;
								}
							}
						}
					}
				}
				.wrap-details{
					.details{
						text-align: center;
						@extend %placeholder-list-prod-name;
						@extend %placeholder-list-prod-offers;
						@extend %placeholder-list-prod-parcel;
						@extend %placeholder-percent-a-vista;
						@extend %placeholder-prod-save;
						.reviewaggregate{
							display: none;
						}
						.buy{
							.btn{
								&.ir{
									&.buy{
										@include bt-default();
										width: 122px;
										height: 34px;
										line-height: 12px;
										position: relative;
										top: 7px;
									}
								}
								
							}
						}
						#ProductBuy{
							overflow: hidden;
							background-color: #ECECEC;
							width: 100%;
							padding: 5px 0;
							@include flexbox(inline-flex, row, wrap, space-around);
							#lblQuantity{
								height: auto;
								padding: 6px 0;
								#txtQuantity{
									@include border-radius();
									width: 34px;
									height: 34px;
									padding: 0px;
									text-align: center;
								}
							}
							#spanSKUComprar{
								width: auto;
							}					
						}
						.compare{
							display: none;
						}
					}
				}
			}
		}
	}
}
