  /* -----------------------------------------------------------------------------------*/
 /* ----------------------------*>>> BUSCA <<<-----------------------------------------*/
/* -----------------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/
$busca-aside-block-bg: #FFF;
$busca-aside-border: 1px solid #D9DDE2;
$page-width: 100%;
$aside-w: 0%;
$busca-content-w: $page-width - $aside-w;
$aside-link-colors: $color-theme-1;

//Components -----------------------------------------------------------------------/
%aside-title{
	.title{
		background: #FFF;
		border-bottom: 1px solid #D9DDE2;
		@include fonte($font-def, 700, 14px, #231F20);
		margin: 0px;
		padding: 15px 16px; 
		text-transform: uppercase;
		text-shadow: none;
	}
}


// Style -----------------------------------------------------------------------/
@import "../../desktop/pages/busca";

body{
	&.mobile-mode{
		.autocomplete-mais-buscadas{
			width: 96%;
		}
		.panel-multicomplete-results{
			width: 96%;
			padding-top: 20px;
		}
		&.rksearch{
			> .open-nav{
				display: none;
			}
			#header{
				#logo{
					padding-top: 0px;
					padding-bottom: 0px;
				}
				.search{
					.btn:not(#cabecalho_Buscar_Topo),{
						display: none;
					}
				}
				#floatToolbar{
					.floatToolbar{
						#header_busca_container_flutuante{
							width: 100%;
							#Buscar_Flutuante{
								display: block;
								width: 30px;
								position: absolute;
								top: 60px;
								right: 24px;
							}
						}
					}
				}
			}
			.store-content{
				&.wrapper{
					.refine-sua-busca{
						.form-refine{
							@include box-sizing();
							width: 100%;
							.form-group{
								.form-button{
									margin: 31px 0 0 10px;
								}
							}
						}
					}
					.container-search{
						.sidebar{
							width: 100%;
						}
						.catalogo{
							.lista-catalogo{
								.products{
									width: 95%;
								}
							}
						}
					}
				}
			}
		}
	}
}