/* ------------------------------------------------------------------------------*/
/* -----------------------------*>>> CADASTRO <<<-------------------------------*/
/* ----------------------------------------------------------------------------*/

// Config ----------------------------------------------------------------------------------/
// Components -----------------------------------------------------------------------------/
// Styles -----------------------------------------------------------------------------/
body{
	&.register{
		#main{
			.container{
				.content{
					h1{
						@extend %placeholder-h1;
					}
					.form{
						.actions{
							@include box-sizing();
							padding: {
								right: 0px;
								left: 0px;
							}
							a{
								@extend %bt-cadastro-salvar;
							}
						}
					}
				}
			}
		}
	}
}