  /* -----------------------------------------------------------------------------------*/
 /* ----------------------------*>>> CATALOGO <<<--------------------------------------*/
/* -----------------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/

//Components -----------------------------------------------------------------------/
%catalog-breadcrumb{
	@extend %placeholder-breadcrumb;
	#breadcrumbs{
		text-transform: capitalize;
		a,
		h1{
			color: $color-theme-1;
			span{
				color: $color-theme-1;
			}
			&:after{
				display: none;
			}
		}
		border-bottom: 1px solid #DEDEDE;
	}
}
%catalog-filters{
	.filters{
		fieldset{
			> select{
				display: none;
			}
			> ul{
				display: block !important;
			}
		}
		.title{
			@include fonte($font-def, normal, 14px, $color-theme-1);
		}
		.m-btn-order{
			@include fonte($font-def, normal, 14px, $color-theme-1);
			border: 1px solid transparent;
			position: relative;
			top: 1px;
			z-index: 15;
		}
		&.active{
			> span{
				border:{
					top: 1px solid $color-theme-1;
					right: 1px solid $color-theme-1;
					bottom: 1px solid #FFF;
					left: 1px solid $color-theme-1;
				}
				background: #FFF;
			}
		}
		fieldset{
			border: 1px solid $color-theme-1;
			background: #FFF;
			ul{
				li{
					a{
						@include fonte($font-def, normal, 14px, $color-theme-1);
						text-transform: uppercase;
						&.selected{
							@include fonte($font-def, bold, 14px, $color-theme-1);
							text-transform: uppercase;
						}
					}
				}
			}
			.itens-page{
				background: #FFF;
				span{
					@include fonte($font-def, normal, 14px, $color-theme-1);
				}
			}
		}
	}
}
%catalog-filters-details{
	.filter-details{
		.open-mob-filters{
			@include fonte($font-def, normal, 14px, $color-theme-1);
			border: 1px solid #FFF;
			top: 1px;
			z-index: 15;
			&.active{
				border:{
					top: 1px solid $color-theme-1;
					right: 1px solid $color-theme-1;
					bottom: 1px solid #FFF;
					left: 1px solid $color-theme-1;
				}
				background-color: #FFF;
			}
		}
		> p{
			text-transform: uppercase;
			@include fonte($font-def, normal, 12px, #000);
			strong{
				@include fonte($font-def, normal, 12px, #000);
			}
		}
		.compare{
			@include bt-default();
			@include fonte($font-def, 700, 12px, #FFF);
			display: none;
		}
	}
}
%catalog-aside{
	.aside{
		border: 1px solid  $color-theme-1;
		background: #FFF;
		.nav{
			.filters{
				.title{
					@include fonte($font-def, bold, 16px, $color-theme-1);
				}
			}
			.block{
				border: 1px solid $color-theme-1;
				.title{
					color: $color-theme-1;
				}
				&.active{
					.title{
						border-bottom: 1px solid $color-theme-1;
						color: $color-theme-1;
					}
				}
				ul{
					span{
						&:before{
							color: $color-theme-1;
						}
					}
					li{
						a{
							&:before{
								color: $color-theme-1;
							}
						}
					}
				}
				&.custom{
					.title{
						&:before{
							color: $color-theme-1;
						}
						span{
							color: $color-theme-1;
						}
					}
					li{
						a{
							color: $color-theme-1;
							&:before{
								color: $color-theme-1;
							}
						}
					}
				}
			}
		}
	}
}
%catalog-pagination{
	@extend %placeholder-catalog-pagination;
	.pagination{
		top: 0px;
		text-align: center;
		ul{
			.numbers{
				a{
					line-height: 19px;
				}
			}
			.next,
			.prev{
				top: -11px;
			}
		}
	}
}
%catalog-see-category{
	.see-category{
		@include fonte($font-def, normal, 12px, $color-theme-1);
		text-transform: uppercase;
		&:before{
			color: $color-theme-1;
		}
	}
}
%catalog-list-prod-quantity{
	.txtQuantity{
		position: relative;
		*{
			width: 100%;
		}
		&:before{
			content: " ";
			display: block;
			width: $ft-vitrine-w + 20;
			border-bottom: 1px solid #D6D6D6;
			margin-bottom: 10px;
			margin-left: -11px;
		}
		.lbl-quantity{
			@include fonte($font-def, 400, 12px, #646464);
		}
		.ipt-quantity{
			@include box-sizing();
			height: 30px;
			width: 100%;
		}
	}
}

//Style --------------------------------------------------------------------------/
body{
	&.catalog,
	&.vitrine,
	&.look,
	&.vitrine-look{
		#main{
			.container{
				@extend %catalog-aside;
				.content{
					@extend %catalog-breadcrumb;
					@extend %catalog-filters;
					@extend %catalog-filters-details;
					@extend %catalog-pagination;
					.main-content{
						.list-products{
							.hproduct{
								@extend %placeholder-mobile-hproduct;
								.figure{
									@extend %placeholder-mobile-list-prod-photo;
								}
								.tools{
									.owl-controls{
										margin-top: -21px;
									}
								}
								.details{
									text-align: center;
									.link{
										@extend %placeholder-list-prod-name;
										@extend %placeholder-list-prod-offers;
										@extend %placeholder-list-prod-parcel;
									}
									@extend %placeholder-reviewaggregate;
									.reviewaggregate,
									.compare,
									.see-more{
										display: none;
									}
								}
								@extend %catalog-list-prod-quantity;
								@extend %placeholder-list-prod-buy;
								.buy{
									&.btn{
										width: 100%;
										text-align: center;
										cursor: pointer;
									}
								}
								@extend %placeholder-list-prod-indisponivel;
								@extend %placeholder-mobile-list-prod-compare;
							}
						}
						@extend %catalog-see-category;
					}
				}
			}
		}
	}
	&.look,
	&.vitrine-look{
		#main{
			.container{
				.content{
					.main-content{
						.list-products{
							.hproduct{
								.details{
									.link{
										@extend %placeholder-list-prod-look-offers;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}