/* ------------------------------------------------------*/
/* -----------------*>>> CONFIRMACAO <<<----------------*/
/* ----------------------------------------------------*/

body{
	&.confirmacao{
		background: #FFF;
		.container{
			.content{
				.main-content{
					h1{
						@extend %placeholder-h1;
					}
					.request{
						.box{
							.info{
								.title{
									span{
										strong{
											display: block;
											width: 100%;
											@include fonte($font-def, bold, 20px, $color-theme-2);
										}
									}
								}
								.number{
									strong{
										@include fonte($font-def, bold, 40px, #000);
									}
								}
								span{
									color: $color-theme-1;
								}
								.actions{
									a{
										@extend %bt-confirmacao-imprimir;
									}
								}
								.warning{
									color: #000;
								}
								#bannerEbit{
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}