/* ---------------------------------------------------------------------*/
/* -------------------------*>>> LOOK DETALHE <<<---------------------------*/
/* -------------------------------------------------------------------*/

// Config ----------------------------------------------------------------------------------/

// Components -----------------------------------------------------------------------------/
%look-small-description{
	.description{
		@include fonte($font-def, normal, 12px, $color-theme-2);
	}
}
%look-aside-bt-buy{
	.buy{
		@extend %bt-look-comprar-selecionados;
	}
}
%look-aside{
	.aside{
		@extend %look-aside-bt-buy;
		.pieces{
			.title{
				@include fonte($font-def, normal, 16px, $color-theme-2);
				text-align: left;
			}
			li{
				.info{
					@extend %placeholder-list-prod-name;
					span{
						text-align: left;
					}
					#lblStamp{
						display: none;
					}
				}
				.field{
					.skus-cores{
						&.owl-carousel {
							width: 95px;
							padding-left: 20px;
							.owl-controls{
								width: 113px;
								position: absolute;
								margin-top: -22px;
								.owl-buttons{
									.owl-prev{
										left: -23px;
									}
								}
							}
						}
					}
				}
				@extend %placeholder-notifyme;
				.notifyme{
					position: relative;
					.send{
						position: absolute;
						right: 13px;
						left: auto;
						bottom: 8px;
					}
				}
				.details{
					@extend %product-details-offers;
					.stamp{
						display: none;
					}	
				}
			}
			.select-look{
				@extend %bt-look-aside-bt-select-all;
			}
		}
	}
}

// Style ---------------------------------------------------------------------------------/
body{
	&.lookDetalhe{
		#main{
			.container{
				@extend %product-breadcrumb;
				.content{
					.main-content{
						.hproduct{
							.collum{
								&.details{
									text-align: center;
									@extend %product-details-name;
									@extend %product-details-fab-cod;
									@extend %product-reviewaggregate;
									@extend %product-details-offers;
									@extend %look-small-description;
									@extend %product-abas-description;
									@extend %product-details-social;
									@extend %product-details-stamp;
									@extend %product-details-info-prices;
									@extend %product-details-parcel;
									@extend %product-skusproduct;
									@extend %product-buy;
									@extend %product-details-tools;
								}
							}
						}
						@extend %look-aside;
						@extend %product-lognpage;
						@extend %product-combo;
						@extend %product-section-list-products;
					}
				}
			}
		}
	}
}
