  /* --------------------------------------------------------------------------------------*/
 /* ----------------------------*>>> FECHAMENTO <<<---------------------------------------*/
/* --------------------------------------------------------------------------------------*/

//Config -----------------------------------------------------------------------------/

//Components ------------------------------------------------------------------------/
%close-title{
	h1{
		@include fonte($font-alt-1, 300, 32px, #000);
		@include text-shadow(0px, 0px, 0px, #FFF);
		padding: 10px;
		text-align: center;
		display: inline-block;
		text-transform: uppercase;
	}
}
%close-sub-title{
	h2{
		@extend %placeholder-heading-2;
		font-size: 20px;
		padding-bottom: 5px;
		text-transform: uppercase;
	}
}
%close-product-description{
	.description{
		.details{
			.name{
				@include fonte($font-def, normal, 11px, #000);
				text-transform: uppercase;
			}
			.cod,
			.brand{
				@include fonte($font-def, normal, 10px, #000);
				text-transform: uppercase;
			}
			.skus{
				@include fonte($font-def, normal, 12px, #000);
			}
			.social-network{
				> span{
					display: block;
					padding: {
						top: 5px;
						right: 0px;
						bottom: 5px;
						left: 0px;
					}
				}
			}
		}
	}
}
%close-product-quantity{
	.quantity{
		@include fonte($font-def, normal, 12px, #000);
		&:before{
			@include fonte($font-def, bold, 11px, #000);
			text-transform: uppercase;
			line-height: 15px;
		}
	}
}
%close-product-subtotal{
	.subtotal{
		span{
			@include fonte($font-def, normal, 12px, #000);
		}
		&:before{
			@include fonte($font-def, bold, 11px, #000);
			text-transform: uppercase;
			line-height: 15px;
		}
	}
}

//Style ---------------------------------------------------------------------------/
body{
	&.close{
		#main{
			.container{
				.content{
					.main-content{
						h1{
							@extend %placeholder-h1;
						}
						#carrinho_container{
							h2{
								@extend %placeholder-h2;
							}
							.box{
								table{
									tbody{
										tr{
											@extend %close-product-description;
											@extend %close-product-quantity;
											@extend %close-product-subtotal;
											&.info{
												td{
													border-bottom: 1px solid #000;
													&:first-child{
														@include fonte($font-def, normal, 12px, #000);
														background: transparent;
														text-transform: uppercase;
													}
													&:last-child{
														@include fonte($font-def, bold, 12px, #000);
														background: transparent;
													}
												}
											}
										}
									}
								}
							}
						}
						.box-left{
							.address{
								h2{
									@extend %placeholder-h2;
								}
								.adr,
								.fr,
								.fl{
									span,
									p{
										strong{
											@include fonte($font-def, bold, 12px, #000);
											text-transform: uppercase;
										}
										@include fonte($font-def, normal, 16px, #000);
									}
									.actions{
										a{
											@extend %bt-close-change-adress;
										}
									}
								}
							}
						}
						.payment{
							h2{
								@extend %placeholder-h2;
							}
							.finish{
								a{
									@extend %bt-close-finish-with;
								}
							}
							.promo-credit{
								&.promo-credit-mycards{
									@include box-sizing();
									float: none;
									width: 100%;
									margin-left: 0px;
									text-align: center;
									strong{
										@extend %placeholder-heading-2;
										font-size: 20px;
										padding-bottom: 5px;
										text-transform: uppercase;
										text-align: center;
									}
									p{
										@include fonte($font-def, normal, 16px, #000);
										text-transform: uppercase;
										text-align: center;
									}
									img{
										margin: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}