/* -------------------------------------------------------------------------------------*/
/* ------------------------*>>> PAGES - MEUS PEDIDOS <<<-------------------------------*/
/* -----------------------------------------------------------------------------------*/
body{
	&.search{
		background: #FFF;
		#main{
			.container{
				.content{
					.main-content{
						#panNenhumPedido{
							.return{
								&.text{
									.buy{
										@include bt_default();
										@include fonte($font-def, bold, 14px, #FFF);
										margin: 0px;
									}
								}
							}
						}
						.request{
							.box{
								.title{
									span{
										strong{
											display: block;
											width: 100%;
											@include fonte($font-def, bold, 20px, $color-theme-2);
										}
									}
								}
								.number{
									strong{
										@include fonte($font-def, bold, 40px, #000);
									}
								}
								a{
									color: $color-theme-1;
								}
							}
						}
						.form{
							.actions{
								.send{
									@extend %bt-meuspedidos-enviar;
								}
							}
						}
						.pagination{
							ul{
								li{
									a{
										color: $color-theme-1;
									}
								}
							}
						}
						.box{
							a{
								color: $color-theme-1;
							}
						}
					}
				}
			}
		}
	}
}



/* -------------------------------------------------------------------------------------*/
/* --------------------*>>> PAGES - MEUS PEDIDOS - DETALHES <<<------------------------*/
/* -----------------------------------------------------------------------------------*/

body{
	&.meuspedidos{
		background: #FFF;
		#main{
			.container{
				.content{
					.main-content{
					h1{
						@extend %placeholder-h1;
					}
					.request{
						.box{
							.info{
								.title{
									span{
										strong{
											display: block;
											width: 100%;
											@include fonte($font-def, bold, 20px, $color-theme-2);
										}
									}
								}
								.number{
									strong{
										@include fonte($font-def, bold, 40px, #000);
									}
								}
								span{
									color: $color-theme-1;
								}
								.actions{
									a{
										@extend %bt-confirmacao-imprimir;
									}
								}
								.warning{
									color: #000;
								}
								#bannerEbit{
									display: none;
								}
							}
						}
					}
				}
				}	
			}
		}
	}
}



/* -------------------------------------------------------------------------------------*/
/* --------------------*>>> PAGES - MEUS PEDIDOS - CODIGO <<<--------------------------*/
/* -----------------------------------------------------------------------------------*/

body{
	&.simple{
		.container{
			.content{
				h1{
					color: $color-theme-1;
				}
				.request{
					.box{
						.info{
							.title{
								color: $color-theme-1;
							}
							.number{
								color: $color-theme-1;
							}
							.description{
								color: $color-theme-1;
								text-transform: uppercase;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}