/* ------------------------------------------------------------------------------------*/
/* --------------------------------*>>> SITEMAP <<<----------------------------------*/
/* ----------------------------------------------------------------------------------*/

// Config ----------------------------------------------------------------------------------/
// Components -----------------------------------------------------------------------------/
// Styles -----------------------------------------------------------------------------/
body{
	&.sitemap{
		#main_content{
			> h1{
				@include fonte($font-def, 300, 20px, $color-theme-1);
			}
			.col{
				> strong{
					color: $color-theme-1;
				}
				&.cat{
					strong{
						color: $color-theme-1;
					}
				}
				ul{
					li{
						h2{
							a{
								&:before{
									color: $color-theme-1;
								}
							}
						}
						ul{
							li{
								a{
									&:before{
										color: $color-theme-1;
									}
								}
							}
						}
					}
				}
				&.manuf{
					ul{
						li{
							a{
								&:before{
									color: $color-theme-1;
								}
							}
						}
					}
				}
			}
		}
	}
}