$colorCheckoutDestaque: $color-theme;

body {
	#main .form {
		.validacao {
			@include fonte(10px!important, red, bold, arial, initial);
		}
	}
	&.checkout {
		.gift {
			.figure { 
				width: $ft_vitrine_w;
				height: auto;
				@if $mobile{
					margin: 0 auto;
				}
				img {
					width: 100% !important;
					height: auto !important;
				}
			}
			.box .details {
				color: #565656;
				.name.fn {
					a {
						color: $prod-name-color;
						font-family: $prod-name-font;
						font-size: $prod-name-font-s;
						font-weight: $prod-name-font-weight;
					}
				}
			}
			.optionList {
				li {
					display: flex;
					align-items: center;
				}
			}
			.btn.continue {
				@extend  %btn-checkout-gift-continue;
			}
		}
	}
	&.quickBasquet {
		.photo {
			width: 100px;
		}
		.section {
			margin: 0;
			h2 {
				@extend %title-vitrine;
			}
		}
		.list-products {
			> li {
				@if $desktop{
					width: 25%;
				}
			}
			.hproduct {
			    width: 150px !important;
			}
			.name {
				@extend %product-name;
				margin-bottom: 5px;
			}
			.regular {
			    @extend %product-price-from;
			}
			.price {
			    @extend %product-price-to;
			    font-size: 12px;
			}
			.parcel {
			    @extend %product-parcel;
			    font-size: 11px;
			    span {
			    	font-family: $font-custom;
			    }
			}
		}
		.actions {
			li {
				a {
					@extend %btn-modal-quickbasket-fecharpedido;
					&.ContinuarComprando {
						@extend %btn-modal-quickbasket-comprarmais;
					}
				}
			}
		}
	}
}
.op-checkout {
	div.banners-opc {
		padding: 0;
	}
	#main {
		min-height: calc(100vh - 352px);
		.checkout-title {
			padding-top: 0;
		}
		.bt {
			padding: 0;
			@extend %btn-success;
		}
		.bt-login,
		.bt-cadastro {
			background: $btn-primary-color;
			color: #fff;
			border-color: transparent;
			&:hover {
				color: #fff;
			}
		}
		.send-bt {
			@extend %btn-checkoutnew-login-entrar;
		}
		.unavailable .send-bt {
			background: #666;
			color: #fff;
			box-shadow: none;
			border: 0;
		}
		.bt-full {
			@extend %btn-checkoutnew-cancelar;
		}
		.send-bt.finish-bt,
		.send-bt.button-buy {
			@extend %btn-checkoutnew-finalizar-compra;
		}
		.abas-address {
			.item-aba input:checked+label {
				border-top-color: $color-theme;
			}
		}
		/* endereco de entrega*/
		.address-datas {
			.my-address {
				legend + span.form-group {
					select:first-child {
						margin-left: 26px;
					}
				}
			}
		}
		/* pagamento */ 
		.payment-methods {
			.active .accordion-title  {
				
			}
			.txt-opc {
				p {
					color: #6c6c6c;
				}
			}
			.preco-por {
				color: $prod-price-to-c;
			}
			.pay-method .saldo,
			.pay-method .type {
				color: $prod-price-to-c;
			}
			.promo-discount {
				p {
					font-size: 13px;
					line-height: 16px;
					font-weight: bold;
					strong {
						color: $prod-price-to-c;;
					}
				}
			}
		}
		.boxes.available .box-title::after {
		    background: none;
		    @include icons(f00c, 20px, $colorCheckoutDestaque);
		    display: inline-block;
		    margin-top: -3px;
		}
		.bt-edit{
            background: none;
            &::after{
                @include icons(f044, 23px, #000);
                text-indent:0px;
                margin: 13px 0 0 6px;
                padding: 0 0 1px 1px;
                width: 19px;
            }
        }	
		.payment-accordion {
		    h4{
		        &.pay-card::before{
		                background: none;
		                @include icons(f09d, $color: $colorCheckoutDestaque);
		                margin-top: 8px;
		                margin-left: 8px;
		        }
		        &.pay-boleto::before{
		                background: none;
		                @include icons(f02a, $color: $colorCheckoutDestaque);
		                margin-top: 8px;
		                margin-left: 8px;
		        }
		    }
		    .active{
		        h4{
		            color: $colorCheckoutDestaque;  
		            &::before{
		                color: $colorCheckoutDestaque;
		            }                      
		        }
		    }
		}
		/* Resumo do pedido */ 
		.summary, {
			.total-price {
				color: $prod-price-to-c; 
			}
			 .summary-itens {
			 	.item-img img {
			 		height: auto;
			 	}
			 }
		}
	}
}
/*Confirmcao*/
.op-confirmation {
	#main {
		h2,
        h3{
           color: $colorCheckoutDestaque;
        }
        .confirm-title {
        	@if $mobile{
        		padding-top: 0;
        	}
        }
		.title-type,
		.title-address,
		.summary-title {
			color: $colorCheckoutDestaque;
			font-family: $font-custom;
		}
		.print-boleto {
			@extend %btn-checkoutnew-imprimirboleto;
		}
		.confirmacao-pedido {
			.confirm-title::before{
			    background: none;
			    @include icons(f00c, $color: $colorCheckoutDestaque);
			    border: 1px solid;
			    border-radius: 100%;
			    height: 43px;
			    padding: 9px 0 0;
			    text-align: center;
			}
			.num-pedido {
				strong {
					color: $colorNumeroPedido;
				}
			}
		}
		.social-network {
			@if $mobile{
				text-align: center;
				span {
					margin-bottom: 6px;
					vertical-align: middle;
				}
			}
		}
		.summary-confirm {
			.total-price {
				color: $prod-price-to-c; 
			}
		}

	}
}