@mixin banner-promo {
	background: $color-theme;
	font-family: $font-custom;
	font-weight: bold;
	color: #fff;
	font-size: 22px;
}
@mixin banner-promo-bullets {
	font-family: $font-custom;
	color: #fff;
	font-size: 16px;
	li {
		border: 1px solid #ccc;
		background: #fff;
		&.active {
			background: $color-theme2;
            color: #fff;
            font-size: 11px;
            line-height: 17px;
            height: 20px;
            text-decoration: none;
		}
	}
}

$basket-border-color: #cecece;
%basket-rows-desktop {
	.basket {
		th {
			font-family: $font-custom;
			font-weight: bold;
			color: #5a5a5a;
			font-size: 16px;
			height: auto;
			line-height: 66px;
			background: #e6e5ea;
			text-transform: uppercase;
		}
		tbody tr {
			td {
				border-bottom: 1px solid $basket-border-color;
				&:first-child {
					border-left: 0;
				}
			}
		}
		tfoot tr {
			td {
				&:last-child {
					
				}
			}
			&.info {
				td {
					border-bottom: 1px solid $basket-border-color;
				}
				&.total {
					td {
						background: #e6e5ea;
					}
				}
			}
			&.coupon {
				td {
					border-bottom: 1px solid $basket-border-color;
				}
			}
			&.delivery:not(.first) {
				td {
					border-bottom: 1px solid $basket-border-color;
				}
			}
		}
	}
}
%basket-title-label {
	text-transform: uppercase;
	color: #5a5a5a;
	font-size: 16px;
	font-family: $font-custom;
	font-weight: bold;
}
%basket-estrutura {
	.buttons-basket {	    
	    &.buttons-basket-bottom {
	    	@if $desktop{
	    		margin-top: 30px;
	    	}
	    }
	    .buy-more {
	    	@extend %btn-basket-buymore;
	        @if $desktop{
				font-size: 16px;
				line-height: 38px;
				margin-top: 10px;
	        }@else {
	        	line-height: 41px;
	        }

	    }
	    .continue {
	        @extend %btn-basket-continuar;
	        font-size: 0;
            @if $desktop{
            	width: 197px;
            	line-height: 44px;
            }
	        &:after{
				content:"Continuar";
	        	font-size: 23px;
	        	position: relative;
	        	top: 3px;
	        }
	    }
	}
	.product {
		.figure{
			width: 138px;
			img {
				width: 138px;
				height: auto;
			}
		}
	}
    .details {
        font-family: $font-custom;
        @if $desktop {
    	    max-width: 240px;
    	    margin-top: 30px;
        }
        .name {
			color: $prod-name-color;
			font-size: 13px;
			font-size: 14px;
			font-weight: 400;
        }

        .cod {
			color: #5a5a5a;
			font-size: 13px;
			font-weight: 400;	
        }
        @if $hide-fabricante != true {
            .brand {
               font-family: $font-custom;
            }
        }

        .skus {
            max-width: 280px;
            font-family: $font-custom;
            font-size: 12px;
            color: #5a5a5a;
            font-weight: bold;
        }
    }
    .quantity {
        > div {
        	width: 80px;
        	position: relative;
        	top: 3px;
        }
        a {
        	background: none;
        	width: 14px;
        	height: 14px;
        	font-size: 0;
			position: absolute;
	    	top: 8px;
	    	margin: 0;
	    	left: 0;
	    	@if $mobile{
	    		top: 5px !important;
	    	}
        	&:hover {
        		
        	}
        	&::before {
        		content: "-";
        		display: block;
        		font-size: 21px;
        		color: #5a5a5a;
        		text-indent: 0;
        		line-height: 21px;
        		text-align: center;
        		position: relative;
        		@if $desktop{
        			top: -2px;
        		}
        	}
        	&::after {
        		display: none;
        	}
        	&.plus {
        		top: 10px;
    		    bottom: auto;
    		    right: 0;
    		    left: auto;

        		&::before {
        			border: 0;
        			content: "+";
        		}
        	}
        	&.minus {
        		
        	}
        }
        input {
        	width: 40px;
        	height: 32px;
        	border: 1px solid #ccc;
        	border-radius: 3px;
        	margin: 0 auto;
        	@if $mobile{
        		margin: 0 0 0 18px;
        	}
    	    float: none;
        }
    }
    .gift {
    	div{
    	    background:none;
    	    width: auto;
    	    color: #4d4d4d;
    	    @if $desktop{
    	    text-align: center;
    	    }
    	    &::after {
    	        content: "Sim";
    	        line-height: 19px;
    	        vertical-align: top;
    	        display: inline-block;
    	        @if $mobile{
    	        	line-height: 26px;
    	        }
    	    }
    	}
    }
	.delete {
	    a {
    		background: url("/static/locales/global/img/delete_basket.png") no-repeat center;
    		width: 20px;
    		height: 20px;
    	}
	    @if $mobile {
	    	a::after {
                display: none;
            }
	    }
	}
	.regular {
	    font-family: $font-custom;
	    font-size: 12px;
	    color: #6c6c6c;
	    display: inline-block;
	    margin-right: 8px;

	    del {
	        font-family: $font-custom;
	        font-size: 12px;
	        color: #6c6c6c;
	    }
	}
	.price {
	    &.sale {
	        font-family: $font-custom;
	        font-weight: bold;
	        color: $prod-price-to-c;
	        @if $desktop {
	        	font-size: 16px;
	        	margin-top: 0;
	        }
	    }
	}
	.desconto-avista {
		@extend %product-price-offer;
	    max-width: 130px;
		em {
			font-weight: bold;
	        color: $prod-parcel-strong-c;
		}
	}
	span.converted-price:empty {
		display: none;
	}
	/* linha - subtotal*/
	tr[class="info"] {
		.title {
			@extend %basket-title-label;
		}
		.subtotal {
			font-family: $font-custom;
			font-weight: bold;
			font-size: 16px;
			color: $prod-price-to-c;
		}
		
	}
	/* linha - opcoes de entrega*/
	tr.delivery {
		.title {
			@extend %basket-title-label;
			@if $desktop{
				float: right;
				margin-top: 9px;
			}
		}
		#pnlDeliveryOptions {
			.options {
				padding-top: 10px;
				dd {
					text-transform: uppercase;
					font-family: $font-custom;
					margin: 0 10px 0 0;
				}
				input {
					position: relative;
					top: 2px;
					margin-right: 5px;
				}
			}
		}
		td#tdServices {
			dt {
				text-transform: uppercase;
				color: #4d4d4d;
				font-size: 12px;
				font-weight: normal;
				font-family: $font-custom;
				margin-bottom: 5px;
				margin-right: 10px;
			}
			.options {
				border: 0;
				padding: 10px 10px;
			}
			dd {
				text-transform: uppercase;
				font-family: $font-custom;
				font-size: 12px;
				margin: 0 5px 0 0;
				> span,
				ul,
				li {
					
				}
				.service-basket {
					margin-right: 10px;
					input {
						position: relative;
						top: 2px;
						margin-right: 5px;
					}
					li:first-child {
						
					}
				}
				.service-value {
				    padding-left: 24px;
				    margin: 0;
			        text-transform: none;
					li:first-child {
						
					}
				}
				li {
					margin-right: 10px;
					font-weight: normal;
				}
			}
		}
		.delivery-method {
			text-align: center;
			@if $desktop{
				width: 168px;
				padding-top: 14px;
				font-family: $font-custom;
			}
			select {

			}
		}
		.subtotal {
			font-weight: bold;
			color: $prod-price-to-c;
			font-size: 16px;
			@if $desktop{
				vertical-align: middle;
				padding-top: 45px;
			}
		}
	}
	#trStamps {
		.basketStamp {
			@if $desktop{
				padding-right: 10px;
				display: inline-block;
			}
		}
	}
	/* linha - Total*/
	tr.total.info {
		.title {
			@extend %basket-title-label;
			.alert_basket {
				@if $desktop{
					width: 510px;
					text-align: left;
					left: 20px;
					margin: -34px 0 0;
					color: #d10000;
					padding: 0;
					font-weight: normal;
					font-size: 11px;
					position: absolute;
				}@else {
					display: none;
				}
			}
		}
		.value {
			font-family: $font-custom;
			font-weight: bold;
			font-size: 22px;
			color: $prod-price-to-c;
			@if $mobile{
				font-size: 16px;
			}
		}
	}
	/* linha - Presente*/
	tr#trGift {
		.subtotal {
			font-weight: normal;
		}
	}
    /* linha - Prazo de entrega*/
	#trDeliveryTime {
		.subtotal {
			color: #5a5a5a;
		}
	}
	a.btn.calculate,
	a.btn.utilize,
	a.cancel {
	    background: $btn-secondary-color;
	    font-family: $font-custom;
	    font-weight: bold;
	    font-size: 16px;
	    box-sizing: border-box;
	    border: 0;
	    border-radius: 5px;
	    text-transform: uppercase;
	    color: $color-theme;
    	@if $desktop {
	    	margin: 0 0 0 6px !important;
	    	padding: 0 20px;
	    	float: left !important;
	    	line-height: 41px;
		}@else {
			width: 100%;
			text-align: center;
			line-height: 38px;
		}
		
	}
	.coupon fieldset input,
	.delivery fieldset input {
		height: 41px;
		background: #f7f7f7;
		border-radius: 3px;
	}
	.delivery {
		label {
			margin-right: 0;
			font-weight: normal;
		}
		.form {
			@if $desktop{
			margin-left: 10px;
			}
		}
		.options-tit {
			text-transform: uppercase;
			color: #4d4d4d;
			font-size: 14px;
			font-weight: normal;
			font-family: $font-custom;
		}
		fieldset {
			input[type="text"] {
				border: 1px solid #acacac;
				border-radius: 5px;
				text-transform: uppercase;
				@if $desktop{
					width: 250px;
				}@else {
					width: 100%;
					margin: 0 auto 10px;
					float: none;
					display: block;
					text-align: left;
				}

			}
		}
        .subtotal {
        	@if $mobile{
        		padding: 10px 5px 0 50%;
        	}
        	
        	&:before{
        		@if $mobile {
        			content: "Frete: ";
        			float: left;
        			display: block;
        			font-size: 16px;
        			text-transform: uppercase;
        			left: 5px;
        			position: absolute;
        			text-align: right;
        			top: 50%;
        			margin-top: -7px;
        			white-space: nowrap;
        			width: 45%;
        			font-family: $font-custom;
        			font-weight: bold;
        			color: #5a5a5a;
        		}
            }
        }
	}
	.coupon {
		td {
			fieldset {
				span {
					text-align: left;
					font-family: $font-custom;
					width: auto;
					margin: 15px 12px 0 0;
					strong {
						font-weight: normal;
					}
				}
				a.btn.ir.utilize {
					@if $mobile{
						
					}
				}
			}
			.coupon-ok,
			.coupon-off {
				background: #56b853;
				color: #fff;
				font-weight: bold;
				font-family: $font-custom;
				border-radius: 3px;
				height: 34px;
				line-height: 34px;
				display: inline-block;
				padding: 0 10px;
				text-transform: uppercase;
				font-size: 12px;
			}
			.coupon-off {
				background: #ff2828;
			}
		}
	}
}

%basket-estrutura-mobile {
	background: none;
	.basket {
		tbody {
			.description {
				
			}
			tr {
				border-bottom: 0;
				padding: 0;
				td {
					
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid $basket-border-color;
					&::before {
						text-transform: uppercase;
						font-family: $font-custom;
						font-weight: bold;
						font-size: 13px;
						color: #5a5a5a;
						padding-top: 0;
						top: 50%;
					    margin-top: -9px;
					}
					&.product,
					&.description {
						border-bottom: 0;
					}
					&.quantity {
						border-top: 1px solid $basket-border-color;
					}
				}
			}
			.gift {
				span {
					&::after {
						display: none;
					}
				}
			}
			
			
		}
		tfoot {
			tr.info {
				border: 0;
				td {
					background: none;
					border: 0;
					&.title {
						color: #5a5a5a;
						font-family:  $font-custom;
						font-size: 14px;
						line-height: 21px;
						padding-top: 8px;
					    padding-right: 3.7vw;
					}
					&.subtotal {
						font-weight: bold;
						font-size: 14px;
						font-family:  $font-custom;
						padding-left: 0;
					}
				}
			}
			tr.delivery {
				padding-bottom: 0;
				.title {
					display: none;
				}
				a.btn.ir.calculate {
					text-align: center;
					width: 100%;
					height: 38px;
					line-height: 38px;
					float: none;
					margin: 0 auto;
					display: block;
					clear: both;
					padding: 0;
				}
				#tdServices + .subtotal,
				#tdStores + .subtotal {
					&::before {
						display: none;
					}
				}
				select {
					padding: 5px;
					width: 100%;
				}
				
			}
			tr.total {
				td.title {
					text-align: right;
				}
				td.value {
					text-align: left;
				}
				td.title,
				td.value {
					background: #e6e5ea;
				}
			}
			#trStamps {
				td {
					padding: 0;
					text-align: center;

				}
			}
			.coupon {
				fieldset {
					input {
						border: 1px solid #acacac;
						width: 100% !important;
					}
					a.btn.ir.utilize {
						width: 100%;
						text-align: center;
					}
				}
			}
			.basketStamp {
				margin-bottom: 10px;
			}
		}

	}
	.buttons-basket-bottom  {
		li:nth-child(2) {
			display: none;
		}
	}
	.alert_basket {
		color: #d10000;
		padding: 0;
		font-weight: normal;
		font-size: 11px;
		text-align: center;
		line-height: 17px;
	}
}
%banner-promo-desktop {
	div.orbit-wrapper {
		background: #f979a9 url("/static/locales/global/img/bg-promo.jpg") no-repeat;
	    height: auto !important;
	    width: 100% !important;
	    margin-bottom: 10px;

	    #banner-basket {
	        min-width: 100%;
	        max-width: 100%;
	        width: auto !important;
	        height: 82px !important;

	        .promo {
	            background: none;
	            @include box-sizing(border-box);
	            width: $page-width;
	            left: 50%;
	            margin-left: -$page-width / 2;

	            &[style*="z-index: 3"] {
	                height: auto;
	                opacity: 1 !important;
	            }

	            span {
	                padding: 20px 0;
	                display: inline-block;
	                text-transform: none;
	                max-width: 100%;
	                width: 100%;
	                line-height: 22px;
	                @include fonte($font-custom2, bold, 30px, #faf689);
	                text-align: center;
	                font-style: normal;
	                @if $mobile {
	                	font-size: 15px;
	                }
	                br {
	                	display: none;
	                }
	            }

	        }

	    }

	    .orbit-bullets {
	        z-index: 3;

	        li {
	            background: #fff;
	            color: #000;
	        }

	    }

	}
}

%banner-promo-mobile {
	 div.orbit-wrapper{
     height: auto !important;
     width: 100%;
     margin-bottom: 10px;
    #banner-basket{
    	background: #f979a9;
        height: auto!important;
        min-width: 100%;
        max-width: 100%;
        .promo{ 
            background: #f979a9;
            width:$page-width;
            max-width: 100%;
            padding:0;
            @include box-sizing();
            @include border-radius(0px);
            height:0;
            position: static;
            opacity: 0!important;
            color:#fff;
            text-align: center;
            transition: opacity 2s ease 0s;
            &[style*="z-index: 3"]{
                height:auto;
                opacity: 1!important;
            }
            span {
                padding: 30px 0;
                display: inline-block;
                text-transform:uppercase;
                @include fonte($font-custom2, bold, 14px, #faf689);
                line-height: normal;
            }
            br {
                display:none;
            }
        }
    }
    .orbit-bullets{
        z-index: 1;
        li{
            background: #fff;
            color: #000;
        }
    }
}
}
body.basketpage {
	#main {
		.container {
			max-width: 100%;
			box-sizing: border-box;
		}
		@extend %basket-estrutura;
		@if $desktop{
			@extend %basket-rows-desktop;
			@extend %banner-promo-desktop;
		}
		@if $mobile {
			@extend %basket-estrutura-mobile;
			@extend %banner-promo-mobile;
		}
	}
}