%detail-collum-image-desktop {
	.collum.images {
		width: 600px;
		margin: 0;  
		@include box-sizing();

		.thumbnail{
		    float: left;
		    width:80px;
		}
		.photo {
		    width: $ft_detalhes_w;
		    height: $ft_detalhes_h;
		    border: 0 !important;
		    float: right;
		    .main {
		        width: $ft_detalhes_w;
		        height: $ft_detalhes_h;
		    }
		    #big_photo_container {
		    	position: relative;
		    	&::after {
		    		 background: url("/static/locales/global/img/ico_lupa.png") no-repeat;
		    		 content: " ";
		    		 width: 33px;
		    		 height: 33px;
		    		 display: block;
		    		 bottom: 5px;
		    		 right: 5px;
		    		 position: absolute;
		    	}
		    }
		}
		.zoom {
		    background: none;
		    display: none;
		    
		    .mouseover {
		        background: none;

		    }
		    #hplAmpliar {

		    }
		}
		.thumb-container {
			position: relative;
			padding-bottom: 80px;
			float: left;
		}
		ul.thumbs {
		    margin-top: 0px;
		    margin-left: 0px;
		    li {
		        width: 78px;
		        height: 78px;
		        margin: 0 0 6px;
		        clear: both;
		        border: 0;
		        a.selected {
		            img {
		                border: 2px solid #bcbcbc;
		                display: block;
		            }
		        }
		        img {
		            width: 78px;
		            height: 78px;
		        }
		        &:last-child {
		            border-bottom: 0;
		            padding-bottom: 0;
		        }
		    }
		}
		#ajaxVideoDetail {
		    position: absolute;
		    bottom: 0;
		    margin: 0;
		}
		#videoDetalhe {
		    border: 0;
		    width: auto;
		    margin: 0;
		    img {
		        width: 78px;
		        height: 78px;
		    }
		}
	}
}
%detail-collum-details-desktop {
	.collum.details {
		width: 633px;
		margin-right: 0;
		float: right;
		margin-bottom: 20px;
		position: relative;
	}
}
%detail-name {
	.collum.details,
	.aside-details {
		.name {
			font-family: $font-custom;
			color: #5a5a5a;
			font-size: 20px;
			text-transform: none;
			font-weight: bold;
		}
	}
	
}

%detail-fabricante {
	.fab-cod {
		li {
			color: #5a5a5a;
			font-family: $font-custom;
			border-left: 0;
			padding-left: 0;
			margin-left: 0;
		}

		#ghcliBrand {
		}

		#contentPartNumber {
			border-left: 1px solid #5a5a5a;
			margin-left: 5px;
			padding-left: 5px;
		}
	}
}

%detail-reviewaggregate {
	 @extend %reviewaggregate;
	.reviewaggregate {
		border-bottom: 0;
	    .count {
	        #hplAmountAssessments {
	            font-size: 12px;
	        }
	        &.dblock {
	            display: block;
	        }
	    }
	    .ava {
	        display: inline-block;
	        vertical-align: top;
	        line-height: 18px;
	        a {
	            width: auto;
	            height: auto;
	            background: none;
	            font-family: $font-custom;
	            color: $ratingColor;
	            font-weight: 600;
	            text-indent: 0;
	            float: none;
	            font-size: 11px;
	        }
	    }
	}
}

%detail-price-from {
	.price-from {
		color: $prod-price-from-c;
		font-size: $prod-price-from-s;
		font-family: $prod-price-font;
		text-decoration: line-through;
	    margin: 0 12px 0 0 !important;
	    padding-bottom: 0; 
	    span {
	    	color: $prod-price-from-c;
	    }
	}
}

%detail-price-to {
	.price-to {
		color: $prod-price-to-c;
		font-size: 26px;
		font-family: $prod-price-font;
		display: inline-block;
		em,
		strong,
		strong span {
			color: $prod-price-to-c;
			font-size: 26px;
			font-weight: bold;
		}
	}
}

%detail-parcel {
	.parcel {
		color: $prod-parcel-c;
		font-size: 16px;
		font-family: $prod-price-font;
		clear: both;
		strong {
			color: $prod-parcel-strong-c;
			font-weight: $prod-parcel-weight;
		}

		b {
			color: $prod-parcel-strong-c;
			font-weight: $prod-parcel-weight;
		}
		#lblInterest,
		b {
			color: #767676;
			display: none;
		}
	}
}

%detail-price-offer {
	.desconto-avista {
		font-size: 12px;
		font-family: $prod-price-font;
		display: block;
		color: $prod-parcel-c;
	    margin-top: 10px;
		em {
			font-family: $prod-default-font;
			font-size: 12px;
			text-align: left;
			padding: 5px 0 0;
			color: $prod-parcel-strong-c;
			font-weight: $prod-parcel-weight;
		}

		span {
			color: $prod-parcel-c;
		}
	}
}

%detail-stamp {
	.stamp {
		padding: 0;
		margin-bottom: 10px;
		@if $desktop{
			position: absolute;
			top: 0;
			right: 0;
			text-align: right;
			width: auto;
			height: auto;
			max-width: 130px;
		}
		a {
			display: inline-block;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&.unavailable {
			padding: 8px 0;
			color: $color-theme2;
			text-transform: uppercase;
		}
	}
}
%detail-skus-product {
	.skus-product {
		label {
		    @if $desktop{
		    	margin: 0 0 15px;
		    	border-bottom: 0;
		    }
		    font-family: $font-custom;
		    color: #6e6e6e;
		    font-weight: normal;
		    text-transform: initial;
		    font-size: 14px;
		    span {
		        display: none;
		    }
		}
		.padrao-brasileiro {
			font-family: $font-custom;
			font-size: 12px;
			text-decoration: underline;
			position: absolute;
			left: 0;
			bottom: 0;

			a {
				background: url("/static/locales/global/img/ico_tabela-medidas.gif") no-repeat 0 center;
				color: $color-theme;
				display: block;
				padding-left: 28px;
				max-width: 160px;
				margin: 0 auto;
			}
	    	~ ul {
	    		padding-bottom: 20px;
	    	}
		}
	}
}
%detail-skus-product-desktop {
	.skus-product {
		background: none;
		border: 0;
		padding: 0;
		float: left;
		min-width: 190px;
		max-width: 300px;
		clear: left;
		.field {
		    background: none;
		    margin: 0 0 10px;
		    padding: 0;
		    clear: both;
		    @include clearfix;
		    position: relative;
		    overflow: visible;
		}
		
		
		ul {
		    float: left;
		    width: auto;
		    margin: 0;
		    max-width: 300px;
		    li {
		        margin-right: 7px;
		        margin-bottom: 10px;
		        opacity: 1;
		        border: 2px solid #fff;
		        border-radius: 5px;

		        &:last-child {
		            margin-right: 0;
		        }
		        &.selected,
		        &:hover {
		            border: 2px solid #999;
		            a {
		                background: #fff;
		                color: $colorDefault;
		            }
		        }
		        &.warn {
		            .ico.ir {
		                top: 26px;
		                background: url("/static/locales/global/img/ico-excluir-sku.gif") no-repeat;
		                width: 16px;
		                height: 16px;
		                top: -5px;
		            }
		        }
		        a {
		            display: block;
		            overflow: hidden;
		            line-height: 33px;
		            font-family: $font-custom;
		            font-weight: normal;
		            border: 1px solid #ccc;
		            background: #fff;
		            width: auto;
		            height: auto;
		            min-width: 33px;
		            opacity: 1;
		            img {
		                width: 33px;
		                height: 33px;
		            }
		        }
		    }
		}
	}
}

%detail-economize {
	.save {
		font-family: $font-custom;
		color: $colorDefault;
		margin-top: 5px;
		display: block;
		strong {
			color: $prod-price-to-c;
		}
	}
}


%detail-tools {
	.tools {
		li {
			background: none;
			float: left;
			padding: 0;
			width: auto;
			@if $desktop{
				margin-left: 20px;
			}
			margin-bottom: 10px;
			&:first-child {
				margin-left: 0;
			}

			a {
				text-decoration: underline;
				font-family: $font-custom;
				font-size: 12px;
				color: $color-theme;
				line-height: 16px;
				display: inline-block;
				@if $mobile{
					line-height: 20px;
				}
				&::before {
					background: url("/static/locales/global/img/ico_detalhes.png") no-repeat;
					content: " ";
					display: inline-block;
					width: 18px;
					height: 17px;
					vertical-align: middle;
					margin-right: 5px;
				}
				&:hover {
					
				}
			}
			&.delivery a::before {
				background-position: -34px 0;
				width: 34px;
			}
			&.rate a::before,
			&.see-opinion  a::before {
				background-position: -86px 0;
				
			}
			&:first-child {
				
			}

		}
		@if $mobile {
			text-align: center;
		    margin: 0 auto;
			li {
				display: block;
				float: none;
				a {

				}
			}
		}

	}

}

%detail-disponibilidade {
	.time {
		font-family: $font-custom;
		color: #000;
	}	
}

%detail-quantidade {
	.txtQuantity {
		margin: 0 0 20px;
		font-family: $font-custom;

		.lbl-quantity {
			font-weight: normal;
		    text-transform: initial;
			color: #5a5a5a;
			margin: 0 10px 10px 0;
			display: inline-block;
			font-size: 12px;
		}
		input[type="text"] {
			width: 30px;
			height: 30px;
			border: 1px solid #a4a4a4;
			text-align: center;
		}
	}
}

%detail-description-preview {
	.description {
		font-family: $font-custom;
		line-height: 13px;
		font-size: 12px;
		color: $colorDefault;
		border: 0;
		margin: 0;
		padding: 0;
		> strong {
			&:first-child {
				display: none;
			}
		}
		a {
			color: #000;
			font-family: $font-custom;
			text-transform: uppercase;
		}

	}
	#ajaxDescriptionPreview,
	#lblDescricaoPreview {
	    @include clearfix;
	    display: none;
	    @if $desktop{
			width: 100%;
			float: left;
			margin-top: 15px;
	    }
	}

}

%detail-description-full {
	.section.about.description {
		font-family: $font-custom;
		color: $colorDefault;
		line-height: 20px;
		font-size: 13px;
		background: none;
	}
}


%detail-social {
	.social {
		text-align: center;
		width: 100%;
		clear: both;
		@if $desktop{
		    padding-left: 100px;
		}
		.media {
			display: inline-block;
			float: none;
			vertical-align: middle;
			&.invite {
				a {
					background: url("/static/locales/global/img/emailnew.png") repeat-y;
					height: 20px;
				}
			}
			#___plusone_0 {
				width: 56px !important;
			}
		}
	}
}

%detail-notify {
	.notifyme.form {
		@if $desktop{
		    min-width: 250px;
		}
		@include box-sizing;

		span {
			color: $color-theme2;
			font-family: $font-custom;
			font-size: 0;
			font-weight: normal;	
			text-transform: uppercase;	
			text-align: center;
			strong {
				color: $color-theme2;
				font-size: 16px;
			}

		}
		> span {
			
		}
		label {
			position: relative;

			> span {
				display: none;
			}

			input {
				border: 1px solid #b7b7b7;
				border-radius: 5px;
				@if $desktop {
					width: 150px !important;
					margin: 0 5px 0 0;
					height: 37px;
					padding: 0 15px;
				}@else {
					width: 100% !important;
				}
			}

		}
		.btn {
			@extend %btn-enviar-notify;
			@if $desktop {
				font-weight: bold;
				font-size: 14px;
				width: auto;
			}
		}
		+.sucess2 {
			
		}
	}

}

%detail-tabs {
	#ajaxTabs {
	    width: 100%;
	    clear: both;
	    @include clearfix;
	}
	.tabs {
	    .tab-link {
	        h2 {
	        	border-color: #fff;
	        	border-bottom-color: #666;
	        	background: #ebebeb;
	        	border-top-left-radius: 4px;
	        	border-top-right-radius: 4px;
	        	text-align: center;
	        	@if $desktop{
	        		margin-right: 10px;
	        		min-width: 165px;
	        	}
	        	span {
	        		color: #a5a5a5;
	        	}
	            &.active {
	            	border: 1px solid #666;
	            	background: #fff;
	            	border-bottom-color: transparent;
	            	color: #a5a5a5;
	            }
	        }
	    }
	    .tab-content {
	    	border-color: #666;
	    	height: 110px;
	    	.section {
	    		margin-bottom: 0;
	    	}
	    }
	}
}
%detail-buy {
	.skus-product[style="display: none;"] + #ProductBuy {
	    @if $desktop{
			float: left;
			clear: both;
			margin: 0 0 20px;
	    }
	}
	#ProductBuy {
	    @if $desktop{
			float: right;
			margin: 40px 0 0;
	    }
	    @extend %detail-quantidade;
	    
	    #DROP_SKU_Comprar{
	        @if $desktop{
	        	float: left;
	        }
	    }
	}
	.action {
	    margin: 0;
	    .btn.buy {
	        @extend %btn-detalhes-comprar;
	    }
	}
}
%garantia {
	.price.sale strong {
		color: $prod-price-to-c;
		font-size: $prod-price-to-s;
		font-family: $prod-price-font;
	}
	.continue {
		@extend %btn-garantia-continuar;
	}
}
$color-review-name: $color-theme2;

%detail-sections {
	div.section {
		@if $desktop{
			padding: 0 20px;
		}
		h2 {
			@extend %title-vitrine;
		}
		&.about {
		    .hreview  {
		        font-family: $font-custom;
		        color: $colorDefault;
		        span.item {
		        	display: none;
		        }
		        .description,
		        .rating {
		        	
		        }
		        p.reviewer {
		        	color: $color-review-name;
		        	font-size: 15px;
		        	.dtreviewed {
		        		color: $colorDefault;
		        		font-weight: normal;
		        	}
		        }
		    }
		    @extend %reviewaggregate-avalicao-dos-clientes;
		}
	}
}
%detail-responsive-abas {
	.responsive-abas-description {
		h2 {
			@extend %title-vitrine;
			margin-bottom: 5px;
			font-size: 12px;
			&::after {
				font-size: 15px;
			}
		}
		.hreview {
			text-align: left;
			span.item {
				display: none;
			}
			.fn {
				color: $color-review-name;
				.dtreviewed {
					color: $colorDefault;
					font-weight: normal;
				}
			}
		}
		.rating {
			margin-top: 8px;
		}
	}
}
body {
	@extend %reviewaggregate;
	#info-product {
		@if $desktop{
			* { @include box-sizing; }
			@extend %detail-collum-image-desktop;
			@extend %detail-collum-details-desktop;
			@extend %detail-skus-product-desktop;
		}@else {
			@extend %detail-responsive-abas;
		}
		@extend %detail-description-preview;
		@extend %detail-skus-product;
		@extend %detail-name;
		@extend %detail-fabricante;
		@extend %detail-reviewaggregate;
		@extend %detail-stamp;
		@extend %detail-price-from;
		@extend %detail-price-to;
		@extend %detail-parcel;
		@extend %detail-price-offer;
		@extend %detail-disponibilidade;
		@extend %detail-economize;
		@extend %detail-buy;
		@extend %detail-notify;
		@extend %detail-tools;
		@extend %detail-tabs;
		@extend %detail-social;
	}
		@extend %detail-description-full;
	&.product,
	&.lookDetalhe {
		@extend %detail-sections;
	}
}
