$colorBreadcrumbs: #5a5a5a;
$colorBreadcrumbsDestaque: $color-theme;

%breadcrumbs {
	#main #breadcrumbs {
		background: #fff;
		margin: 0 0 16px;
		padding: 10px 0 16px 0;
		border-bottom: 1px solid #cecece;
		font-weight: 600;
		font-family: $font-custom;
		@if $mobile {
			padding-left: 10px;
			margin-bottom: 0;
		}

		&::before {
			content: "Voc\00ea \00a0 est\00e1 \00a0 em: ";
			float: left;
			line-height: normal;
			margin-right: 5px;
			color: $colorBreadcrumbs;
			text-transform: none;
			line-height: 12px;
			font-weight: bold;
			@if $mobile{
			    line-height: 15px;
			}
		}

		a {
			margin-right: 0;

			&::after {
				display: none;
			}

			span {
				background: url('/static/locales/global/img/sprite_bullets.png') no-repeat;
				background-position: right -138px;
				padding-right: 13px;
			}

		}

		span {
			@include fonte(12px, $colorBreadcrumbsDestaque, bold, $font-custom, initial);
			span {
				color: $colorBreadcrumbs;
				font-weight: normal;
			}

		}

		h1 {
			span {
				color: $colorBreadcrumbsDestaque;
				font-weight: bold;
			}

		}

	}
	&.lookDetalhe,
	&.product {
		#main #breadcrumbs {
			@if $desktop{
				border-bottom: 0;
				margin-bottom: 0;
			}
		}
	}

}

$color-filters: #6e6e6e;
$color-filter-highlight: $color-theme;
$fontFilters: $font-size-def;

%filter-navigation {
	.order {
		@include clearfix;
		position: relative;
		display: inline-block;
		margin-left: 253px;
		margin-bottom: 20px;
		vertical-align: top;
		> span {
			font-weight: bold;
		}
		select {
			width: 175px;
			height: 25px;
		}
	}
	#main .content .filters {
		font-family: $font-custom;
		position: relative;
		border: 0;
		padding: 10px;
		margin: 0;
		display: none;
		> span {
			color: $color-filters;
			float: left;
			font-size: 11px;
			line-height: 29px;
			font-weight: bold;

		}

		fieldset {
			float: left;
		    width: 687px;
		    width: calc(100% - 81px);
		    
		}

		ul {
			> li {
				margin-left: 5px;
				padding-left: 5px;
				&:first-child {
					margin-left: 0;
					padding-left: 0;
				}
			}

			a {
				@include fonte(12px, $color-filters, normal, $font-custom, initial);
				line-height: 29px;
				text-decoration: none;
				text-transform: none;
			}

		}

	}

}
%filter-navigation-mobile {
	#main {
		.order {
			text-align: center;
			margin: 5px 0;
			> span {
				font-weight: bold;
				color: $color-filters;
				font-family: $font-custom;
				font-size: 12px;
			}
			select {
				min-height: 25px;
			}
		}
		.itens-page {
			color: $color-filters;
			font-family: $font-custom;
			font-size: 12px;
			width: 100%;
			display: block;
			text-align: center;
			margin: 15px 0 0;
		}
		.filters {
			li {
				@include fonte($font-custom, normal, 11px, $color-filters);
				a {
					&.selected {
						color: $color-theme2;
					}
				}
			}
		}
		#divSort {
			
		}
		.side-filters,
		.aside.active {
			li {
				span::before,
				a::before {
					color: $color-theme;
				}
			}
		}
	}
}
%filter-vs-mode {
	.vs-mode {
		font-family: $font-custom;

		> span {
			@include fonte(12px, #000, normal, $font-custom, initial);
		}

		.ico {
			color: #a3a3a3;

			&.table {
				background: url("/static/locales/global/img/ico_table.gif") no-repeat;

				&.selected {
					background-position: 0 -17px;
				}

			}

			&.list {
				background: url("/static/locales/global/img/ico_list.gif") no-repeat;

				&.selected,
				&:hover {
					background-position: 0 -17px;
				}

			}

			&.selected,
			&:hover {
				color: $color-theme;
				text-decoration: none;
			}

		}
		ul,
		li,
		a,
		span {
			height: auto;
		}
		li {
			a {
				color: #a3a3a3;
				&:hover {
					color: $link-color;
				}

			}

		}

	}

}

%filter-show-pages {
	.filter-details {
		padding: 10px;
		border: 0;
		border-top: 0;
		> p {
			float: right;
		}

	}

}
%filter-show-pages-mobile {
	.content .filter-details {
		> p {
			@include fonte($font-custom, normal, 11px, $color-filters);
			text-transform: uppercase;
			float: left;
		}

	}
 }
%filter-itens-pages {
	.itens-page.field {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		margin-left: 15px;
		> span {
			@include fonte($font-custom, normal, 12px, $color-filters);
			line-height: 25px;
		}

		select {
			border: 1px solid #d2d2d2;
			border-radius: 5px;
			width: 54px;
			height: 25px;
		}

	}
	#hypCompare.btn.compare {
		@extend %btn-catalog-compare;
	}


}

%filter-desktop {
	@extend %filter-navigation;
	@extend %filter-vs-mode;
	@extend %filter-itens-pages;
	@extend %filter-show-pages;
}
%catalog-txt-seo {
	.bg-seo {
		padding: 10px;
		margin-top: 20px;
	}
	[class*='categ-desc'] {
		@include fonte(13px, $colorDefault, normal, $font-custom, initial);
    	clear: both;
    	margin-bottom: 20px;
    	line-height: 21px;
    	text-align: center;
	}
}
%compare-page {
	&.comparepage {
		a.btn.ir.delete {
			@extend %btn-success;
			font-size: 12px;
			line-height: 25px;
			padding: 0;
		}
	}
}
%vitrine-veja-mais {
	.see-category {
		font-family: $font-custom;
	    color: $color-theme;
	    border-top: 0;
	    font-weight: bold;
	    font-size: 14px;
	    @if $desktop{
	    	text-align: right;
	    }@else {
	    	text-align: center;
	    }
	    em {
	    	color: #5a5a5a;
	    }
	    &:hover {
	    	text-decoration: none;
	    	opacity: 0.5;
	    }
	    &::before {
	    	display: none;
	    }
	}
}

body {
	@if $desktop {
		@extend %filter-desktop;
	}@else {
		@extend %filter-show-pages-mobile;
		@extend %filter-navigation-mobile;
	}
	@extend %breadcrumbs;
	@extend %catalog-txt-seo;
	@extend %compare-page;
    @extend %vitrine-veja-mais;


	div.chaordic {
		&:empty {
			display: none;
		}
	}
}
