body {
    &.loginpage {
        #main {
            .container {
                @if $desktop {
                    width: 966px;
                }
            }
        }
        .main-content h1 {
            @extend %title-checkout;
        }
        .main-content {
            margin: 0 !important;
        }
        .login {
            @if $desktop {
                border: 1px dotted #cccccc;
                margin-top: 50px !important;
                margin-bottom: 50px !important;
            }

            .collum {
                &.box {
                    .field {
                        a {
                            @if $desktop {
                                line-height: 35px;
                                width: 149px;
                            }
                        }
                    }
                }
                &.even {
                    input.email {
                        @if $desktop {
                            width: 100% !important;
                            margin-bottom: 10px;
                        }
                    }
                }
                &:not(.even) {
                    dl {
                        position: static;
                    }
                }
            }
            .btn.enter {
                @extend %btn-login-entrar;
            }
            .btn.continue {
                @extend %btn-login-continuar;
                 @if $desktop {
                    margin: 24px 0px 0px 0px !important;
                }
            }
            input[type="text"],
            input[type="password"] {
                @if $desktop {
                    width: 100%;
                    height: 35px !important;
                    padding: 7px !important;
                    box-sizing: border-box;
                }
            }
            #txtEmail {
                width: 100% !important;
            }
            
        }
    }
    &.loginpage.request {
        .form {
            .title {
                background: none;
            }
            input[type="text"] {
                @if $desktop {
                    width: 100% !important;
                    margin-bottom: 10px;
                }
            }
            .btn.continue.ir {
                @if $desktop{
                    margin: 5px 0px 0px 0px !important;
                }
            }
        }
    }
    #formcadastro_btnSalvar {
        @extend %btn-salvar-cadastro;
    }
    &.register {
        h1 {
            margin-left: 0;
            margin-bottom: 15px;
        }
        #main .container {
            @if $desktop {
                width: 966px;
                .form .field:not(.person):not(.checkbox) {
                    
                }
                .form .field div .validacao,
                .form .field div .alert,
                .form .field label .validacao,
                .form .field label .validacao.alert {
                    
                }
            }
        }
        &:not(.delivery-address) {
            #spanMsgValidacaoNumero {
                left: 0;
            }
        }
    }
    &.affiliates {
        .btn.ir.save {
            @extend %btn-afiliado-salvar;
        }
    }
    .reports {
        .btn.ir.search {
            @extend %btn-afiliado-pesquisar-relatorio;
        }
    }
    &.institucional .results .export {
        @extend %btn-afiliado-pesquisar-relatorio;
    }
    &.partner {
        .title {
            font-family: $font-custom;
            font-size: 12px;
            color: #000;
            @if $mobile{
                 padding-bottom: 10px;
                text-transform: uppercase;                
                display: block;
            }
        }
        .box {
            background: #fff;
            @if $mobile{
                border: 1px solid #ccc;
                padding: 10px;
                margin: 0 20px;
            }
        }
        #main label {
            > span {
                font-size: 12px;
                color: $colorDefault;
                padding-bottom: 5px;
            }
            input[name="txtSenha"] {
                width: 100%;
                border-radius: 0;
                height: 35px;
                border-color: $colorBorder;
            }
        }
        .btn.continue {
            @extend %btn-login-continuar;
        }
    }
}