/* inicio - Botoes*/
%btn-prymary {
    background: $btn-primary-bg;
    color: $btn-primary-color;
    font-family: $font-custom;
    font-weight: bold;

    &:hover {
        background: $btn-primary-bg;
        color: $btn-primary-color;
    }

}

%btn-success {
    background: $btn-success-bg;
    color: $btn-success-color;
    font-family: $font-custom;

    &:hover {
        background: $btn-success-bg;
        color: $btn-success-color;
    }

}

%btn-cancel {
    background: #9a2f2f;
    color: #fff;
    font-family: $font-custom;

    &:hover {
        background: #9a2f2f;
        color: #fff;
    }

}

/* inicio - Botoes Gerais Default*/
    body .btn,
    .btn.buy,
    #hypSalvar,
    .btn.ir.save,
    .btn.ir.send,
    .btn.ir.buy,
    .new-search,
    .reports .search,
    .email .continue,
    .forget .continue,
    .loginexistente .continue,
    .loginexistente .cancel,
    .garantia .continue,
    .checkout .continue,
    .move-products .ok,
    .filter-wish .search,
    .my-lists #btnAvancar,
    .alterarSenha .continue,
    .confirmacao .actions a,
    .meuspedidos .request .actions a,
    .contaCorrente .form .btn,
    .my-lists .login .continue,
    .results .form .field .search,
    .login .collum fieldset .field .btn,
    .checkout.close .main-content .address .actions a,
    .checkout.delivery .service-basket .actions a,
    .checkout .buttons-basket li .btn,
    #panCentro .box .form .actions .btn,
    .institucional .form .actions .btn,
    .register .form .actions .btn,
    .partner .btn.ir.enter.continue,
    .form .enter {
        @extend %btn-prymary;
    }
/* fim    - Botoes Gerais Default*/

/* inicio - Botoes Catalogo */
    html .list-products li .hproduct .details .buy {
        @extend %btn-success;
    }
    html .content .filter-details .btn-mob-compare {
         @extend %btn-prymary;
    }
/* fim    - Botoes Catalogo */    

/* inicio - Botoes Detalhes */
    html .product .content .collum.details .btn.buy {
        @extend %btn-success;
    }
/* fim    - Botoes Detalhes */

/* inicio - Botoes Basket */
    /* btn: Continue*/
        html .checkout .buttons-basket li .btn.continue {
            @extend %btn-success;
        }
    /* btn: Comprar mais*/    
        html .checkout .buttons-basket li .btn.buy-more {
            @extend %btn-prymary;
        }
    /* btn: Cep, Cupom */ 
        html .checkout .buttons-basket li .btn.calculate {
            @extend %btn-prymary;
        }
        html .checkout .basket table tr.coupon td .form .utilize {
            @extend %btn-prymary;
        }
/* fim    - Botoes Basket */

/* inicio - Modal Item adicionado ao carrinho */
     /* btn: Fechar pedido */  
         html .quickBasquet .actions li.fr a {
            @extend %btn-success;
         }
     /* btn: Comprar mais */ 
        html .quickBasquet .actions li.fl a {
            @extend %btn-prymary;
         }
/* fim    - Modal Item adicionado ao carrinho */

/* inicio - Contacorrente*/
    .contaCorrente .box.form .field .btn, .contaCorrente .modal-notifyme .box.form label .btn, .modal-notifyme .contaCorrente .box.form label .btn, .contaCorrente .box.form .checkout.close .payment .option.pagamento-em-casa ul li .btn, .checkout.close .payment .option.pagamento-em-casa ul .contaCorrente .box.form li .btn, .contacorrente .box.form .field .btn, .contacorrente .modal-notifyme .box.form label .btn, .modal-notifyme .contacorrente .box.form label .btn, .contacorrente .box.form .checkout.close .payment .option.pagamento-em-casa ul li .btn, .checkout.close .payment .option.pagamento-em-casa ul .contacorrente .box.form li .btn {
         @extend %btn-success;
    }
/* fim    - Contacorrente*/

/* Inicio    - Modal adicionar novo endereco */
    body .actions .bt-yes,
    body .actions .bt-no,
    html .addressNotFound .form .actions .bt-yes,
    html .addressNotFound .form .actions .bt-no {
        @extend %btn-prymary;
    }
/* fim    - Modal adicionar novo endereco*/

/* inicio - Lista de desejos */
    html .filter-wish .field .btn, 
    html .move-products .field .btn,
    html .list-products.desired-products li .coment .actions .btn {
        @extend %btn-prymary;
    }
    html .desired-products .btn.buy {
        @extend %btn-success;
    }
/* fim    - Lista de desejos */

/* inicio - Confirmacao */
    /*Botao Imprimir boleto */
    html .confirmacao .request .collum .info .actions a {
         @extend %btn-success;
    }
/* fim    - Confirmacao */

/* inicio -  Presente*/
    /*Botao continuar e fechar pedido */
    .checkout div.gift .actions .btn {
         @extend %btn-success;
    }
/* inicio -  Presente*/