/* ICONES*/
	%icons-header {
		font-family: "FontAwesome";
		text-indent: 0;
		display: block;
		text-indent: 0;
	}
	%icon-menu {
		color: $icon-nav-color;
		content: "\f039";
		font-size: 31px;
		margin: 17px 0 0 18px;
	}
	%icon-search {
		color: $icon-search-color;
		content: "\f002";
		font-size: 26px;
		margin-top: 25px;
	}
	%icon-cart {
		color: $icon-basket-color;
		content: "\f07a";
		font-size: 26px;
		margin-top: 25px;
	}
/* ICONES */

/* inicio - Header */
	.wrapper {
	    div#header {
	    	background: #fff;
	    	height: $header-height;
	    	&.active {
	    		height: $header-height + 58px;
	    	}
			#logo,
			.logoFT {
				padding: 10px 90px 17px 66px;
			}
			.btn-nav-mobile {
				.nav-click {
					background: none;
					font-size: 0;
					height: $header-height;
					width: $header-height;
					&::before {
						@extend %icons-header;
						@extend %icon-menu;
					}
				}
			}
			.btn-cart-mobile {
				margin-right: 10px;
				position: relative;
				.qtd-cart {
					position: absolute;
					top: 20px;
					right: 3px;
					background: $color-theme !important;
					margin: 0 !important;
				}
			}
			.header-btn-mobile,
			.header-btn-mobile-float {
				.btn-search-top {
					background: none;
					text-align: center;
					&::before {
						@extend %icons-header;
						@extend %icon-search;
					}
				}
				.btn-cart-mobile {
					background: none;
					&::before {
						@extend %icons-header;
						@extend %icon-cart;
					}
				}
			}
			.hideShowHeader {
				background: $color-theme;
				span {
					background: none;
					margin: 0;
					height: 19px;
					text-align: center;
					&::before {
						content: "\f0d8";
						font-family: "FontAwesome";
						font-size: 15px;
						color: #000;
						display: block;
					}
				}
			}
			#floatToolbar {
				background: #fff;
				height: $header-height;
				&.active {
					height: 120px;
				}
				.closeHeader {
					background: none;
					span {
						font-size: 0;
						&::before {
							content: "\f068";
							font-family: "FontAwesome";
							font-size: 20px;
							text-indent: 0;
							color: #000;
							display: block;
							margin: 14px 0 0 15px;
						}
					}
				}
			}
	    }
	}
/* fim    - Header */

/* inicio - Menu Horizontal */
    div.wrap-nav-mobile {
        width: 100%;
        font-family: $font-base;
        top: $header-height;
        max-height: calc(100vh - #{$header-height});
        .welcome{
        	background-color: #767676;
        }
        #nav {
			li {
		        border-bottom-color: #ccc;
		        font-weight: normal;
		        text-transform: uppercase;
			}
			> li {
				background-color: $menu-bg-color;
				color: $menu-link-color;
				font-size: $menu-font-size;
				border-bottom-color: #ccc;
				font-family: $menu-font-family;
				> a,
				> span {
				 	color: $menu-link-color;
				}
				&:last-child {
					background: $menu-last-bg-color;
					border-bottom-color: $menu-last-bg-color;
				}
				.sub-parent {
					color: #000;
				}
			}
        }
        .help {
        	opacity: 1;
        	padding-top: 0;
        	font-family: $font-custom;
        }
        .help-user {

        }
    }
/* fim    - Menu Horizontal */
