/* -------------------------------------------------------*/
/* ------------*>>> CONFIGURAÇÕES <<<---------------------*/
/* -------------------------------------------------------*/
$color-theme: #00a651;
$color-theme2: #000;
$font-c: #6c6c6c;
$link-c: $color-theme;
$link-ch: $color-theme;
$font-base: Arial,Helvetica,sans-serif;
$font-custom: 'Roboto Condensed', sans-serif;

$m-font: $font-custom;				//Menu - Font Family
$m-font-s: 15px;					//Menu - Font Size
$m-font-c: #808080;					//Menu - Font Color
$m-font-cv: $color-theme;			//Menu - Font Color Hover
$m-bg-c: #fff;						//Menu - Background Color
$m-bg-ch:  #f1f4f7;					//Menu - Background Color Hover

$mv-title-color: $color-theme;		//Menu Vertical Title - Color
$mv-title-font: $font-custom;		//Menu Vertical - Font Family


$vit-title-font: $font-custom;					// Vitrine Title - Font Family
$vit-title-font-c: #000;						// Vitrine Title - Font Color



	/* Inicio - Produto */
	    $prod-default-font: $font-base;              //Produto Fonte Family Geral

		$prod-name-color: #666;						//Produto Title - Color
		$prod-name-font: $font-custom;				//Produto Title - Font
		$prod-name-font-s: 14px;						//Produto Title - Font Size

		$prod-price-font: $font-custom;	  		     	//Produto Price - Font
		$prod-price-font-c: #9f9f9f;					//Produto Price - Color
		$prod-price-font-s: 15px;						//Produto Price - Size

		$prod-price-from-c: #9f9f9f;		 			//Produto Price From (de) - Font Color
		$prod-price-from-s: $prod-price-font-s; 		//Produto Price From (de) - Font Size

		$prod-price-to-c:  #00a651; 			        //Produto Price To (por) - Font Color
		$prod-price-to-s: 19px; 						//Produto Price To (por) - Font Size

		$prod-parcel-c:  #000; 							//Produto Parcelamento - Font Color
		$prod-parcel-s: 13px; 							//Produto Parcelamento - Font Size
	/* fim    - Produto */


	/* Inicio - Detalhes */
	    $detail-default-font: $font-base;

		$detail-name-color: #666;						//Detalhes Title - Color
		$detail-name-font: $font-custom;				//Detalhes Title - Font
		$detail-name-font-s: 14px;						//Detalhes Title - Font Size

		$detail-price-font: $font-custom;	  		    //Detalhes Price - Font
		$detail-price-font-c: #9f9f9f;					//Detalhes Price - Color
		$detail-price-font-s: 15px;						//Detalhes Price - Size

		$detail-price-from-c: #9f9f9f;		 			//Detalhes Price From (de) - Font Color
		$detail-price-from-s: $detail-price-font-s; 	//Detalhes Price From (de) - Font Size

		$detail-price-to-c:  #00a651; 			        //Detalhes Price To (por) - Font Color
		$detail-price-to-s: 19px; 						//Detalhes Price To (por) - Font Size

		$detail-parcel-c:  #000; 						//Detalhes Parcelamento - Font Color
		$detail-parcel-s: 13px; 						//Detalhes Parcelamento - Font Size
	/* Fim -    Detalhes */

/*
* Largura padrão do conteudo das páginas;
*/
$larguraPadrao: 990px;
$largura_quickview: 890px;
$altura_quickview: 690px;
$largura-look-aside: 340px;


/*Quantidade de produtos por linha */
$prod-by-row: 3;
$prod-by-row-home: 4;
$prod-by-row-history: 4;
$prod-by-row-product: 4;

/*
* DOCUMENTAÇÃO DE IMAGENS
*/
/* Vitrine */
$ft_vitrine_w: 200px;
$ft_vitrine_h: 200px;

/* Vitrine - Vira */
$ft_vitrine_vira_w: 200px;
$ft_vitrine_vira_h: 200px;

/* Detalhes */
$ft_detalhes_w: 410px;
$ft_detalhes_h: 410px;

/* Thumb */
$ft_thumb_w: 75px;
$ft_thumb_h: 75px;

/* look - vitrine */
$look_vitrine_w: 200px;
$look_vitrine_h: 200px;

/* look - detalhes */
$look_detalhes_w: 364px;
$look_detalhes_h: 364px;

/* Look - Thumb */
$look_thumb_w: 72px;
$look_thumb_h: 72px;

$ft_history_w: 146px;
$ft_history_h: 146px;

/* Quem viu viu tmb e quem viu Look*/
$ft_suggest_w: 146px;
$ft_suggest_h: 146px;


/* Inicio - Mobile*/
	$link-color: #4e4e4e; 

    /* Inicio - Menu */
    	$header-height: 67px;
		$menu-bg-color: #fff;
		$menu-link-color: #000;
		$menu-font-size: 14px;
		$menu-font-family: Arial;
		$menu-last-bg-color: darken($menu-bg-color, 5%);
		$menu-last-font-color: darken($menu-bg-color, 5%);
		$submenu-icon-color: #000;

		$menu-help-bg: #e9e9e9;
		$menu-help-font-color: #505050;
	/* Fim    - Menu */
	
	/* Inicio - Icones Header */
		$icon-nav-color: $color-theme;
		$icon-basket-color: $color-theme;
		$icon-search-color: $color-theme;
	/* Fim    - Icones Header */

	/* Inicio - Botoes */
		$btn-font: $font-custom;

		$btn-primary-bg: #1d1d1d;
		$btn-primary-color: #fff;

		$btn-success-bg: linear-gradient(to bottom, #45cfa0 0%,#3c9d7a 100%);
		$btn-success-color: #fff;
	/* Fim    - Botoes */

	/* Inicio - Newsletter */
		$news-bt-bg: $btn-primary-bg;
		$news-bt-color: $btn-primary-color;
		$news-bg: #E6CFA8;
	/* Fim    - Newsletter */

	/* Inicio - Titulos*/
		$title-font: $font-custom;
		$title-font-size: 22px;
		$title-font-color: #727272;
	/* Fim - Titulos*/


	/* Inicio - Ocultar Elementos */
		$hide-review-vitrine: false;
		$hide-button-buy-vitrine: false;
		$hide-compare-catalog: false;
		$hide-newsletter-footer: false;
		$hide-sigla-DePor: true;
	/* fim -    Ocultar Elementos */
		$tools-icon-color: #E86464;
		$tools-link-color: #222;
/* fim    - Mobile */