/* -------------------------------------------------------*/
/* ------------*>>> CONFIGURAÇÕES <<<---------------------*/
/* -------------------------------------------------------*/
$desktop: true !default;
$mobile: false;

$path-img: "/static/locales/global/img";

$color-theme: #dc252c;
$color-theme2: #0677bd;
$colorBorder: #d2d2d2;
$colorIcons: #000;

$font-c: #000;
$link-c: #0677bd;
$link-color: #0677bd; 

$font-def: Arial,Helvetica,sans-serif;
$font-size-def: 12px;

$font-custom: 'Open Sans', sans-serif;
$font-custom2: 'Open Sans', sans-serif;
$font-icon:   'FontAwesome'; 

$colorDefault: #6e6e6e;
$color-theme: #ee2f36;
$color-theme2: #0677bd;
$color-theme3: #db2f63;
$color-theme4: #0094ae;
$color-theme5: #565656; 


/* Largura padrão do conteudo das páginas */
$page-width: 990px;


/* DOCUMENTAÇÃO DE IMAGENS* /

/* Vitrine */
$ft_vitrine_w: 253px;
$ft_vitrine_h: 253px;


/* Detalhes */
$ft_detalhes_w: 387px;
$ft_detalhes_h: 387px;

/* Thumb */
$ft_thumb_w: 75px;
$ft_thumb_h: 75px;


/* look - detalhes */
$look_detalhes_w: 387px;
$look_detalhes_h: 387px;

/* Look - Thumb */
$look_thumb_w: 72px;
$look_thumb_h: 72px;

$ft_history_w: 130px;
$ft_history_h: 130px;

/* Quem viu viu tmb e quem viu Look*/
$ft_suggest_w: 130px;
$ft_suggest_h: 130px;

