/* -------------------------------------------------------*/
/* ------------*>>> CONFIGURAÇÕES <<<---------------------*/
/* -------------------------------------------------------*/
$desktop: true !default;
$mobile: false;

$path-img: "/static/locales/global/img";

$colorDefault: #565656;

$color-theme: #f51c59;
$color-theme2: #8ae9e6;

$colorBorder: #d2d2d2;
$colorIcons: #000;

$font-c: #000;
$link-color: #0677bd; 

$font-def: Arial;
$font-size-def: 12px;

$font-custom: 'Open Sans', sans-serif;
$font-custom2: 'Kalam', cursive;;
$font-icon:   'FontAwesome'; 

$title-modal-color: #114f9e;
$subtitle-modal-color: #000;


/* Largura padrão do conteudo das páginas */
$page-width: 1260px;


/* DOCUMENTAÇÃO DE IMAGENS* /

/* Vitrine */
$ft_vitrine_w: 240px;
$ft_vitrine_h: 240px;


/* Detalhes */
$ft_detalhes_w: 500px;
$ft_detalhes_h: 500px;

/* Thumb */
$ft_thumb_w: 75px;
$ft_thumb_h: 75px;

$ft_history_w: $ft_vitrine_w;
$ft_history_h: $ft_vitrine_w;

/* Quem viu viu tmb e quem viu Look*/
$ft_suggest_w: 130px;
$ft_suggest_h: 130px;




/*---------------------------- CHECKOUT -----------------------------------*/
$colorCheckout: $colorDefault;
$colorCheckoutDestaque: $color-theme;
$colorNumeroPedido: $color-theme;
$fontSizeCheckout: 13px;


/*---------------------------- Notify -----------------------------------*/

$notify-title-color: $color-theme2;
$notify-title-font-family: $font-custom;
$notify-title-text-transform: uppercase;
$notify-title-font-size: 13px;
$notify-title-weight: bold;
