/*ARQUIVO PARA APENAS RESETAR PADROES DA MASTER*/
body {
    .banners {
        * {
            @include box-sizing;
        }
        &.main {
            float: left;
            width: 100%;
            ul {
                width: 100%;
            }
            li {
                margin-right: 0;
            }
        }
        &.b-left {
            li {
                width: 100%;
            }
        }
        li {
            img {
                width: 100%;
                height: auto;
            }
        }
        &.b-main.main {
            li {
                width: 100% !important;
            }
        }

        &.special-store {
            background: none;
            border: 0;
            min-height: 0;
            .owl-wrapper-outer {
                margin-left: 0;
            }
            li {
                img {
                    width: auto;
                    margin: 0 auto;
                }
            }
        }
        &.b-betweenvit {
            width: 100%;
            ul {
                width: 100%;
            }
            li {
                width: 100%;
            }

        }
        &.b-bottom {
            li {
                margin: 0 0 10px
            }
        }
    }

    &.home {
        .banners {
            &.b-top {
                width: 100%;
                margin: 0 auto;
                padding-bottom: 10px;
                .owl-item {
                    margin-bottom: 0;
                }
                li {
                    width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &.b-bottom {
                li {
                }
            }
            &.b-main {
                ul{
                }
                li {
                    width: 100% !important;
                }                
                
            }
            &.b-betweenvit {
                width: 100%;
                margin: 0 auto;
            }

            &.b-betweenvit {
                margin: 0 0 10px;
                padding: 0;
                @include box-sizing;
            }

            &.special-store {
                .title {
                }

                ul {
                    li {
                       float: left;
                    }
                }
            }
            &.full.b-bottom {
                margin: 0 auto;
                width: 100%;
                .posicao1 {
                   
                }
            }
        }
    }
}
