body {
    .banners {
        &.main {
            float: none;
            width: 100%;
        }
        li {
            img {
                width: 100%;
                height: auto;
            }
        }
        &.special-store {
            li {
                img {
                    width: auto;
                    margin: 0 auto;
                }
            }
        }
    }

    &.home {
        .banners {
            &.b-top {
                width: 1080px;
                margin: 0 auto;
                padding-bottom: 10px;
                .owl-item {
                    margin-bottom: 0;
                }
                li {
                    width: 100%;

                    &.posicao2 {
                        margin-top: 0;
                    }

                    &.posicao3,
                    &.posicao4,
                    &.posicao5,
                    &.posicao6 {
                        
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &.b-bottom {
                li {
                    &.posicao1,
                    &.posicao2,
                    &.posicao3 {
                        width: 406px;
                        float: left;
                        margin: 0 0 10px;
                    }
                    &.posicao2 {
                        margin: 0 11px 10px;
                    }
                }
            }
            &.b-main {
                margin: 0 auto;
                width: $page-width;
                padding-bottom: 7px;
                ul{
                    float:none;
                }
                
                .posicao1,
                .posicao2 {
                    width: 490px !important;
                    float: left;
                    margin: 0;
                    margin-right: 10px;
                }
                .posicao3,
                .posicao4,
                .posicao5,
                .posicao6 {
                    width: 240px !important;
                }
                .posicao6 {
                    clear: none;
                    margin-right: 0;
                }
                .posicao4 {
                    
                }
                li {
                    
                    &:nth-child(2) {
                        float: right;
                        margin-right: 0;
                    }
                }
            }
            &.b-betweenvit {
                width: 100%;
                margin: 0 auto;

                li {
                    .owl-item img {
                       
                    }

                    &.posicao6,
                    &.posicao7 {
                       
                    }
                    &.posicao7 {
                        
                    }
                }
            }

            &.b-betweenvit {
                margin: 0 0 10px;
                padding: 0;
                @include box-sizing;
            }

            &.special-store {
                background: #f2f2f2;
                width: 100%;
                height: 101px;
                border-top: 1px solid #d2d2d2;
                border-bottom: 1px solid #d2d2d2;


                .title {
                    float: left;
                    color: $colorDefault;
                    font-family: $font-custom;
                    font-size: 18px;
                    display: block;
                    width: 210px;
                    padding: 25px 31px 0;

                    @include box-sizing;
                    &::before {
                        content: "Grandes Marcas para sua Casa";
                        text-transform: none;
                    }
                    span {
                        display: none;
                    }
                }

                ul {
                    width: 780px;
                    height: 101px;
                    background: #fff;
                    float: left;
                    margin: 0;
                    padding: 20px 50px 0 70px;
                    @include box-sizing;
                    li {
                        border-left: 1px solid #d2d2d2;
                    }
                    .owl-wrapper-outer {
                        div.owl-item:first-child {
                            li {
                                border-left: 0;
                            }
                        }
                    }
                    .owl-next {
                        left: auto !important;
                    }

                    .owl-controls {
                        top: 50%;
                    }

                    .owl-wrapper-outer {
                        width: auto;
                        padding: 0;
                        margin-left: 0;
                    }
                }
            }
            &.full.b-bottom {
                margin: 0 auto;
                width: $page-width;
                .posicao1 {
                    float: none;
                    width: 100%;
                }
            }
        }
    }

    &.catalog,
    &.look {
        .banners {
            &.main {
                ul {
                    width: 100%;
                }

                li {
                    width: 117px !important;
                    height: 135px;
                    margin: 0 13px;

                    &.posicao1 {
                        width: 100% !important;
                        height: auto  !important;
                        margin: 0 0 10px;
                        float: left;
                        clear: none;
                    }
                }
            }
            &.b-bottom {
                margin: 20px 0px 10px 0px;
            }
        }
    }

    &.vitrine {
        .container {
            .banners {
                &.b-top {
                   
                }

                &.main {
                    ul {
                        width: 100%;
                    }

                    li {

                        &.posicao1 {
                            float: left;
                            clear: none;
                        }
                    }
                }
            }
        }
    }
}
