body {
    .banners {
        &.main {
            float: none;
            width: 100%;
        }
        li {
            img {
                width: 100%;
                height: auto;
            }
        }
        &.special-store {
            li {
                img {
                    width: auto;
                }
            }
        }
    }

    &.home {
        .banners {
            &.b-top {
                .owl-item {
                    margin-bottom: 5px;
                }
                li {
                    width: 100%;
                    margin: 0 auto 0;

                    &.posicao1 {
                        width: 100%;
                    }

                    &.posicao5,
                    &.posicao6,
                    &.posicao7 {
                        float: none;
                        width: 100%;
                        display: none;
                        margin-right: 13px;
                        overflow: hidden;
                    }
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &.b-bottom {
                @extend .b-top;
            }
            &.b-main {
                width: 100%;
                margin: 0 auto;
                .posicao1,
                .posicao2,
                .posicao3,
                .posicao4 {
                    width: 100% !important;
                    float: left;
                    clear: none;
                }
                li {
                    margin: 0 0 10px;
                    &:nth-child(2n-1) {
                        
                    }
                }
            }
            &.b-betweenvit {
                width: 100%;
                margin: 0 auto;

                li {
                    width: 100% !important;
                    margin: 0 0 10px !important;

                    .owl-item img {
                        width: auto !important;
                    }

                    &.posicao3,
                    &.posicao4,
                    &.posicao5 {
                        
                    }

                    &.posicao5 {
                       
                    }
                }
            }

            &.b-betweenvit {
                margin: 0 0 10px;
                padding: 0;
                @include box-sizing;
            }

            &.special-store {
                background: url("/static/locales/custom/img/bg_lojas-especiais.png") repeat;
                width: 100%;
                height: 97px;
                border: 0;

                .title {
                    display: none;
                }

                ul {
                    width: 100%;
                    margin: 24px 0 0;
                    padding: 0 20px 0 50px;
                    @include box-sizing;

                    .owl-next {
                        left: auto !important;
                    }

                    .owl-controls {
                        top: 50%;
                    }

                    .owl-wrapper-outer {
                        width: auto;
                        padding: 0;
                        margin-left: 0;
                    }
                }
            }
            &.full.b-bottom {
                width: $larguraPadrao;
                margin: 0 auto;
            }
        }
    }

    &.catalog,
    &.look {
        .banners {
            &.main {
                ul {
                    width: 100%;
                }

                li {
                    width: 117px !important;
                    height: 135px;
                    margin: 0 13px;

                    &.posicao1 {
                        width: 100% !important;
                        height: auto  !important;
                        margin: 0 0 10px;
                        float: left;
                        clear: none;
                    }
                }
            }
        }
    }

    &.vitrine {
        .container {
            .banners {
                &.b-top {
                   
                }

                &.main {
                    ul {
                        width: 100%;
                    }

                    li {

                        &.posicao1 {
                            float: left;
                            clear: none;
                        }
                    }
                }
            }
        }
    }
}
