$vit-title-font: $font-custom;                  // Vitrine Title - Font Family
$vit-title-font-c: #000;                        // Vitrine Title - Font Color

/** HOME - VITRINES**/
#main h1,
#main h2 {
    text-shadow: none;
}
.main-content {
    .section {
        border: none;
        padding: 0 0 20px;
        clear: both;
        h2 {
            @extend %title-vitrine;
        }
    }
}

body.product,
body.lookDetalhe {
    .section,
    .especificacion {


        h2 {
       

            span {

            }
        }
    }
}

/**  HOME - HISTORICO DE NAVEGACAO **/
.prod-view,
.instagram-slider {
    width: $larguraPadrao;
    margin: 20px auto;
    float: none;

    .title {
        @extend %title-vitrine;
    }
}