/* -------------------------------------------------------*/
/* --------------------*>>> MODALS <<<--------------------*/
/* -----------------------------------------------------*/

/* inicio - Configuracoes Gerais*/
    body {
        #fancybox-wrap {
            border: 0px solid #FFF;
        }
        #fancybox-content:empty + a#fancybox-close {
            display: none !important;
        }
        a#fancybox-close,
        a#fancybox-close-2 {
            @extend %fancy-close;
        }
        a#fancybox-close {
            display: none;
        }
        &.forget{
            .form{
                .field input[type=text]{
                    border: 1px solid #ccc;
                    height: 35px;
                    font-size: 13px;
                    text-indent: 10px; 
                }
            }
        }
        &.email{
            .form .radio input{
                height:17px;
            }
            #DadosPessoaJuridica{
                input{
                    border:1px solid #ccc;
                    border-radius: 35px;
                    //text-indent:10px; 
                    font-size:13px;
                }
                #btnContinuarPJ{
                    top: -40px;
                    position: relative;
                }
                .form{
                    .validacao{
                        top: 40px;
                        left: 0;
                    }
                }
            }
            #DadosPessoaFisica{
                .field {
                    width: 50%;
                    float: left;
                    input{
                        border:1px solid #ccc;
                        border-radius: 35px;
                        //text-indent:10px; 
                        font-size:13px;
                    }
                }
                .form{
                    .validacao{
                        top: 40px;
                        left: 0;
                    }
                }
            }
        }

    }
    
    body.indicate-friend,
    body.consult-delivery,
    body.rate  {
        padding: 5px 10px;
        @include box-sizing;
        h1 {
            @extend %title-modal;
        }
        .cep .field input {
            border: 1px solid #ccc;
            height: 25px;
            min-height: 25px;
        }
        input[type="text"],
        textarea {
            border-color: #ccc;
            min-height: 25px;
            border-width: 1px;
        }
        .btn.ir {
            @extend %btn-modal-consultar-prazo-consultar;
        }
        p,
        label {
            color: #000;
        }
    }
/* fim    - Configuracoes Gerais */

/* inicio - Alterar Endereco */
    .delivery-address {
        #main .container {
            padding: 0 !important;
        }
        .form .title {
            font-size: 18px;
        }
       .delivery-opt {
            margin: 0;
        }
        .delivery-opt + {
            .main-content {
               margin: 0;

                .actions {
                    margin-top: 5px !important;
                    padding-bottom: 0;
                }

                .address .actions li {
                    margin-bottom: 5px;
                }

                fieldset {
                    padding: 15px 0 15px 15px;
                }
            }
        }
        .address.box {
            > li:only-child {
                width: 290px;
                margin: 0;
                padding: 0;
            }
            li {
                .info,
                .details {
                    min-height: 100px;
                }
            }
            .btn.ir.edit {
                @extend %btn-modal-editar-endereco;
                width: 124px;
            }
            .btn.ir.use {
                @extend %btn-modal-usar-endereco;
            }
            .btn.ir.delete {
                @extend %btn-modal-deletar-endereco;
            }
            
        }
        #hypSalvar {
            @extend %btn-modal-salvar-usar-endereco;
        }
        #p_LimparEndereco {
            @extend %btn-modal-endereco-cancelar;
        }
    }
/* fim    - Alterar Endereco */

/* inicio - Avalie este produto*/
    body {
        &.rate {
            @include box-sizing;
            .form {
                .actions {
                    .send {

                    }
                }
            }
            .rating {
                .validacao {
                    right: 0;
                    left: 0;
                    top: 17px;
                    padding: 0;
                }
            }

            fieldset {
                @include box-sizing;
                width: 100%;
                overflow: hidden;
            }
            #txtMensagem {
                height: 50px;
            }
        }
    }
/* fim    - Avalie este produto */

/* inicio - Modal promocao produto gratis*/
    .basket-gift {
        .bt-container {
            a.btn {
                @extend %btn-modal-basket-produto-gratis-continue;
            }
        }
    }
/* inicio - Modal promocao produto gratis */    

/* inicio - Cep Nao Cadastrado */
    body .actions .bt-yes,
    body .actions .bt-no {
        padding: 0px 10px;
        text-transform: capitalize;
        color: #fff;
        height: 28px;
        line-height: 28px;
        font-size: 13px;
    }

    body .actions .bt-yes {
        background: $color-theme;
    }

    body .actions .bt-no {
        background: #ebebeb;
        color: #000;
    }

    .addressNotFound .form .actions {
        padding: 5px !important;
    }
    h1.mH1 {
        margin: 0 0 20px;
    }
/* fim    - Cep Nao Cadastrado */

/* inicio - Consultar Prazo de entrega */
    body.consult-delivery {
        .cep {
            .actions {
                margin: 18px 0 0;
            }
        }
        .field > label > span {
            height: 17px;
        }
        #pnlStoreDelivery h1.tit-frete {
            font-weight: bold;
            font-size: 12px;
            margin: 0 0 5px;
        }
        #txtZipCode {
            height: 38px;
        }
    }
/* fim    - Consultar Prazo de entrega */

/* inicio - Esqueci Minha Senha */
    body.forget,
    body.email,
    body.alterarSenha {
        background: #fff;
        .form {
            input {
                height: 25px;
                border-color: #000;
                border-width: 1px;
            }
        }
        @at-root  body.alterarSenha .form fieldset { padding: 0 10px;}
        .btn.continue {
            @extend %btn-modal-alterar-senha-continue;
        }
    }
/* fim    - Esqueci Minha Senha */

/* inicio - Indique um amigo*/
    form[action*="indique.aspx"] {
      padding: 0 5px 10px;
      background-color: #fff;
      @include box-sizing;
    }
/* fim    - Indique um amigo */

/* inicio - Login Ja existente*/
    body.loginexistente {
        a#fancybox-close {
            display: none;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            height: 35px !important;
            padding: 7px !important;
            box-sizing: border-box;
        }

        #main {
            h1 {
                @extend %title-modal;
                margin: 0; 
            }

            .field {
                input {
                    padding: 6px 9px;
                }
            }

            .lbl-buttons {
                float: right;
            }

            .btn {
                padding: 8px 10px;
                width: auto;
                @extend %btn-primary;
            }
        }
    }
/* fim    - Login Ja existente*/

/* inicio - Alterar Senha */
    body {
        &.alterarSenha {
            h1 {
                @extend %title-modal;
            }
        }
    }
/* fim    - Alterar Senha */

/* inicio - Servico de Entrega */
    body.delivery-service.delivery {
        background: #fff;
        #upBasket .actions a.change {
            @extend %btn-modal_servico-alterar-endereco;
        }
        #upBasket .actions a.continue {
            @extend %btn-modal_servico-salvar;
        }
    }
/* fim    - Servico de Entrega */

/* inicio - Termos */
    body {
        &.term {
            #divTerm {
                #hypContinue {}
                #lnkCancel {
                }
            }
        }
    }
/* fim    - Termos */



/* Endereço de entrega */
    #pnlStoreDelivery { 
        .address { 
            .info { 
                .actions { 
                    #hypStoreDelivery { 
                        width: 100%;
                        @include box-sizing;
                    }
                }
            }
        }
    }