/* -------------------------------------------------------*/
/* --------------------*>>> MODALS <<<--------------------*/
/* -----------------------------------------------------*/

/* inicio - Configuracoes Gerais*/
    body {
        #fancybox-wrap {
            border: 0px solid #FFF;
        }

        #fancybox-close,
        #fancybox-close-2 {

        }

        &.alterarSenha {
        }
    }
    %title-modal {
        font-family: $font-custom;
        color: #000;
        font-size: 22px;
        margin: 0 0 15px;
    }
    form[action*="indique.aspx"],
    form[action*="consultarPrazoEntrega"]#frm,
    body.rate  {
        padding: 5px 10px;
        @include box-sizing;
        h1 {
            @extend %title-modal;
        }
        .cep .field input {
            border: 1px solid #000;
            height: 20px;
            min-height: 20px;
        }
        input[type="text"],
        textarea {
            border-color: #000;
            min-height: 25px;
        }
        .btn.ir {
            @extend %btn-primary;
        }
        p,
        label {
            color: #000;
        }
    }
/* fim    - Configuracoes Gerais */

/* inicio - Alterar Endereco */
    .delivery-address {
        .form .title {
            font-size: 18px;
        }
       .delivery-opt {
            margin: 0;
        }
        .delivery-opt + {
            .main-content {
               margin: 0;

                .actions {
                    margin-top: 5px !important;
                    padding-bottom: 0;
                }

                .address .actions li {
                    margin-bottom: 5px;
                }

                fieldset {
                    padding: 15px 0 15px 15px;
                }
            }
        }
        .address.box {
            > li:only-child {
                width: 290px;
                margin: 0;
                padding: 0;
            }
            li {
                .info,
                .details {
                    min-height: 100px;
                }
            }
            .btn.ir.edit {
                @extend %btn-primary;
                @extend %btn-sm;
            }
            .btn.ir.use {
                @extend %btn-primary;
                @extend %btn-sm;
            }
            .btn.ir.delete {
                @extend %btn-primary;
                @extend %btn-sm;
            }
        }
    }
/* fim    - Alterar Endereco */

/* inicio - Avalie este produto*/
    body {
        &.rate {
            @include box-sizing;
            .form {
                .actions {
                    .send {

                    }
                }
            }

            fieldset {
                @include box-sizing;
                width: 100%;
                overflow: hidden;
            }
        }
    }
/* fim    - Avalie este produto */

/* inicio - Cep Nao Cadastrado */
    body .actions .bt-yes,
    body .actions .bt-no {
        padding: 0px 10px;
        text-transform: capitalize;
        color: #fff;
        height: 28px;
        line-height: 28px;
        font-size: 13px;
        -webkit-border-radi: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.6);
        -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.6);
        box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.6);
    }

    body .actions .bt-yes {
        background: $color-theme;
    }

    body .actions .bt-no {
        background: #ebebeb;
        color: #000;
    }

    .addressNotFound .form .actions {
        padding: 5px !important;
    }
/* fim    - Cep Nao Cadastrado */

/* inicio - Consultar Prazo de entrega */
    form[action*="consultarPrazoEntrega"]#frm {

    }
/* fim    - Consultar Prazo de entrega */

/* inicio - Esqueci Minha Senha */
    body.forget,
    body.email {
        background: #fff;
        .form {
            input {
                height: 25px;
            }
        }
    }
/* fim    - Esqueci Minha Senha */

/* inicio - Indique um amigo*/
    form[action*="indique.aspx"] {
      padding: 0 5px 10px;
      background-color: #fff;
      @include box-sizing;
    }
/* fim    - Indique um amigo */

/* inicio - Login Ja existente*/
    body.loginexistente {
        .collum fieldset .field .btn {
            margin-bottom: 7px;
        }

        #main {
            h1 {
                font-family: $font-custom;
                text-align: center;
            }

            .field {
                input {
                    padding: 6px 9px;
                }
            }

            .lbl-buttons {
                float: right;
            }

            .btn {
                padding: 8px 10px;
                width: auto;
            }
        }
    }
/* fim    - Login Ja existente*/

/* inicio - Alterar Senha */
    body {
        &.alterarSenha {
            .form {
                fieldset {
                    .continue {}
                }
                .collum {
                    span {}
                }
            }
        }
    }
/* fim    - Alterar Senha */

/* inicio - Servico de Entrega */
    form[action*="entrega.aspx"] {
        background: #fff;
        #upBasket .actions a.continue {
            @extend %btn-primary;
        }
        #upBasket .actions a.cancel {
            @extend %btn-primary;
        }
    }
/* fim    - Servico de Entrega */

/* inicio - Termos */
    body {
        &.term {
            #divTerm {
                #hypContinue {}
                #lnkCancel {
                }
            }
        }
    }
/* fim    - Termos */



/* Endereço de entrega */
    #pnlStoreDelivery { 
        .address { 
            .info { 
                .actions { 
                    #hypStoreDelivery { 
                        width: 100%;
                        @include box-sizing;
                    }
                }
            }
        }
    }