.catalog,
.look {
    div.pagination {
        margin: 0;
        padding: 0;

        ul {
            width: 100%;
            text-align: right;
            float: none;
            padding-bottom: 20px;

            li {
                float: none;
                display: inline-block;
                vertical-align: bottom;
                color: $font-c;
                font-family: $font-custom;
                font-size: 11px;
                height: auto;

                &.page {
                    display: none;
                }

                &.set-prev,
                &.prev,
                &.set-next,
                &.next {
                    a {
                        padding: 4px;
                        text-align: left;
                        display: block;
                        text-transform: uppercase;
                        border: 1px solid #e5e5e5;
                        background: #f3f3f3;
                        color: $font-c;
                        &:hover {
                            color: $color-theme;
                            text-decoration: none;
                        }
                    }

                }

                &.set-prev,
                &.set-next {
                    a {
                        background: #f3f3f3;
                    }

                }

                &.prev,
                &.next {
                    a {
                        
                    }

                }

                &.next,
                &.set-next {
                    
                }

                &.numbers {
                    a {
                        float: none;
                        display: inline-block;
                        vertical-align: bottom;
                        color: $font-c;
                        font-family: $font-custom;
                        font-size: 14px;
                        padding: 4px 8px;
                        border: 1px solid #e5e5e5;

                        &.selected,
                        &:hover {
                            font-weight: normal;
                            background: #fff;
                            border: 1px solid $color-theme;
                            color: $color-theme;
                        }

                        &:hover {

                        }

                    }

                }

            }

        }

    }

}