div#floatToolbar {
    height: 60px;
    background: #ccc;
    border-bottom: 0;
    box-shadow: none;

    .floatToolbar {
        margin: 0 auto;
        width: $larguraPadrao;
    }

    .closeHeader {
        border: medium none;
        margin: 0 10px 0 0;
        width: 50px;
        height: 52px;
        cursor: pointer;
         &::before {
            font-family: arial;
            content: "\203A";
            font-size: 38px;
            line-height: 13px;
            margin-left: -2px;
            color: #000;
            transform: rotate(-90deg);
            display: block;
       }
        &:hover {
            &::before {
                color: $color-theme;
            }
        }
        span {
            display: none;
        }
    }

    .logoFT {
        float: left;
        margin: 5px 50px 0 0;

        img {
            height: 36px;
            width: auto;
        }
    }

    .buscaFT.search {


        #txtBuscaFlutuante {

            &:focus {

            }
        }
    }

    .btn.ir {

    }

    .foneFT {
        float: left;
        background: url("/static/locales/custom/img/sprite-header.png") no-repeat scroll 0 -58px !important;

        span {
            display: block;
            &.fale {
                display: none;
            }
        }
    }

    .car {
        top: 7px;

        .basket {
            background: none !important;
            width: 201px !important;
            height: 45px !important;
            padding: 4px 0 3px 34px !important;
        }
    }
    .mini-car {
        top: 40px;
    }
}
.hideShowHeader {
    background: #000;
    span {
        box-sizing: content-box;
    }
}