body {
    #footer {
        @include box-sizing;
        background: #fff;
        display: block;
        border: 0;
        .collum {
            .title {
                font-family: $font-custom;
                color: #000;
            }
            li {
                background: none;
                padding-left: 0;
                a {
                    color: #000;
                }
            }
        }
        .copy {
            border-top: 0;
        }
    }

    .footerbuy #footer {
        @include box-sizing;

        .bg-footer {
            border-radius: 0;
        }

        .container {

        }

        .security {
        }
        .copy {
        }
    }
}