#main {
    .history {
        margin-top: 0px;
        .prod-view {
            border-top: 2px solid #fff;
            width: 100%;
            margin: 0 auto;
            float: none;
            padding: 20px 0 0;

            .title {
                position: relative;
                span {
                    font-family: $vit-title-font;
                    color: $vit-title-font-c;
                    display: inline-block;
                    font-size: 25px;
                    font-weight: 300;
                    text-transform: uppercase;
                    background: #fff;
                    padding: 8px 20px;
                    position: relative;
                    z-index: 2;
                }
                &::before {
                    border-top: 1px solid #000;
                    width: 100%;
                    height: 1px;
                    content: " ";
                    position: absolute;
                    display: block;
                    top: 24px;
                }                
            }

            .list-products {
                margin: 0 auto;
                width: $larguraPadrao;
                li {
                    width: auto;
                    margin: 0 28px 0;

                    .hproduct {
                        width: $ft_history_w;

                        .photo {
                            width: $ft_history_w;
                            height: $ft_history_h;
                        }
                    }

                    .figure {
                        a {
                            
                        }
                    }

                    .details,
                    .details span {
                        background: none;
                    }
                    .unavailable {
                        background: none;
                        text-align: center;
                        color: $color-theme;
                    }
                    .name {
                        font-size: $prod-font-s;
                    }

                    .parcel {
                        font-size: 12px;

                        strong {
                            color: $prod-parcel-c;
                        }
                    }
                    .percent-a-vista {
                        display: none;
                    }
                }

                &.owl-theme {
                    padding: 0 30px;
                    width: 960px;
                    width: calc(100% - 20px);
                    margin: 0;

                    li {
                        margin: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.catalog,
.product,
.vitrine {
    #main {
        .history {
            
        }
    }
}