body {
    /* Quatidades de produtos por linha Home/Vitrine/Catalog/Historico*/
    &.home {
        .content {
            .list-products {
                li {
                    width: 100% / $prod-by-row-home;

                    &:nth-child(#{$prod-by-row-home}n+1) {
                        clear: left;
                    }
                }
            }
        }
    }

    &.catalog,
    &.vitrine,
    &.look {
        .main-content {
            .list-products {
                li {
                    width: 100% / $prod-by-row;

                    &:nth-child(#{$prod-by-row}n+1) {
                        clear: left;
                    }
                }
            }
        }
    }

    &.product {
        .main-content {
            .list-products {
                li {
                    width: 100% / $prod-by-row-product;
                }
            }
        }
        .main-content {
            .combo {
               .list-products {
                    li {
                        width: 37.5%;
                        &.result {
                            width: 25%;
                        }
                    }
                } 
            }
        }
    }

    //combo (sempre 4)
    &.product {
        .main-content {
            .promo {
                .list-products {
                    li {
                        width: 25%;
                    }
                }
            }
        }
    }

    #main {
        .list-products {
            width: 100%;
            padding: 0;

            &.owl-carousel {
                li {
                    margin: 0;
                    width: 100%;
                    box-sizing: content-box;
                }

                .owl-prev,
                .owl-next {
                    background: #f0f0f0;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    text-indent: -9000px;
                    overflow: hidden;
                    opacity: 1;

                    &::before {
                        content: "\2039";
                        display: block;
                        color: #cfcfcf;
                        text-indent: 0;
                        float: none;
                        text-align: center;
                        line-height: 33px;
                        font-size: 38px;
                        height: 40px;
                    }

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .owl-next {
                    &::before {
                        content: "\203A";
                    }
                }
            }            

            * {
                @include box-sizing;
            }

            > li {
                padding: 0;
                margin: 0 0 10px;
                float: left;
            }

            .quick-look-container {
                width: 100%;
                left: 50px;
                bottom: 0;
                top: auto;
                height: 42px;

                a {
                    background: $color-theme;
                    font-family: $font-custom;
                    text-transform: uppercase;
                    border-radius: 4px;
                    color: #fff;
                    font-weight: normal;
                    border-bottom: 2px solid darken($color-theme, 10%)
                }
            }

            .hproduct {
                width: $ft_vitrine_w;
                margin: 0 auto;
                border: 0;
                padding-bottom: 10px;
                @include clearfix;

                .photo {
                    width: 100%;
                    height: auto;
                    border: 0 !important;
                    margin: 0;
                }
            }

            .details {
                font-family: $font-custom;
                text-align: center;
                .name {
                    font-family: $prod-name-font; 
                    font-weight: normal;
                    color: $prod-name-color;
                    font-size: $prod-name-font-s;
                }

                .offers {
                    > span {
                        
                    }
                    .percent-a-vista {
                        
                    }
                }

                .regular,
                .price {
                    display: block;
                    vertical-align: bottom;
                    font-family: $prod-price-font;

                    em {
                        
                    }
                }

                .regular {
                    color: $prod-price-from-c;
                    font-size: $prod-price-from-s;
                    font-family: $font-custom;
                }

                .price {
                    color: $prod-price-to-c;
                    font-size: $prod-price-to-s;

                    strong {
                        color: $prod-price-to-c;
                        font-size: $prod-price-to-s;
                        font-weight: bold;
                    }
                }

                .parcel {
                    color: $prod-parcel-c;
                    font-size: $prod-parcel-s;
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 0 0 5px;

                    strong {
                        color: $prod-parcel-c;
                        font-weight: bold;
                    }

                    b {
                        font-weight: bold;
                    }
                }

                /*(preco com desconto)*/
                .price-to + .sale {
                    font-size: 12px;
                    font-family: $prod-default-font;

                    em {
                        display: inline-block;
                    }
                }

                .value-sight {
                    font-family: $prod-default-font;
                    font-size: 12px;
                    text-align: left;
                    padding: 5px 0 0;
                }
                .stamp {
                    padding: 0;
                    margin-bottom: 10px;
                    &.unavailable {
                        padding: 8px 0;
                        color: $color-theme;
                        text-transform: uppercase;
                    }
                }
                @at_root body.home #main .list-products .details .btn.buy {
                    display: none;
                }
                .btn.buy {
                    width: 100%;
                    margin: 0;
                    line-height: 28px;
                }
            }          

            .tools {
                width: 100%;
                margin: 0;
            }

            .skus {
                border: 1px dashed #ccc;
                padding: 5px 16px;
                width: 100%;

                * {
                    box-sizing: content-box;
                }

                @include clearfix;

                img,
                a {
                    width: 12px;
                    height: 12px;
                }

                li {
                    margin-right: 5px;
                    width: auto;
                    height: auto;
                    clear: none;
                }
            }
            .reviewaggregate{
                width: 120px;
                margin: 0px auto 10px;
                padding: 0;
                @at-root body.home #main .list-products .reviewaggregate { display: none;}
                * {
                    display: inline-block;
                }
                a {
                    width: 86px;
                }
                .count {
                    color: $font-c;
                }
            }
            .see-more {
                display: none;
            }              

            .compare {
                text-align: center;
                font-family: $font-custom;
                &:hover {
                    color: $color-theme;
                    cursor: pointer;
                }
                label,
                span {
                    display: inline-block;
                    float: none;
                    text-transform: uppercase;
                }
                input {
                    position: relative;
                    top: 2px;
                }
            }
        }

        .list-products.show-one {
            li {
                float: none;
                width: auto;

                .hproduct {
                    width: 100%;
                    padding-top: 20px;

                    &:hover {
                    }

                    .figure {
                        width: $ft_vitrine_w;
                        margin: 0 20px 0;
                    }

                    .tools {
                        margin-left: 0px !important;
                        width: auto !important;

                        .skus {
                            width: 170px !important;
                        }

                        ul {
                            margin: 0 auto;
                        }

                        .owl-prev,
                        .owl-next {
                            width: 18px !important;
                            height: 18px !important;
                        }

                        .owl-prev {
                            left: -15px !important;
                        }

                        .owl-next {
                            left: auto !important;
                            right: -15px !important;
                        }
                    }

                    .details {
                        min-height: 220px;
                        text-align: left;
                        * {
                            text-align: left;
                        }

                        > a.link {
                            width: 560px;
                            display: block;
                        }

                        .btn.buy {
                            text-align: center;
                            width: auto;
                            bottom: 40%;
                        }

                        .offers {
                            padding-top: 0;
                        }
                    }
                    .name {
                        font-weight: bold;
                    }
                    .description {
                        color: $font-c;
                        font-size: 12px;
                    }
                    .reviewaggregate {
                        margin: 0 !important;
                    }
                    .stamp {
                        text-align: left;
                        a {
                            margin: 0 0 5px;
                            display: block;
                        }
                    }
                }

                .description,
                .parcel {
                    text-align: center;
                    color: #000;
                }
            }
        }

        .prod-view {
            width: $larguraPadrao;
            margin: 0 auto;
            float: none;

            .list-products {
                li {
                    width: auto;
                    margin: 0 28px 0;

                    .hproduct {
                        width: $ft_history_w;

                        .photo {
                            width: auto;
                            max-width: $ft_history_w;
                            height: $ft_history_h;
                        }
                    }

                    .name {
                        font-size: $prod-name-font-s - 0.2;
                    }

                    .parcel {
                        font-size: $prod-parcel-s - 0.2;

                        strong {
                            color: $prod-parcel-c;
                        }
                    }

                    .price.sale {
                        display: block;
                    }
                }
            }
        }
    }

    .list-instagram-photos {
        li {
            img {
                width: 180px;
                height: 180px;
                border: 2px solid #ececec;
            }
        }
    }

    &.product {
        #main {
            .suggestion {
                .list-products .hproduct {
                    width: $ft_suggest_w;

                    .photo {
                        width: $ft_suggest_w;
                        height: $ft_suggest_h;
                    }
                    .parcel {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .list-products.desired-products {
        .notifyme {
            input[type="text"] {
                height: 36px;
            }
            .btn.send {
                @extend %btn;
                @extend %btn-primary;
            }
        }
    }
    &.comparepage {
        h1 {
            font-family: $font-custom;
            color: #000;
        }
        .details {
            font-family: $font-custom;
        }
        .offers em {
            display: none;
        }
        .parcel {
            color: $prod-parcel-c;
            font-size: $prod-parcel-s;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 0 5px;

            strong {
                color: $prod-parcel-c;
                font-weight: bold;
            }

            b {
                font-weight: bold;
            }
        }
        .regular {
            color: $prod-price-from-c;
            font-size: $prod-price-from-s;
            font-family: $font-custom;
        }

        .price {
            color: $prod-price-to-c;
            font-size: $prod-price-to-s;

            strong {
                color: $prod-price-to-c;
                font-weight: normal;
            }
         }        
    }
}

body {
    &.product {
        &.por-sku {
            .list-products {
                width: 100%;
                padding: 0;

                * {
                    @include box-sizing;
                }

                .compare,
                .reviewaggregate,
                .see-more {
                    display: none;
                }

                li {
                    padding: 0;
                    margin: 0 0 20px;
                    float: left;
                }

                &.owl-carousel {
                    li {
                        margin: 0;
                        padding: 0;
                        width: 100%;
                    }

                    .owl-prev,
                    .owl-next {
                        background: #f0f0f0;
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        text-indent: -9000px;
                        overflow: hidden;
                        opacity: 1;

                        &::before {
                            content: "\2039";
                            display: block;
                            color: #cfcfcf;
                            text-indent: 0;
                            float: none;
                            text-align: center;
                            line-height: 33px;
                            font-size: 38px;
                            height: 40px;
                        }

                        &:hover {
                            opacity: 0.9;
                        }
                    }

                    .owl-next {
                        &::before {
                            content: "\203A";
                        }
                    }
                }

                .quick-look-container {
                    width: 100%;
                    left: 0;
                    bottom: 0;
                    top: auto;
                    height: 42px;

                    a {
                        background: $color-theme url("#{$pathImg}/tit_espiar.png") center no-repeat;
                        width: 100%;
                        border-radius: 0;
                        text-indent: -9000px;
                        display: block;
                        height: 42px;
                    }
                }

                .hproduct {
                    width: $ft_vitrine_w;
                    margin: 0 auto;

                    .photo {
                        width: $ft_vitrine_w;
                        height: $ft_vitrine_h;
                        border: 0 !important;
                    }
                }

                .details {
                    text-align: center;

                    .name {
                        font-family: $prod-name-font;
                        text-align: center;
                        font-weight: normal;
                        color: $prod-name-color;
                        font-size: $prod-name-font-s;
                    }

                    .regular,
                    .price {
                        display: inline-block;
                        vertical-align: bottom;
                        font-family: $prod-price-font;

                        em {
                            display: none;
                        }
                    }

                    .percent-a-vista{
                        font-size: 15px;
                        font-family: $prod-default-font;
                        color: #661919;
                        text-align: left;

                        em {
                            display: inline-block;
                        }
                    }

                    .regular {
                        color: $prod-price-from-c;
                        font-size: $prod-price-from-s;
                        font-family: $font-custom;
                    }

                    .price {
                        color: $prod-price-to-c;
                        font-size: $prod-price-to-s;

                        strong {
                            color: $prod-price-to-c;
                            font-size: $prod-price-to-s;
                        }
                    }

                    .parcel {
                        color: $prod-parcel-c;
                        font-size: $prod-parcel-s;

                        strong {
                            color: $prod-parcel-c;
                        }

                        b {
                            font-weight: normal;
                        }
                    }
                    .stamp {
                        padding: 0;
                    }
                    .btn.buy {
                        background: $color-theme;
                        text-indent: -9000px;
                        width: 110px;
                        height: 32px;
                        margin: 15px auto 0;
                        padding: 0;
                        float: none;
                        border: 0;
                        display: block;
                        margin-bottom: 10px;
                    }
                }
            }

            .list-products.show-one {
                .hproduct {
                    width: 100%;
                }

                .description,
                .parcel {
                    text-align: center;
                }

                .stamp {
                    text-align: center;

                    a {
                        display: inline-block;
                        text-align: center;
                        float: none;
                        margin: 0 5px 5px;
                    }
                }
            }
        }
    }
}
.vitrine-promo{
    .section {
        border: none;
        padding: 0 0 20px;
        clear: both;

        h2 {
            margin: 3px 0 10px;
            padding: 0;
            display: block;
            span {
                font-family: $vit-title-font;
                color: $vit-title-font-c;
                display: inline;
                font-size: 25px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .list-products{
            li{
                .hproduct{
                    width: $ft_vitrine_w;
                    margin: 0 auto;

                    .figure {
                        width: $ft_vitrine_w;
                        height: $ft_vitrine_h;
                        border: 0 !important;
                    }
                }
            }
        }
    }
}


