$colorPagination: $colorDefault;
$colorPaginationDestaque: $color-theme5;
$heightPagination: 38px;

%buttons-pagination {
  @include bgimg("arrows", "png");
  background-position:0 center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: $heightPagination;
  height: $heightPagination;
  display: inline-block;
}

%pagination {
  ul {
    color: $colorPagination;
    float: none;
    text-align: center;
    padding-bottom: 10px;

    li {
      height: $heightPagination;
      line-height: $heightPagination;
      margin: 0;
      display: inline-block;
      float: none;
      vertical-align: middle;
      font-family: $font-custom;
      @if $mobile{
        margin-bottom: 5px;
      }
      a {
        color: $colorPagination;
        font-size: 12px;
        border: none;
        padding: 0;
        margin: 0;
        height: $heightPagination;
        line-height: $heightPagination;
        @if $desktop{
           min-width: 41px;
        }@else {
          min-width: 33px;
        }
        border-radius: 5px;

        @include box-sizing;
        &:hover {
          color: $colorPaginationDestaque;
        }
      }

      &.page {
        color: $colorPagination;
        display: none;
      }

      &.numbers {
        margin: 0px;
      }

      .item {
        padding: 0 5px;
        margin: 0 2px;
      }
      a:hover,
      .selected {
        color: $colorPaginationDestaque;
        background-color: #8ae9e6;
        text-decoration: none;
        font-weight: bold;
      }
      &:hover {
        color: $color-theme;
      }
      &:first-child,
      &:last-child {
        display: none;
        a {

        }
      }
      &:last-child a {
        background-position: right center;
      }
      &.prev, 
      &.next {
        background: #8ae9e6;
        border-radius: 5px;
        word-spacing: 7px;
        margin: 0 7px;
        &.off {
          background: #ebebeb;
          a {
            color: #a5a5a5;
            &:hover {
              background: #ebebeb;
            }
          }
        }
        a {
          background: none;
          color: $color-theme5;
          font-weight: bold;
          text-transform: uppercase;
          @if $desktop{
            font-size: 16px;
            padding: 0 18px;
          }@else {
            font-size: 12px;
            padding: 0 10px;
          }
        }
      }
      &.prev a,
      &.next a,
      #lnkAnterior,
      #lnkProxima {
        
      }

      &.next a,
      #lnkProxima {
        
      }

    }

  }

}

body .pagination {
    @extend %pagination;
}
