/* GLOBAL *****************************************************/
$color-theme-1: #383435;
$color-theme-1-alt: #EDEAE5;
$color-theme-2: #6c8b5f;
$color-font-1: #383435;
$color-price-regular: #bebebe;
$color-price-sale: #6c8b5f;
$color-title: #373435;
$color-text-1: #383435;
$bt-bg-1: #383435;
$bt-border-1: #232122;
$bt-bg-2: #6c8b5f;
$bt-border-2: #465B3A;
$bt-bg-3: #EDE9E6;
$bt-border-3: #D1D1D1;