body {
    #footer {
        @extend %footer;
        * {
            @include box-sizing;
        }
        .collum {
            
            &.news {
                float: right;
                margin-right: 0;
            }
            .newsletter {
                position: static;
            }
        }
        .field {
            height: auto;
        }
    }
    .footerbuy {
        #footer {
            @extend %footer-buy;
        }
    }
}