body {
    #footer {
        @include box-sizing;
        background: #fff;
        display: block;
        border: 0;
        .container {
            width: $larguraPadrao;
        }
        > .container {
            width: 100%;
        }
        .bg-footer {
            -webkit-box-shadow: 0 67px 0 #2e2e2e inset, inset 0px -70px 0px 0px #fff;
            box-shadow: 0 67px 0 #2e2e2e inset, inset 0px -70px 0px 0px #fff;
            width: 100%;
            .container {
                @include clearfix;
                @include box-sizing;
                position: relative;
                height: 320px;
                &::before {
                    content: " ";
                    width: 155px;
                    height: 97px;
                    display: block;
                    background: url("/static/locales/global/img/logo_footer.png") no-repeat;
                    position: absolute;
                    top: 90px;
                    left: 10px;
                }                
            }
        }
        .container {
            height: auto;
        }
        div.instagram {
            text-align: center;
            background: #eee;
            padding: 20px 0;
            h2 {
                font-family: $font-custom;
                font-weight: bold;
                font-size: 18px;
                color: #000;
                text-transform: uppercase;
                span {
                    color: #5b5b5b;
                    font-weight: normal;
                    display: block;
                    text-transform: none;
                }
            }
        }    
        .newsletter {
            position: static;
            float: left;
            width: 100%;
            height: 70px;
            display: block;
            background: none;
            padding: 0;
            .tit {
                display: inline-block;
                padding-left: 200px;
                height: 15px;
                background: url("/static/locales/global/img/tit_zinco-news.png") no-repeat;
                float: left;
                color: #fff;
                font-family: $font-custom;
                margin: 27px 43px 0 0;
            }
            .field {
                margin-top: 17px;
                &.first {
                    margin-right: 20px;
                }
            }
            input {
                @include box-sizing;
                background: #434343;
                border: 0;
                height: 30px;
                width: 310px;
                color: #fff;
                border-bottom: 1px solid #fff;
                padding: 0 15px;
                border-radius: 0;
            }
            .btn {
                @include box-sizing;
                float: left;
                border-radius: 0;
                background: #2e2e2e;
                border: 2px solid #fff;
                width: 109px;
                height: 30px;
                margin: 17px 0 0 20px;
            }
        }
        .search {
            display: none;
        }
        .collum {
            &.ajuda {
                top: 120px;
                left: 225px;
                min-width: 730px;
            }
            &.institucional  {
                top: 90px;
                left: 225px;
                min-width: 730px;
            }
            &.social {
                top: 102px;
                left: auto;
                right: 0;
                li {
                    margin-left: 10px;
                    margin-right: 0;
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        text-indent: -9000px;
                        display: block;
                        background: url("/static/locales/global/img/ico_redes.png") no-repeat;
                        width: 34px;
                        height: 34px;
                    }
                    &.twiiter a {
                        background-position: -41px 0;
                    }
                    &.instagram  a {
                        background-position: -84px 0;
                    }
                    &.youtube a {
                        background-position: -125px 0;
                    }
                    &.pinterest a {
                        background-position: -167px 0;
                    }
                }
            }
            &.payment {
                position: absolute;
                top: 186px;
                right: 0;
                left: auto;
                width: auto;
                .cards {
                    background: url("/static/locales/global/img/sprite_pagamentos.png") no-repeat;
                    width: 271px;
                    height: 23px;
                    display: block;
                }
            }

            .title {
                font-family: $font-custom;
                color: #000;
                font-weight: bold;
                font-size:12px;
                float: left;
                margin: 0 30px 0 0;
                text-transform: uppercase;
            }
            li {
                background: none;
                padding-left: 0;
                float: left;
                margin: 0 20px 0 0;
                line-height: 22px;
                a {
                    color: #5a5a5a;
                }
            }
        }
        .security {
            position: absolute;
            top: 270px;
            right: 150px;
        }        
        .group {
            position: absolute;
            top: 190px;
            left: 225px;
            .tit {
                display: block;
                width: 185px;
                height: 45px;
                background: url("/static/locales/global/img/logo_group.png") no-repeat;
                text-indent: -9000px;
                float: left;
                margin-right: 20px;
            }
            .gr {
                float: left;
                font-family: $font-custom;
                color: #5a5a5a;
                strong {
                    font-weight: normal;
                    display: block;
                    padding-bottom: 5px;
                }
                a {
                    display: inline-block;
                    background: url("/static/locales/global/img/logo_group.png") no-repeat;
                    background-position: -197px -20px;
                    text-indent: -9000px;
                    width: 100px;
                    height: 17px;
                    margin-right: 5px;
                    &.logo2 {
                        width: 56px;
                        background-position: -305px -20px;
                    }
                    &.logo3 {
                        width: 51px;
                        background-position: -373px -20px;
                    }
                }
            }
        }
        .copy {
            border-top: 0;
            right: 50%;
            margin-right: -635px;
            left: auto;
            width: auto;
            padding: 0;
            bottom: 10px;
        }
    }

    .footerbuy #footer {
        @include box-sizing;
        padding-bottom: 0;
        .container {
            height: 110px;
        }
        .collum {
            background: none;
            &.payment {
                top: 40px;
                left: 0;
                right: auto;
            }
        }
        .security {
            top: 62px;
        }

        .bg-footer {
            border-top: 2px solid #ccc;
            border-radius: 0;
            box-shadow: none;
        }

        .container {
            &::before {
                display: none;
            }
        }

        .security {
        }
        .copy {
        }
    }
}