html body {
    background: #fff;
}    
div#header {
    background: none;

    .container {
        width: $page-width;
        height: $header-h;
        * {
            @include box-sizing;
        }
    }
    h1 {
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    .welcome {
        width: auto;
        background: none;
    }
    .help {
        width: auto;
        position: static;
        top: auto;
        left: auto;
        li {
            padding-top: 0;
            width: auto;
            a {
                background: none;
                padding: 0;
            }
        }
        span {
            margin: 0;
            padding: 0;
            background: none;
        }
    }
    .car {
        p {
            margin: 0;
        }
        .basket {
            background: none;
            width: auto;
            height: auto;
        }
    }
    #nav {
        .sub-nav {
            li {
                border-top: 0;
            }
        }
    }
    #floatToolbar {
        .foneFT {
            padding: 0;
            background: none;
        }
        .basket {
            padding: 0;
            background: none;
        }
        .buscaFT {
            .placeholder {
                min-width: 0;
                width: auto;
            }
        }
        .btn {
           
        }
    }
}
.name, .details, 
.offers, 
.regular, 
.parcel, 
.share, 
.see-more, 
.description, 
.stamp {
    height: auto;
}