body {
    background: #fff;
}    
div#header {
    background: #f2f2f2;

    .container {
        width: $page-width;
        height: $header-h;
        * {
            @include box-sizing;
        }
    }
    a {
        text-decoration: none;
    }
    .welcome {
        width: auto;
        background: none;
    }
    .help {
        li {
            padding-top: 0;
        }
    }
    .car {
        .basket {
            background: none;
            width: auto;
            height: auto;
        }
    }
    #nav {
        .sub-nav {
            li {
                border-top: 0;
            }
        }
    }
    #floatToolbar {
        box-shadow: none;
        .foneFT {
            padding: 0;
            background: none;
        }
        .basket {
            padding: 0;
            background: none;
        }
        .btn {
            position: static;
        }
    }
}
#main {
    .container {
        width: $page-width;
        margin: 0 auto;
    }
}