#main {
    .history {
        margin-top: 0px;

        .prod-view {
            border-top: 2px solid #fff;
            width: 100%;
            margin: 0 auto;
            float: none;
            padding: 20px 0 0;

            .title {
            }

        }

    }

}