body.home #main .history {
    margin: 0 auto 0;
    width: $larguraPadrao;
}
#main {
    .history {
        .prod-view {
            border-top: 2px solid #fff;
            width: 100%;
            margin: 0 auto;
            float: none;
            padding: 20px 0 0;

            .title {
            }

        }

    }

}