/*Quantidade de produtos por linha */
$prod-by-row: 3;
$prod-by-row-home: 3;
$prod-by-row-history: 4;
$prod-by-row-product: 4;

body {

    /* Quatidades de produtos por linha Home/Vitrine/Catalog/Historico*/
    &.home {
        .content {
            .list-products {
                li {
                    width: 100% / $prod-by-row-home;

                    &:nth-child(#{$prod-by-row-home}n+1) {
                        clear: left;
                    }

                }

            }

        }

    }

    &.catalog,
    &.vitrine,
    &.look:not(.lookDetalhe) {
        .main-content {
            .list-products {
                li {
                    width: 100% / $prod-by-row;

                    &:nth-child(#{$prod-by-row}n+1) {
                        clear: left; 
                        .hproduct {
                            border-left: 0 !important;
                        }
                    }

                }

            }

        }

    }

    &.product,
    &.lookDetalhe {
        .main-content {
            .list-products {
                li {
                    width: 100% / $prod-by-row-product;
                }

            }

        }

        .main-content {
            .combo {
                .list-products {
                    li {
                        width: 37.5%;

                        &.result {
                            width: 25%;
                        }

                    }

                }

            }

        }

    }

    //combo (sempre 4)
    &.product {
        .main-content {
            .promo {
                .list-products {
                    li {
                        width: 25%;
                    }

                }

            }

        }

    }

    #main {
        .container .section {
            h2 {
                @extend %title-vitrine;
            }
        }
        .compra-por-sku-frame {
            box-shadow: none;
            border: 2px solid $color-theme;
        }
        .list-products {
            width: 100%;
            padding: 0;
            @include box-sizing;
            
            * {
                @include box-sizing;
            }
            &.owl-carousel {
                left: 0;
                padding: 10px 3%;
                li {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    box-sizing: content-box;
                }
            }

            > li {
                padding: 0;
                margin: 0 0 10px;
                float: left;
            }

            .quick-look-container {
                top: auto;
                bottom: 30px;
                left: 50%;
                margin-left: -90px;
                height: auto;
                width: auto;
                a {
                    background: $btn-secondary-color;
                    font-family: $font-custom;
                    font-weight: bold;
                    display: block;
                    font-size: 16px;
                    border-radius: 0;
                    text-transform: uppercase;
                    border-radius: 5px;
                    color: $color-theme;
                    line-height: 41px;
                    height: 41px;
                    width: 180px;
                }

            }

            .hproduct {
                width: $ft_vitrine_w;
                max-width: 95%;
                padding: 0;
                margin: 5px auto;
                border: 0;
                padding-bottom: 10px;
                @include clearfix;
                &:hover {
                    
                }

                .photo {
                    width: 100%;
                    height: auto;
                    border: 0 !important;
                    margin: 0;
                }

            }

            .see-more {
                display: none;
            }

            .compare {
                font-family: $font-custom;
                text-align: left;

                &:hover {
                    color: $color-theme;
                    cursor: pointer;
                }

                label,
                span {
                    display: inline-block;
                    float: none; 
                }

                input {
                    position: relative;
                    top: 2px;
                }

            }

        }

        .list-products.show-one:not(.desired-products) {
            > li {
                float: none;
                width: auto;
                border: 0;

                .hproduct {
                    width: 100%;
                    padding-top: 20px;
                    border-left: 0;

                    &:hover {
                    }

                    .figure {
                        width: $ft_vitrine_w;
                        margin: 0 20px 0;
                    }

                    .tools {
                        margin-left: 20px !important;
                        width: 280px !important;

                        .skus {
                            width: 200px !important;
                        }

                        ul {
                            margin: 0 auto;
                        }

                    }

                    .details {
                        min-height: 220px;
                        text-align: left;

                        * {
                            text-align: left;
                        }

                        > a.link {
                            width: 100%;
                            display: block;
                        }

                        .btn.buy {
                            text-align: center;
                            width: auto;
                            bottom: 40%;
                        }

                        .offers {
                            padding-top: 0;
                        }

                    }

                    .name {
                    }

                    .description {
                        color: $colorDefault;
                        font-size: 13px;
                        span {
                            color: #000;
                            font-size: 0;
                            &::before {
                                content: "SAIBA MAIS";
                                font-size: 12px;
                            }
                        }
                    }

                    .reviewaggregate {
                        margin: 0 !important;
                    }

                    .stamp {
                        text-align: left;

                        a {
                            margin: 0 0 5px;
                            display: block;
                        }

                    }

                }

                .description,
                .parcel {
                }

            }

        }

        .prod-view {
            width: 100%;
            margin: 0 auto 20px;
            float: none;

            .list-products {
                li {
                    width: auto;
                    margin: 0 28px 0;
                }

            }

        }

    }

    .list-instagram-photos {
        li {
            img {
                width: 180px;
                height: 180px;
                border: 2px solid #ececec;
            }

        }

    }

    &.comparepage {
        h1 {
            font-family: $font-custom;
            color: #000;
        }

        .details {
            font-family: $font-custom;
        }

        .offers em {
            display: none;
        }

        .parcel {
            color: $prod-parcel-c;
            font-size: $prod-parcel-s;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 0 5px;

            strong {
                color: $prod-parcel-c;
                font-weight: bold;
            }

            b {
                font-weight: bold;
            }

        }

        .regular {
            color: $prod-price-from-c;
            font-size: $prod-price-from-s;
            font-family: $font-custom;
        }

        .price {
            color: $prod-price-to-c;
            font-size: $prod-price-to-s;

            strong {
                color: $prod-price-to-c;
                font-weight: normal;
            }

        }

    }

    &.por-sku {
        ul{
            background:#fff;
        }
        #ProductBuy{
            width:100%;
            float: none;
        }
        .list-products .txtQuantity .ipt-quantity{
            height: 30px;
            width: 30px;
            border-radius: 3px;
        }    
        #frm .list-products {
            width: 100%;
            padding: 0;

            * {
                @include box-sizing;
            }

            &.owl-carousel {
                li {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }

                .owl-prev,
                .owl-next {
                    background: #f0f0f0;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    text-indent: -9000px;
                    overflow: hidden;
                    opacity: 1;

                    &::before {
                        content: "\2039";
                        display: block;
                        color: #cfcfcf;
                        text-indent: 0;
                        float: none;
                        text-align: center;
                        line-height: 33px;
                        font-size: 38px;
                        height: 40px;
                    }

                    &:hover {
                        opacity: 0.9;
                    }

                }

                .owl-next {
                    &::before {
                        content: "\203A";
                    }

                }

            }
            .details {
                @extend %product-details;

                .link:hover {
                    text-decoration: none;
                }

                .reviewaggregate {
                    @extend %placeholder-reviewaggregate;
                }

                .name {
                    @extend %product-name;
                }

                .regular,
                .price {
                    display: inline-block;
                    vertical-align: bottom;
                    font-family: $prod-price-font;
                }

                .regular {
                    @extend %product-price-from;
                }

                .price {
                    @extend %product-price-to;
                }

                .parcel {
                    @extend %product-parcel;
                }

                .percent-a-vista {
                    @extend %product-percent-avista;
                }

                a.btn.buy {
                    @extend %product-btn-listproduct-buy;
                }
                div.btn.buy {
                    @extend %product-aviseme-catalogo;
                }

            }

            .stamp {
                @extend %product-stamp;
            }

            .tools {
                @extend %product-tools;
            }

            .save {
                @extend %product-economize;
            }

            .reviewaggregate {
                @extend %placeholder-reviewaggregate;
            }

        }

        .list-products.show-one {
            .hproduct {
                width: 100%;
            }
            .description,
            .parcel {
                text-align: center;
            }

            .stamp {
                text-align: center;

                a {
                    display: inline-block;
                    text-align: center;
                    float: none;
                    margin: 0 5px 5px;
                }

            }

        }

    }

}