body {
    /* Quatidades de produtos por linha Home/Vitrine/Catalog/Historico*/
    &.home {
        .content {
            .list-products {
                li {
                    width: 100% / $prod-by-row-home;

                    &:nth-child(#{$prod-by-row-home}n+1) {
                        clear: left;
                    }
                }
            }
        }
    }

    &.catalog,
    &.vitrine,
    &.look:not(.lookDetalhe) {
        .main-content {
            .list-products {
                li {
                    width: 100% / $prod-by-row;

                    &:nth-child(#{$prod-by-row}n+1) {
                        clear: left;
                    }
                }
            }
        }
    }

    &.product,
    &.lookDetalhe {
        .main-content {
            .list-products {
                li {
                    width: 100% / $prod-by-row-product;
                }
            }
        }
        .main-content {
            .combo {
               .list-products {
                    li {
                        width: 37.5%;
                        &.result {
                            width: 25%;
                        }
                    }
                } 
            }
        }
    }

    //combo (sempre 4)
    &.product {
        .main-content {
            .promo {
                .list-products {
                    li {
                        width: 25%;
                    }
                }
            }
        }
    }

    #main {
        .list-products {
            width: 100%;
            padding: 0;

            &.owl-carousel {
                li {
                    margin: 0;
                    width: 100%;
                    box-sizing: content-box;
                }

                .owl-prev,
                .owl-next {
                    background: #f0f0f0;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    text-indent: -9000px;
                    overflow: hidden;
                    opacity: 1;

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .owl-next {
                    &::before {
                       
                    }
                }
            }            

            * {
                @include box-sizing;
            }

            > li {
                padding: 0;
                margin: 0 0 10px;
                float: left;
            }

            .quick-look-container {
                width: 132px;
                margin-left: -66px;
                left: 50%;
                top: 50%;
                height: 30px;
                margin-top: -15px;

                a {
                    background-color: rgba(255, 255, 255, 0.6);
                    font-family: $font-custom;
                    text-transform: uppercase;
                    color: #000;
                    font-weight: bold;
                    border: 2px solid #000;
                    padding: 0;
                    height: auto;
                    width: auto;
                    border-radius: 0;
                }
            }

            .hproduct {
                width: $ft_vitrine_w;
                margin: 0 auto;
                border: 0;
                padding-bottom: 10px;
                @include clearfix;

                .photo {
                    width: 100%;
                    height: auto;
                    max-height: $ft_vitrine_h;
                    border: 0 !important;
                    margin: 0;
                }
            }

            .details {
                font-family: $prod-default-font;
                text-align: center;
                .link:hover {
                    text-decoration: none;
                }
                .reviewaggregate {
                    @extend %placeholder-reviewaggregate;
                }
                .name {
                    @extend %product-name;
                }

                .offers {
                    > span {
                        
                    }
                    .percent-a-vista {
                        
                    }
                }

                .regular,
                .price {
                    display: inline-block;
                    vertical-align: bottom;
                    font-family: $prod-price-font;
                }

                .regular {
                    @extend %product-price-from;
                }

                .price {
                     @extend %product-price-to;
                }

                .parcel {
                    @extend %product-parcel;
                    padding: 0 0 5px;
                }

                /*(preco com desconto)*/
                .percent-a-vista {
                    @extend %product-price-offer;
                }
                @at_root body.home #main .list-products .details .btn.buy {
                    display: none;
                }
                .btn.buy {
                     @extend %btn-listproduct-buy;
                }
            }

            .stamp {
                @extend %product-stamp;
            }

            .tools {
                @extend %product-skus;
            }


            .reviewaggregate {
                 @extend %placeholder-reviewaggregate;
            }
            .see-more {
                display: none;
            }              

            .compare {
                text-align: center;
                font-family: $font-custom;
                &:hover {
                    color: $color-theme;
                    cursor: pointer;
                }
                label,
                span {
                    display: inline-block;
                    float: none;
                    text-transform: uppercase;
                }
                input {
                    position: relative;
                    top: 2px;
                }
            }
        }

        .list-products.show-one:not(.desired-products) {
            li {
                float: none;
                width: auto;

                .hproduct {
                    width: 100%;
                    padding-top: 20px;

                    &:hover {
                    }

                    .figure {
                        width: $ft_vitrine_w;
                        margin: 0 20px 0;
                    }

                    .tools {
                        margin-left: 0px !important;
                        width: auto !important;

                        .skus {
                            width: 170px !important;
                        }

                        ul {
                            margin: 0 auto;
                        }

                        .owl-prev,
                        .owl-next {
                            width: 18px !important;
                            height: 18px !important;
                        }

                        .owl-prev {
                            left: -15px !important;
                        }

                        .owl-next {
                            left: auto !important;
                            right: -15px !important;
                        }
                    }

                    .details {
                        min-height: 220px;
                        text-align: left;
                        * {
                            text-align: left;
                        }

                        > a.link {
                            width: 560px;
                            display: block;
                        }

                        .btn.buy {
                            text-align: center;
                            width: auto;
                            bottom: 40%;
                        }

                        .offers {
                            padding-top: 0;
                        }
                    }
                    .name {
                       
                    }
                    .description {
                        color: $font-c;
                        font-size: 12px;
                    }
                    .reviewaggregate {
                        margin: 0 !important;
                    }
                    .stamp {
                        text-align: left;
                        a {
                            margin: 0 0 5px;
                            display: block;
                        }
                    }
                }

                .description,
                .parcel {
                    
                }
            }
        }

        .prod-view {
            width: $larguraPadrao;
            margin: 0 auto;
            float: none;

            .list-products {
                li {
                    width: auto;
                    margin: 0 28px 0;

                    .hproduct {
                        width: $ft_history_w;

                        .photo {
                            width: auto;
                            max-width: $ft_history_w;
                            height: $ft_history_h;
                        }
                    }

                    .name {
                        font-size: $prod-name-font-s - 0.2;
                    }

                    .parcel {
                        font-size: $prod-parcel-s - 0.2;

                        strong {
                            color: $prod-parcel-c;
                        }
                    }

                    .price.sale {
                        display: block;
                    }
                }
            }
        }
    }
    &.product,
    &.lookDetalhe {
        #main {
            .suggestion {
                .list-products .hproduct {
                    width: $ft_suggest_w;

                    .photo {
                        width: $ft_suggest_w;
                        height: $ft_suggest_h;
                    }
                    .parcel {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    &.lookDetalhe {
        #main {
            .list-products {
                .photo {
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }
    .list-instagram-photos {
        li {
            img {
                width: 180px;
                height: 180px;
                border: 2px solid #ececec;
            }
        }
    }

    &.product {
        #main {
            .suggestion {
                .list-products .hproduct {
                    width: $ft_suggest_w;

                    .photo {
                        width: $ft_suggest_w;
                        height: auto;
                        max-height: $ft_suggest_h;
                    }
                    .parcel {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &.comparepage {
        h1 {
            font-family: $font-custom;
            color: #000;
        }
        .details {
            font-family: $font-custom;
        }
        .offers em {
            display: none;
        }
        .parcel {
            color: $prod-parcel-c;
            font-size: $prod-parcel-s;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 0 5px;

            strong {
                color: $prod-parcel-c;
                font-weight: bold;
            }

            b {
                font-weight: bold;
            }
        }
        .regular {
            color: $prod-price-from-c;
            font-size: $prod-price-from-s;
            font-family: $font-custom;
        }

        .price {
            color: $prod-price-to-c;
            font-size: $prod-price-to-s;

            strong {
                color: $prod-price-to-c;
                font-weight: normal;
            }
         }        
    }
}

body {
    &.por-sku {
        #frm .list-products {
            width: 100%;
            padding: 0;

            * {
                @include box-sizing;
            }

            li {
                padding: 0;
                margin: 0 0 20px;
                float: left;
            }

            &.owl-carousel {
                li {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                }

                .owl-prev,
                .owl-next {
                    background: #f0f0f0;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    text-indent: -9000px;
                    overflow: hidden;
                    opacity: 1;

                    &::before {
                        content: "\2039";
                        display: block;
                        color: #cfcfcf;
                        text-indent: 0;
                        float: none;
                        text-align: center;
                        line-height: 33px;
                        font-size: 38px;
                        height: 40px;
                    }

                    &:hover {
                        opacity: 0.9;
                    }
                }

                .owl-next {
                    &::before {
                        content: "\203A";
                    }
                }
            }

            .details {
                font-family: $prod-default-font;
                text-align: center;
                .link:hover {
                    text-decoration: none;
                }
                .reviewaggregate {
                    @extend %placeholder-reviewaggregate;
                }
                .name {
                    @extend %product-name;
                }

                .regular,
                .price {
                    display: inline-block;
                    vertical-align: bottom;
                    font-family: $prod-price-font;
                }

                .regular {
                    @extend %product-price-from;
                }

                .price {
                     @extend %product-price-to;
                }

                .parcel {
                    @extend %product-parcel;
                }
                .percent-a-vista {
                    @extend %product-price-offer;
                }
                .btn.buy {
                     @extend %btn-listproduct-buy;
                }
            }

            .stamp {
                @extend %product-stamp;
            }

            .tools {
                @extend %product-skus;
            }


            .reviewaggregate {
                 @extend %placeholder-reviewaggregate;
            }
        }

        .list-products.show-one {
            .hproduct {
                width: 100%;
            }

            .description,
            .parcel {
                text-align: center;
            }

            .stamp {
                text-align: center;

                a {
                    display: inline-block;
                    text-align: center;
                    float: none;
                    margin: 0 5px 5px;
                }
            }
        }
    }
}
.vitrine-promo{
    .section {
        border: none;
        padding: 0 0 20px;
        clear: both;

        h2 {
            margin: 3px 0 10px;
            padding: 0;
            display: block;
            span {
                font-family: $vit-title-font;
                color: $vit-title-font-c;
                display: inline;
                font-size: 25px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        .list-products{
            li{
                .hproduct{
                    width: $ft_vitrine_w;
                    margin: 0 auto;

                    .figure {
                        width: $ft_vitrine_w;
                        height: $ft_vitrine_h;
                        border: 0 !important;
                    }
                }
            }
        }
    }
}


