/* -----------------------------------------------------------------------*/
/* -----------*>>> Modal Responsivo  para ser usado na HOME <<<-----------*/
/* ----------------------------------------------------------------------*/
/*

Informa├º├Áes:
________________________________________________________________________________________________
  Arquivo Gruntfile.js
    - adicionar o seguinte c├│digo:;

    _Servido_
    '<%= paths.custom %>css/popUp.css' : 'locales/custom/sass/popUp.scss',

    _Local_
    'locales/custom/css/popUp.css' : 'locales/custom/sass/popUp.scss'


  Chamada dentro do ADM/Head
  <link href="/static/locales/custom/css/popUp.css" type="text/css" rel="stylesheet" />
________________________________________________________________________________________________
*/
/****************************************** DESKTOP **********************************************/
@media only screen and (min-width: 980px) {
  /*Esconde tag
  ------------------------------------------*/
  body.home .off_tag img, body.home .off_tag p, body.home .off_tag span, 
  body.home .obrigadoCupom img, 
  body.home .obrigadoCupom p, 
  body.home .obrigadoCupom span,
  body.home .newsletterBox .formulario img, 
  body.home .newsletterBox .formulario p, 
  body.home .newsletterBox .formulario span{
    display: none; 
  }


/* Formulario
------------------------------------------*/
  body.home .newsletterBox {
    position: relative;
    background: url("/static/locales/global/img/pop_up.png") no-repeat 0 0;
    width: 755px;
    height: 446px; 
  }
  body.home .newsletterBox .formulario {
    position: absolute;
    right: 40px;
    top: 276px;
    width: 280px;
    height: 160px; 
  }
  body.home .newsletterBox .formulario input[type="text"] {
    height: 31px;
    margin-bottom: 17px;
    width: 100%;
    border: none;
    color: #000;
    text-transform: uppercase; 
  }
  body.home .newsletterBox .formulario .enviarNews {
    display: block;
    width: 249px;
    height: 45px;
    margin: 5px 0 0 10px;
    text-indent: -9999px;
    cursor: pointer; 
  }
/* Agradecimento/Cupom
------------------------------------------*/
  body.home .obrigadoCupom {
    display: none; 
  }
  body.home .obrigadoCupom strong {
    position: absolute;
    bottom: 61px;
    left: 179px;
    min-width: 380px;
    height: 60px;
    text-align: center;
    color: #000;
    font: italic normal 58px verdana;
    letter-spacing: -3px;
    background: #FFF;
    padding: 2px 5px; 
  } 
}



/****************************************** MOBILE **********************************************/
@media screen and (max-width: 979px) {

/* Estrutura menor fancybox 
------------------------------------------*/
  body.home .wimg, body.home .newsletterBox .formulario img, body.home .obrigadoCupom img {
    display: block;
    margin: 10px auto;
    max-width: 470px;
    width: 50%; 
  }
  body.home #fancybox-wrap,
  body.home #fancybox-outer {
    overflow: visible; 
  }
  body.home #fancybox-wrap {
    width: 96% !important;
    left: 6px !important;
    top: 5% !important;
    height: 90% !important; 
  }
  body.home #fancybox-close {
    background: transparent url("/static/locales/global/img/fancybox/close.png") repeat scroll 0 0;
    height: 26px;
    display: block !important;
    right: -15px;
    top: -15px;
    width: 26px; 
  }
  body.home #fancybox-outer {
    height: 100% !important; 
  }
  body.home #fancybox-outer #fancybox-content > div {
    width: 100% !important;
    height: 100% !important; 
  }

/* Formulario
------------------------------------------*/
  body.home .newsletterBox {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0;
    background: #ffd8e3;
    overflow: hidden;
    background-size: 100%; 
  }
  body.home .newsletterBox .formulario {
    width: 100%;
    height: 100% !important;
    position: static; 
  }
  body.home .newsletterBox .formulario span {
    text-align: center;
    display: block;
    padding: 5px 0;
    font-size: 100%;
    text-transform: uppercase;
    color: #603813; 
  }
  body.home .newsletterBox .formulario p {
    width: 80%;
    margin: 0 auto;
    text-indent: 10px;
    margin-bottom: 15px;
    color: #200c1e;
    font-weight: 300 !important;
    display: block; 
  }
  body.home .newsletterBox .formulario input[type="text"] {
    border: none;
    color: #000;
    text-transform: uppercase;
    height: 36px;
    box-shadow: 0;
    padding: 0 0 0 10px;
    width: 60%;
    box-sizing: border-box;
    margin: 5px auto;
    display: block;
    border: 1px solid #a2a0a0; 
  }
  body.home .newsletterBox .formulario .enviarNews {
    display: block;
    width: 41%;
    margin: 0 auto;
    height: 45px;
    background: #603813;
    text-indent: 0 !important;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff; 
  }
  
/* Agradecimento/Cupom
------------------------------------------*/
  body.home .obrigadoCupom {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    min-width: auto;
    left: 0;
    height: 100%;
    background: #ffd8e3; 
  }
  body.home .obrigadoCupom span {
    font: normal 2.5em verdana;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #5E3613;
    letter-spacing: -3px; 
  }
  body.home .obrigadoCupom p {
    font: normal 0.8em verdana;
    width: 50%;
    margin: 15px auto;
    color: #200c1e;
    letter-spacing: 0;
    text-align: center;
    display: block; 
  }
  body.home .obrigadoCupom #cupom-codigo {
    font: italic normal 1.8em verdana;
    color: #5E3613;
    letter-spacing: 0;
    text-align: center;
    display: block;
    letter-spacing: -3px; 
  } 
}
