%detail-name {
	font-family: $font-custom;
	color: $prod-name-color;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
}

%detail-fabricante {
	li {
		border-left: 0;
		padding-left: 0;
		margin-left: 0;
		color: #5a5a5a;
		font-family: $font-custom;
	}

	#ghcliBrand {
	}

	#contentPartNumber {
		@extend %rk-hide;
	}

}

%detail-reviewaggregate {
	display: block;
}

%detail-price-from {
	color: $prod-price-from-c;
	font-size: $prod-price-from-s;
	font-family: $prod-price-font;
	display: inline-block;
}

%detail-price-to {
	color: $prod-price-to-c;
	font-size: $prod-price-to-s;

	strong,
	strong span {
		color: $prod-price-to-c;
		font-size: $prod-price-to-s;
		font-weight: 500;
	}

}

%detail-parcel {
	color: $prod-parcel-c;
	font-size: 17px;
	font-weight: 500;

	strong {
		color: $prod-parcel-c;
		font-weight: 500;
	}

	b {
		font-weight: 500;
		display: none;
	}

}

%detail-price-offer {
	font-size: 12px;
	font-family: $prod-default-font;
	display: block;
	color: $prod-parcel-c;

	em {
		font-family: $prod-default-font;
		font-size: 12px;
		text-align: left;
		padding: 5px 0 0;
	}

	span {
		color: $prod-parcel-c;
	}

}

%detail-stamp {
	padding: 0;
	margin-bottom: 10px;

	&.unavailable {
		padding: 8px 0;
		color: $color-theme2;
		text-transform: uppercase;
	}

}

%detail-economize {
	@extend %rk-hide;
}

%detail-tabela-medida {
	font-family: $font-custom;
	color: #000;
	font-size: 12px;
	text-decoration: underline;
	position: absolute;
	bottom: 5px;
	@if $desktop-mode {
		left: 80px;
		bottom: 0;
	}
	~ ul {
		padding-bottom: 20px;
	}


}

%detail-tools {
	li {
		background: none;

		a {
			background: url("/static/locales/global/img/ico_detalhes.png") no-repeat;
			padding-left: 22px;
			text-decoration: underline;
			font-family: $font-custom;
			font-size: 12px;
			color: #000;
			line-height: 16px;
			display: inline-block;
		}

		&.add a {
			background-position: 0 -34px;
		}

	}

}

%detail-disponibilidade {
	font-family: $font-custom;
	color: #000;
}

%detail-quantidade {
	margin: 0 0 20px;

	.lbl-quantity {
		font-weight: bold;
		font-family: $font-custom;
		text-transform: uppercase;
		color: #000;
		margin-right: 10px;
	}

	input[type="text"] {
		width: 35px;
		border: 1px solid $color-theme;
		border-radius: 0;
	}

}

%detail-description-preview {
	.description {
		font-family: $font-custom;
		line-height: 16px;
		font-size: 12px;
		color: #000;
		border: 0;

		a {
			color: #000;
			text-decoration: underline;
			font-family: $font-custom;
		}

	}

}

%detail-description-full {
	font-family: $font-custom;
	color: #000;
	line-height: 20px;
	font-size: 13px;
}

%detail-review {
	font-family: $font-custom;

	p.reviewer {
		color: $color-theme;
		font-size: 12px;
	}

}

%detail-social {
	width: 100%;
	clear: both;
	@include clearfix;

	.listSocial {
		float: right;

		@if $mobile {
			float: none;
		}

		&::before {
			content: "Compartihar ";
			font-family: $font-custom;
			color: #5a5a5a;
			font-size: 12px;
			float: left;
			display: block;
			margin: 9px 0 0 0;
		}

	}

	.media {
		&.invite {
		}

	}

	li {
		float: left;
		margin-left: 10px;

		&:hover {
			opacity: 0.5;
		}

		.invite {
			a {
				height: auto;
				width: auto;
			}

		}

		a {
			background: none;

			img {
				display: block;
			}

		}

	}

}

%detail-titile-vitrine {
	@extend %title-vitrine;
}

%detail-titile-vitrine-mobile {
	color: #000;
	font-family: $font-custom;
}

%detail-notify {
	@include box-sizing();

	span {
		color: #000;
		font-family: $font-custom;

		strong {
			border-right: 1px solid #ccc;
			padding-right: 3px;
			margin-right: 3px;
			display: none;
		}

	}

	> span {
		&::before {
			content: "INDISPONIVEL";
			color: #000;
			font-size: 11px;
			font-weight: bold;
			margin-right: 5px;
			border-right: 1px solid #ccc;
			padding-right: 3px;
		}

		&::after {
			content: "Avise-me quando chegar.";
			text-transform: uppercase;
			font-family: $font-custom;
			font-size: 11px;
		}

	}

	label {
		position: relative;

		> span {
			display: none;
		}

		input {
			border: 1px solid $color-theme;
			margin: 0;
			border-radius: 0;
			height: 30px;
		}

	}

	.btn {
		@extend %btn-enviar-notify;
		line-height: 30px;
		width: auto;
	}

}