%look-title-pecas {
	font-weight: bold;
	color: $color-theme2;
	font-family: $font-custom;
	font-size: 14px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
	&::after {
	    height: 1px;
	    width: calc(100% - 120px);
	    border-bottom: 1px solid #c9c9c9;
	    display: inline-block;
	    content: " ";
	    position: relative;
	    top: -4px;
	    left: 20px;
	}
}
%look-piece-name {
	span {
		background: none;
		font-weight: normal;
		font-family: $font-custom;
	}
}
%look-sku-cores {
	width: 200px !important;
	margin-bottom: 10px !important;
	li {
	    border-radius: 30px;
	    width: 30px;
	    height: 30px;
	    overflow: hidden;
	    img {
	        width: 30px;
	        height: 30px;
	        border: 0;
	    }
	}
}
%look-notify {
	background: none;
	padding: 0;
	@if $desktop-mode {
		width: 160px;
		float: right;
	}
	.notifyLabel {
		span {
			display: none;
		}
	}
	label {
	    @include clearfix;
	    width: 100%;
	    &::before{
	        content: "Avise-me quando chegar";
	        font-weight: 500;
	        color: $color-theme;
	        display: block;
	        padding-bottom: 5px;
	    }
	    input {
	        width: 100% !important;
	        clear: both;
	        border: 1px solid $color-theme;
	        margin: 0;
	        color: #666;
	        @if $mobile {
	        	margin: 0 0 10px;
	        }
	        border-radius: 0;
	        height: 30px;
	    }
	}
	.btn {
	    margin: 0;
	    @extend %btn-enviar-notify;
	}
}