/*autocomplete*/
body {
	.panel-multicomplete-results {
		padding-top: 0;
		width: 263px !important;
		top: 119px !important;
		.results {
			.group {
				display: block !important;
			}
		}
		.panel-no-results {
			background: #fff;
			padding: 10px;
			width: 100%;
			@include box-sizing;
		}
	}
	.autocomplete-mais-buscadas {
		width: 273px;
		margin-top: 1px;
		padding-left: 0;
		border: 1px solid #ccc;
		.title-maisbuscadas {
			background: $color-theme;
		}
		ul {
			li {
				a {
					padding: 3px 10px;
					.count {
						height: 18px;
						line-height: 17px;
						font-size: 10px;
						background-color: $color-theme;
					}
					.text-searched {
						text-transform: none
					}
				}
			}
		}
	}
	.panel-multicomplete-results {
		.results {
			border: 1px solid #ccc;
		}
		.group-title {
			background: $color-theme !important;
		}
		.autocomplete-details {
			width: 150px !important
		}
		.autocomplete-image img {
			border: 1px solid #ccc;
			width: 55px !important;
		}
		.highlight {
			color: $color-theme !important;
		}
	}
}
/*
body .panel-multicomplete-results .results .group .group-title,
body .autocomplete-mais-buscadas .title-maisbuscadas {
	background: $color-theme;
	color: #fff !important;
}
.panel-multicomplete-results .results .group
body .panel-multicomplete-results .results .group .group-items .result > a.autocomplete-product .autocomplete-details {
	width: 75%;
}

body .panel-multicomplete-results .results .group .group-items .result > a.autocomplete-product .autocomplete-details .autocomplete-name {
	color: $color-theme;
	font-weight: normal;
}

body .panel-multicomplete-results .results .group .group-items .result > a.autocomplete-product .autocomplete-details .autocomplete-price {
	color: $color-theme;
	display: block;
	font-weight: bold;
	text-align: left;
}*/
