body:not(.quickview) {
    .main-look * {
        @include box-sizing;
    }
    #info-product {
        * {
            @include box-sizing;
        }

        .collum.details {
            text-align: center;
        }

        .name {
            @extend %detail-name;
        }

        .fab-cod {
            @extend %detail-fabricante;

            li::before {
                display: none;
            }

        }

        @extend %detail-reviewaggregate;
        .reviewaggregate {
            text-align: center;
            margin-bottom: 10px;
        }

        .see-review {
            display: none;
        }
        .responsive-prod-images {
            padding-top: 0;
            margin-top: 0;
        }
        .stamp {
            clear: both;
            margin-bottom: 5px;
            a {
                margin: 0 5px 10px;
                display: inline-block;
            }
        }

        #infoPrices {
        }

        .offers {
            width: 100%;
            margin: 0;

            span {
                margin: 0;
            }

        }

        .price-from {
        }

        .price-to {
            @extend %detail-price-to;
        }

        .desconto-avista {
            @extend %detail-price-offer;
            margin-bottom: 5px;
        }

        .parcel {
            @extend %detail-parcel;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .save {
            display: none;
        }

        #ajaxTabs {
            width: 100%;
        }

        .skus-product {
            .field {
            }

            .padrao-brasileiro {
                @extend %detail-tabela-medida;
            }

        }

        #ProductBuy {
            .txtQuantity {
                @extend %detail-quantidade;
            }

        }

        .action {
            .btn.buy {
                @extend %btn-detalhes-comprar;
                width: 200px;
            }

        }

        .sucess2 {
            background: #e9fbdb;
            color: #1f4500;
            font-size: 14px;
            font-weight: bold;
            margin: 5px 0 10px;
            padding: 10px;
        }

       .notifyme.form  {
           @extend %detail-notify;
       }

        #ajaxDescriptionPreview {
            @extend %detail-description-preview;
        }

        .tools {
            @extend %detail-tools;

            li {
                &::before {
                    @extend %rk-hide;
                }

            }

        }
        #ajaxCommentsReview {
             @extend %rk-hide;
        }
        .time {
            @extend %detail-disponibilidade;
        }


        .zoom {
            background: none;
            display: none !important;

            .mouseover {
                background: none;
            }

            #hplAmpliar {
            }

        }

        ul.thumbs {
            li {
                @include box-sizing(content-box);

                img {
                }

                &:last-child {
                }

            }

        }

        #videoDetalhe {
        }

        .social {
            @extend %detail-social;
        }

    }

    #main .responsive-abas-description {
        @extend %reviewaggregate-avalicao-dos-clientes;

        h2 {
            @extend %detail-titile-vitrine;
        }

        .description {
            #descriptionContent {
                @extend %detail-description-full;
            }

        }

        .especificacion {
            #specificationContent {
                @extend %detail-description-full;
            }

        }

        .hreview {
            @extend %detail-review;
        }

    }
}
body.product {
    #main .list-products {
        li.open-combo {
            color: $color-theme;
        }
        .result {
            .details {
                text-align: center;
            }
        }
    }
}
