body.lookDetalhe {
    #main {
        span:empty {
            display: none !important; 
        }
        .social .listSocial{
    		width: auto;
    		display: inline-block;
    	}
        .collum.details {
            .fab-cod {
                padding-bottom: 5px;
            }
            .stamp {
                margin: 0;
            }
            .txtQuantity {
                display: none;
            }
            .reviewaggregate {
                margin-top: 10px; 
            }
            .tools {
                li {
                    min-width: 251px;
                }
            }

        }
    	.aside{
    		.info .details{
    			margin-top: 20px;
    			text-align: left;
    			span[id*="lblUnavailableSku"]{
    				.stamp{
    					text-align: left;
    				}
    			}
    		}
            .pieces {
                .title {
                    @extend %look-pieces-title;
                }
                .btn.ir.select-look {
                    @extend %look-pieces-select-look;
                }
            }
            .name {
                @extend %look-pieces-name;
                 + .field label span {
                    @extend %look-pieces-sku-name;
                }
            }
            .price-to {
                @extend %detail-price-to;
                strong span {
                    font-size: 16px;
                }
            }
            .txtQuantity {
                display: none;
            }
            .jcarousel-skin-tango {
                padding: 0 20px;
                width: 195px;
                .owl-controls {
                    width: 170px
                }
            }
            .skus-cores {

            }
            .notifyme {
                @extend %look-notifyme;
            }
            .buy.selected {
                @extend %btn-look-comprar-produtos;
            }
    	}
    }
}