body {
    /* inicio - Minha conta Pagina inicial */
	    &.account {
	        .nav {
	            a {
	                font-family: $font-custom;

	                &:hover {
	                    color: $link-color;
	                }
	            }
	        }
	    }
    /* fim    - Minha conta Pagina inicial */

    

    /* inicio - Conta Corrente*/
	    &.contaCorrente {
	    	.box.form {
	    		
	    	}

	    }
    /* fim    - Conta Corrente*/

    /*inicio - Meus Cartoes*/
	    .internal .return .btn.buy {
	    	@extend %btn-meuscartoes-comprar-produtos;
	    }
	    &.mycards {
	    	h1.mycards-title {
	    		@extend %title-checkout2;
	    	}
	    	p.mycards-txt {
				line-height: 20px;
				font-size: 12px;
	    	}
	    	.new-card {
	    		h2 {
	    			text-align: center;
	    		}
	    	}
	    	.main-content .add-new-card {
	    		@extend  %btn-meuscartoes-cadastrar-cartao;
	    		font-size: 10px;
	    	}
	    	#main .save.btn.ir {
	    		@extend  %btn-meuscartoes-cadastrar;
	    	}
	    	.accordion-header:before {
	    		color: #9D9D9D !important;
	    	}
	    }
    /*fim - Meus Cartoes*/
}