/* -------------------------------------------------------*/
/* --------------------*>>> MODALS <<<--------------------*/
/* -----------------------------------------------------*/

/* inicio - Configuracoes Gerais*/
    body.modal-mobile {
        a#fancybox-close,
        a#fancybox-close-2 {
            @extend %fancy-close;
        }
        &.consult-delivery {
            a#fancybox-close-2 {
                display: block;
            }
        }
    }
    body.indicate-friend,
    body.consult-delivery,
    body.rate  {
        .btn.ir {
            @extend %btn-modal-consultar-prazo-consultar;
        }
    }
/* fim    - Configuracoes Gerais */

/* inicio - Alterar Endereco */
    .delivery-address {

        .address.box {

            .btn.ir.edit {
                
            }
            .btn.ir.use {
               
            }
            .btn.ir.delete {
                
            }
            
        }
        #hypSalvar {
            @extend %btn-modal-salvar-usar-endereco;
        }
        #p_LimparEndereco {
            @extend %btn-modal-endereco-cancelar;
        }
    }
/* fim    - Alterar Endereco */

/* inicio - Avalie este produto*/
    body {
        &.rate {
            .rating {
                .validacao {
                    right: 0;
                    left: 0;
                    top: 17px;
                    padding: 0;
                }
            }
        }
    }
/* fim    - Avalie este produto */

/* inicio - Cep Nao Cadastrado */
    body .actions .bt-yes,
    body .actions .bt-no {

    }

    body .actions .bt-yes {
        
    }

    body .actions .bt-no {

    }

    .addressNotFound .form .actions {
       
    }
/* fim    - Cep Nao Cadastrado */

/* inicio - Consultar Prazo de entrega */
    body.consult-delivery.modal-mobile {
        #pnlHomeDelivery {
            .cep .field {
                width: calc(100% - 150px);
                display: inline-block;
                float: none;
                margin: 0;
                label > span {
                    height: 20px;
                    margin: 0;
                }
            }
            .actions {
                display: inline-block;
                float: none;
                vertical-align: bottom;
                margin: 0 !important;
            }
            input[type="text"] {
                width: 98% !important;
                border-radius: 0;
                height: 35px;
                border: 1px solid #ccc;
            }
        }
    }
/* fim    - Consultar Prazo de entrega */

/* inicio - Esqueci Minha Senha */
    body.forget,
    body.email,
    body.alterarSenha {
        a#fancybox-close-2 {
            display: block;
        }
        .btn.continue {
            @extend %btn-modal-alterar-senha-continue;
        }
    }
/* fim    - Esqueci Minha Senha */

/* inicio - Indique um amigo*/
    form[action*="indique.aspx"] {

    }
/* fim    - Indique um amigo */

/* inicio - Login Ja existente*/
    body.loginexistente {
        #main {

            .btn {

            }
        }
    }
/* fim    - Login Ja existente*/

/* inicio - Alterar Senha */
    body {
        &.alterarSenha {
            h1 {
                @extend %title-modal;
            }
        }
    }
/* fim    - Alterar Senha */

/* inicio - Servico de Entrega */
    body.delivery-service.delivery {
        #main #upBasket .actions a.change {
            @extend %btn-modal_servico-alterar-endereco;
        }
        #main #upBasket .actions a.continue {
            @extend %btn-modal_servico-salvar;
        }
    }
/* fim    - Servico de Entrega */



/* Endereço de entrega */
    #pnlStoreDelivery { 
        .address { 
            .info { 
                .actions { 
                    #hypStoreDelivery { 

                    }
                }
            }
        }
    }