/* ---------------------------------------------------------------------*/
/* -------------------------*>>> BASKET <<<---------------------------*/
/* -------------------------------------------------------------------*/

// Config -----------------------------------------------------------------------------------/
$basket-border: 1px solid #AEAEAE;
$basket-no-border: 1px solid transparent;

// Components ------------------------------------------------------------------------------/
%basket-banner{
	#banner_promocoes_atingir_pnlBannerPromocoesAtingir{
		*{
			@include box-sizing();
		}
		margin-top: 10px;
		width: $page-width;
		.orbit-wrapper{
			width: $page-width !important;
			height: 75px !important;
			#banner-basket{
				width: $page-width !important;
				height: 75px !important;
				.promo{
					@extend %text-basket-banner;
					@include border-radius(0px);
					@include box-sizing();
					background: #F4F4F4;
					border: 0px;
					text-transform: uppercase;
					width: $page-width;
					height: 75px;
					padding: {
						top: 10px;
						right: 20px;
						bottom: 10px;
						left: 20px;
					}
					text-align: center;
					line-height: 26px;
				}
			}
			.orbit-bullets{
				right: 10px;
				bottom: 5px;
				z-index: 9999;
				li{
					@include fonte($font-def, normal, 12px, #FFF);
					@include border-radius(50px);
					background: none;
					background-color: $color-theme-2;
					color: #FFF;
					width: 20px;
					height: 20px;
					margin-top: 0px;
					line-height: 19px;
					&.active{
						background-color: #777;
					}
				}
			}
		}
	}
}
%basket-buttons-basket{
	.buttons-basket{
		li{
			margin: 15px 0px;
			.buy-more{
				@extend %bt-basket-buy-more;
			}
			.continue{
				@extend %bt-basket-continue;
			}
		}
	}
}
%basket-thead{
	tr{
		th{
			border: {
				top: $basket-border;
				//right: $basket-no-border;
				bottom: $basket-border;
				//left: $basket-no-border;
			}
			background: #FFF;
			height: 40px;
			span{
				@extend %text-basket-thead-title;
				line-height: 40px;
			}
			&.description{
				& + th{
					span{
						font-size: 0px;
						color: transparent;
						&:before{
							content: "QUANTIDADE";
							@extend %text-basket-thead-title;
							line-height: 40px;
						}
					}
				}
			}
		}	
	}
}
%basket-tbody-product{
	.product{
		width: $ft-thumb-w;
	}
}
%basket-tbody-description{
	.description{
		.details{
			.name{
				@extend %text-basket-prod-name;
			}
			.cod,
			.brand{
				@extend %text-basket-prod-fabcod;
			}
			.skus{
				@extend %text-basket-prod-sku;
				margin-top: 5px;
			}
		}
	}
}
%basket-tbody-quantity{
	.quantity{
		> div{
			border: 1px solid #343436;
			padding: 0px;
			position: relative;
			background-repeat: no-repeat;
			background-position: 40px center;
			text-align: center;
			overflow: visible;
			width: 70px;
			height: 30px;
			line-height: 26px;
			a{
				&.minus{
					@include imgbt(bt-quantity-down, png, 4, 6);
					position: absolute;
					left: 5px;
					top: 10px;
				}
				&.plus{
					@include imgbt(bt-quantity-up, png, 4, 6);
					position: absolute;
					right: 5px;
					top: 10px;
				}
			}
		}
		input{
			@include border-radius(2px);
			@include box-shadow(0px, 0px, 0px, #FFF, inset);
			height: 28px;
			line-height: 25px;
			width: 30px;
			border: 0px solid #BCBCBC;
			display: inline-block;
			float: none;
		}
	}
}
%basket-tbody-gift{
	.gift{
		.ico{
			width: 50px;
			background: none;
			&:after{
				content: " Sim";
				@include fonte($font-def, normal, 13px, $color-text-1);
				position: relative;
				bottom: 2px;
			}
		}
	}
}
%basket-tbody-delete{
	.delete{
		.ico{
			@include imgbt(bt-basket-del, png, 13, 13);
		}
	}
}
%basket-tbody-unit-value{
	.unit-value{
		.regular{
			text-align: center;
			&:before{
				content: "";
				@extend %text-basket-prod-unit-reg;
			}
			@extend %text-basket-prod-unit-reg;
		}
		.sale{
			text-align: center;
			&:before{
				content: "";
				@extend %text-basket-prod-unit-sale;
			}
			@extend %text-basket-prod-unit-sale;
		}
	}
}
%basket-tbody-unit-subtotal{
	.subtotal{
		.regular{
			display: none;
			text-align: center;
			&:before{
				content: "";
				@extend %text-basket-prod-subtotal-reg;
			}
			@extend %text-basket-prod-subtotal-reg;
		}
		.sale{
			text-align: center;
			&:before{
				content: "";
				@extend %text-basket-prod-subtotal-sale;
			}
			@extend %text-basket-prod-subtotal-sale;
		}
	}
}
%basket-tfoot-info{
	.info{
		border:{
			top: $basket-border;
			right: $basket-no-border;
			bottom: $basket-border;
			left: $basket-no-border;
		}
		td{
			background: #FFF;
			padding: 5px 15px;
			&.title{
				@extend %text-basket-tfoot-info-title;
			}
			&.subtotal{
				@extend %text-basket-tfoot-info-subtotal;
				border-left: $basket-border;
			}
		}
	}
}
%basket-tfoot-delivery{
	.delivery{
		border:{
			top: $basket-border;
			right: $basket-no-border;
			bottom: $basket-border;
			left: $basket-no-border;
		}
		td{
			border-top: 0px;
			background: #FFF;
			&.subtotal{
				border-left: $basket-border;
				@include fonte($font-alt-1, normal, 16px, #373435);
			}
		}
		.options{
			dt{
				@extend %text-basket-delivery-service-title;
			}
			dd{
				.service-basket{
					@extend %text-basket-delivery-service-basket;
				}
				.service-value{
					label{
						@extend %text-basket-delivery-service-basket;
					}
					li{
						@extend %text-basket-delivery-service-value-last;
						&:first-child{
							@extend %text-basket-delivery-service-value-first;
						}
					}
				}
			}
		}
		&.first{
			border:{
				top: $basket-border;
				right: $basket-no-border;
				bottom: $basket-no-border;
				left: $basket-no-border;
			}
			td{
				border-top: 0px;
				background: #FFF;
				&#tdZipCode{
					.options-tit{
						@include fonte($font-def, normal, 12px, $color-theme-2);
						text-transform: lowercase;
						&:first-letter{
							text-transform: uppercase;
						}
					}
					.form{
						label{
							margin-right: 0px;
							input{
								@include box-sizing();
								@include border-radius(0px);
								@include fonte($font-def, normal, 12px, $color-text-1);
								border: 1px solid #B2B2B2;
								height: 32px;
								line-height: 32px;
								margin-right: 5px;
							}
						}
						.calculate{
							@extend %bt-basket-calcular-frete;
						}
					}
					.title{
						@include fonte($font-alt-1, normal, 16px, #373435);
						text-transform:uppercase;
						width: auto;
						float: right;
					}
				}
				&.subtotal{
					border-left: $basket-border;
					@include fonte($font-def, normal, 12px, #000);
				}
			}
		}
	}
}
%basket-tfoot-coupon{
	.coupon{
		border:{
			top: $basket-border;
			right: $basket-no-border;
			bottom: $basket-border;
			left: $basket-no-border;
		}
		td{
			background: #FFF;
			border-top: $basket-border;
			fieldset{
				float: left;
				label{
					margin-right: -1px;
					span{
						width: auto;
						line-height: 19px;
						@extend %text-basket-cupom-title;
						strong{
							@extend %text-basket-cupom-title;
						}
					}
					input{
						@include border-radius(0px);
						@extend %text-basket-cupom-title;
						border: 1px solid #B2B2B2;
						height: 31px;
						line-height: 31px;
						margin-right: 5px;
					}
				}
				.utilize,
				.cancel{
					@extend %bt-basket-coupon-utilize;
				}
			}
			&.subtotal{
				border-left: $basket-border;
				span{
					@include fonte($font-def, bold, 13px, $color-theme-2);
					&.coupon-ok{
						@include fonte($font-def, bold, 13px, $color-theme-2);
					}
					&.coupon-off{
						@include fonte($font-def, bold, 13px, #b82323);
					}
				}
			}
		}
	}
}
%basket-tfoot-total{
	.total{
		border:{
			top: $basket-border;
			right: $basket-no-border;
			bottom: $basket-border;
			left: $basket-no-border;
		}
		td{
			background: #FFF;
			padding: 15px 15px;
			&.title{
				@extend %text-basket-total-title;
			}
			&.value{
				border-left: $basket-no-border;
				@extend %text-basket-total-value;
			}
		}
	}
}
%basket-tfoot-stamps{
	#trStamps{
		#tdStamps{
			background: #FFF;
		}
	}
}

// Style -----------------------------------------------------------------------------/
body{
	&.basketpage{
		#main{
			.container{
				.banners{
					&.b-top{
						padding-top: 15px;
						@extend %banner-full-topo-detalhes;
					}
				}
				@include box-sizing();
				width: $page-width;
				margin: 0px auto;
				padding: 0px;
				.content{
					.main-content{
						@extend %basket-banner;
						#pnlItems{
							border: 1px solid #FFF;
							@include border-radius(0px);
							#buy-to-list{
								border: 0px;
							}
							@extend %basket-buttons-basket;
							.basket{
								*{
									@include box-sizing();
								}
								table{
									thead{
										th{
											&:last-child{
												width: 160px;
												border-left: $basket-border;
											}
										}
										@extend %basket-thead;
									}
									tbody{
										tr{
											border-bottom: $basket-border;
											td{
												background: transparent;
												border-left: $basket-no-border;
												&:first-child{
													border-left: $basket-no-border;
												}
												&:last-child{
													width: 160px;
													border-left: $basket-border;
												}
											}
											@extend %basket-tbody-product;
											@extend %basket-tbody-description;
											@extend %basket-tbody-quantity;
											@extend %basket-tbody-gift;
											@extend %basket-tbody-delete;
											@extend %basket-tbody-unit-value;
											@extend %basket-tbody-unit-subtotal;
										}
									}
									tfoot{
										@extend %basket-tfoot-info;
										@extend %basket-tfoot-delivery;
										@extend %basket-tfoot-coupon;
										@extend %basket-tfoot-stamps;
										@extend %basket-tfoot-total;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}