  /* -----------------------------------------------------------------------------------*/
  /* ----------------------------*>>> CATALOGO <<<--------------------------------------*/
  /* -----------------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/
$cat-cont-w: 1100px;

//Components -----------------------------------------------------------------------/
%catalog-filters{
	.filters{
		border: 0px;
		background: #F4F4F4;
		padding: 10px 20px;
		margin-bottom: 3px;
		> span{
			@extend %text-filter-ordernar-por;
		}
		fieldset{
			width: 750px;
			> select{
				@include box-sizing();
				@include select-arrow(ico-arrow-select, 95%);
				border: 1px solid #AEAEAE;
				@extend %text-filter-opts;
				text-transform: uppercase;
				margin-top: -2px;
				padding: 2px;
				padding: 2px 35px 2px 2px;
				height: 30px;
				width: 180px;
			}
			ul{
				li{
					background: none;
					a{
						text-decoration: none;
						text-transform: capitalize;
						@extend %text-filter-opts;
						&.selected{
							@extend %text-filter-opts;
							text-decoration: underline;
						}
					}
				}
			}
			.itens-page{
				right: 0px;
				left: auto;
				height: 30px;
				top: -2px;
				z-index: 1;
				overflow: visible;
				> span{
					@extend %text-filter-ordernar-por;
					margin-top: 2px;
				}
				select{
					@include box-sizing();
					@include select-arrow(ico-arrow-select, 90%);
					@include fonte($font-def, normal, 11px, #767676);
					border: 1px solid #AEAEAE;
					text-transform: uppercase;
					padding: 2px;
					padding: 2px 35px 2px 2px;
					height: 30px;
					margin-top: -1px;
				}
			}
			#hypCompare{
				@include bt-default();
				@include fonte($font-def, 700, 12px, #FFF);
				margin-top: 4px;
				display: none;
			}
		}
	}
	.filter-details{
		@include border-radius();
		border:0px;
		border-bottom: 0px solid #DEDEDE;
		background: #FFF;
		padding: 12px;
		position: relative;
		overflow: visible;
		height: 0px;
		.vs-mode{
			margin: 0px;
			position: absolute;
			left: 375px;
			top: -33px;
			display: none;
			> span{
				@include fonte($font-def, normal, 13px, #707070);
			}
			ul{
				li{
					a{
						@include fonte($font-def, normal, 13px, #707070);
						&.selected{
							@include fonte($font-def, normal, 13px, #373435);
						}
						&.table{
							@include bgimg(bt_vs_mode_table, png);
							background-repeat: no-repeat;
							background-position: 2px 0px;
							&.selected{
								@include bgimg(bt_vs_mode_table_selected, png);
								background-repeat: no-repeat;
								background-position: 2px 0px;
								text-decoration: none;
							}
						}
						&.list{
							@include bgimg(bt_vs_mode_list, png);
							background-repeat: no-repeat;
							background-position: 2px 0px;
							&.selected{
								@include bgimg(bt_vs_mode_list_selected, png);
								background-repeat: no-repeat;
								background-position: 2px 0px;
							}
						}
					}
				}
			}
		}
		> p{
			display: none;
			position: absolute;
			left: 10px;
			top: 12px;
			@include fonte($font-def, normal, 12px, #555555);
			strong{
				@include fonte($font-def, normal, 12px, #555555);
			}
		}
	}
}
%catalog-list-mode{
	> li{
		border: 0px;
		width: 100%;
		.hproduct{
			width: 97%;
			height: auto;
			overflow: hidden;
			.figure{
				width: $ft-vitrine-w;
				@extend %placeholder-list-prod-photo;
			}
			.tools{
				width: 160px;
				margin-left: 23px;
				ul{
					width: 160px;
				}
			}
			.link{
				.fn{
					&.name{
						text-align: left;
						padding-bottom: 5px;
					}
				}
				.description{
					text-align: left;
					@include fonte($font-def, normal, 12px, $color-theme-2);
					padding-top: 0px;
					span{
						@include fonte($font-def, normal, 12px, $color-theme-1);
					}
				}
				.offers{
					text-align: left !important;
				}
				.parcel{
					text-align: left !important;
				}
			}
			.reviewaggregate{
				float: left;
			}
			.stamp{
				float: left;
				width: 100%;
			}
			.compare{
				border-top: 1px solid #D6D6D6;
				text-align: right;
				width: 105%;
				&:before{
					display: none;
				}
				span[title="Comparar"]{
					margin-right: 24px;
					margin-bottom: 8px;
				}
			}
			.unavailable{
				text-align: left !important;
			}
			.txtQuantity{
				&:before{
					display: none;
				}
				position: absolute;
				top: 85px;
				bottom: auto;
				right: 190px;
			}
		}

		.buy{
			position: absolute;
			top: 100px;
			bottom: auto;
			display: block !important;
		}
	}
}
%catalog-vitrine{
	.section{
		border-bottom: 0px;
		h2{
			@extend %placeholder-heading;
		}
		.list-products{
			li{
				.hproduct{
					.figure{
						width: $ft-vitrine-w;
						@extend %placeholder-list-prod-bt-quickview;
						@extend %placeholder-list-prod-photo;
					}
					.details{
						.link{
							@extend %placeholder-list-prod-name;
							@extend %placeholder-list-prod-offers;
							@extend %placeholder-list-prod-parcel;
						}
						@extend %placeholder-list-prod-see-more;
					}
				}
			}
		}
	}
	.seecategory{
		width: 100%;
		display: block;
		overflow: hidden;
	}
	.see-category{
		@include bt-default();
		display: block;
		margin: 10px auto;
		width: 200px;
		text-align: center;
		float: right;
	}
	.categ-desc{
		margin-bottom: 15px;
		padding-top: 15px;
		border-top: 1px solid #DDDCDA;
		@include fonte($font-def, normal, 13px, #808080);
	}
}

//Style --------------------------------------------------------------------------/
body{
	&.catalog,
	&.vitrine{
		#main{
			@include box-sizing();
			width: $page-width;
			margin: 0px auto;
			padding: {
				top: 20px;
				right: 0;
				bottom: 0;
				left: 0;
			}
			.container{
				@include box-sizing();
				width: $page-width;
				margin: 0px auto;
				padding: 0px;
				.banners{
					&.b-top{
						@extend %banner-cat-topo;
					}
					&.b-main{
						@extend %banner-cat-main;
					}
					&.b-bottom{
						@extend %banner-cat-bottom;
					}
				}
				.content{
					width: $cat-cont-w;
					float: right;
					margin: 0px;
					position: relative;
					@extend %placeholder-breadcrumb;
					@extend %catalog-filters;
					@extend %placeholder-catalog-pagination;
					.main-content{
						.list-products{
							@extend %placeholder-prod-by-row;
							.hproduct{
								@extend %placeholder-hproduct;
								.figure{
									@extend %placeholder-list-prod-bt-quickview;
									@extend %placeholder-list-prod-photo;
								}
								.details{
									@extend %placeholder-list-prod-details;
									.link{
										@extend %placeholder-list-prod-name;
										@extend %placeholder-list-prod-offers;
										@extend %placeholder-list-prod-parcel;
									}
									@extend %placeholder-reviewaggregate;
									.reviewaggregate{
										width: 136px;
										display: none;
									}
									.see-more{
										display: none;
									}
								}
								@extend %placeholder-list-prod-buy;
								.btn{
									&.buy{
										display: none;
									}
								}
								@extend %placeholder-list-prod-compare;

								@extend %placeholder-list-prod-indisponivel;
							}
							&.show-one{
								@extend %catalog-list-mode;
							}
						}
						.tools{
							@extend %placeholder-list-prod-tools;
							@extend %placeholder-sku-carousel;
							.owl-buttons{
								top: -3px;
								.owl-prev{
									left: -49px;
								}
								.owl-next{
									left: 136px;
								}
							}
						}
					}
					@extend %catalog-vitrine;
				}
			}
		}
		.history{
			float: left;
		}
	}
}