  /* -----------------------------------------------------------------------------*/
 /* --------------------------*>>> COMPARE <<<----------------------------------*/
/* -----------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/


//Components -----------------------------------------------------------------------/


//Style -----------------------------------------------------------------------------/
body{
	&.comparepage{
		.hproduct{
			background: #FFF;
			table{
				&.compare{
					thead{
						th{
							.figure{
								.photo{
									@include box-sizing();
									width: 100%;
									height: auto;
									border: 0px;
								}
							}
							.details{
								@extend %placeholder-list-prod-name;
							}
						}
					}
					tbody{
						tr{
							td{
								&.product{
									background: #FFF;
									.details{
										@extend %placeholder-list-prod-offers;
										@extend %placeholder-list-prod-parcel;
										.price{
											& + .price.sale{
												@extend %text-list-prod-percent-a-vista-normal;
												strong{
													@extend %text-list-prod-percent-a-vista-strong;
												}
											}
										}
									}
									.unavailable{
										color: $color-theme-1;
									}
								}
								&.legend{
									background: #FFF;
								}
								.btn{
									&.ir{
										&.delete{
											@extend %bt-compare-retirar;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}