/* ----------------------------------------------------------------------------*/
/* -------------------------*>>> DETALHE - LOOK <<<---------------------------*/
/* --------------------------------------------------------------------------*/

// Config ----------------------------------------------------------------------------------/
$look-aside-w: 780px;
$look-blocks-margin: 20px;
$look-hproduct-w: $page-width;
$look-hproduct-details-w: ($look-hproduct-w -  $look-detalhes-w - $look-blocks-margin);

// Components -----------------------------------------------------------------------------/
%look-images-photo{
	.photo{
		float: right;
		border: 0px !important;
		width: $look-detalhes-w;
		height: $look-detalhes-h;
		.MagicZoom{
			width: $look-detalhes-w;
			height: $look-detalhes-h;
			> img{
				width: $look-detalhes-w;
				height: $look-detalhes-h;
			}
		}
		.MagicZoomHeader{
			display: none;
		}
		.MagicZoomBigImageCont{
			border: 1px solid #CCC;
		}
	}
}
%look-images-zoom{
	@extend %product-images-zoom;
	.zoom{
		width: $look-detalhes-w;
		.mouseover{
			width: auto;
		}
		.click{
			display: none;
		}
	}
}
%look-images-thumbs{
	@extend %product-images-thumbs-vertical;
	.thumbs{
		width: 53px;
		li,
		&#videoDetalhe{
			margin-top: 10px;
			width: 100%;
			img{
				width: 100%;
				height: auto;
			}
		}
	}
}
%look-images-social{
	@extend %product-images-social;
	.social{
		height: auto;
	}
}
%look-details-name{
	@extend %product-details-name;
	.name{
		@include box-sizing();
		height: auto;
		float: none;
		width: 100%;
		padding-top: 0px;
		margin: 0px;
	}
}
%look-details-fab-cod{
	@extend %product-details-fab-cod;
	.fab-cod{
		@include box-sizing();
		height: auto;
		float: none;
		width: 100%;
		padding-top: 0px;
		margin: 0px;
	}
}
%look-details-offers{
	.offers{
		&#lblOffer{
			height: auto;
			span{
				&.regular:not(.desconto-avista),
				&.sale{
					@include box-sizing();
					margin: 0px 5px;
					display: inline-block;
					width: auto;
					height: auto;
					line-height: 20px;
					vertical-align: middle;
					text-align: left;
					em{
						line-height: 20px;
					}
				}
				&.regular:not(.desconto-avista){
					@extend %text-det-prod-offers-preco-de;
					padding: 0px;
					margin-left: 0px;
					margin-top: -6px;
					em{
						@extend %text-det-prod-offers-preco-de;
					}
					span{
						@extend %text-det-prod-offers-preco-de;
					}
				}
				&.sale{
					margin-left: 0px;
					em{
						@extend %text-det-prod-offers-preco-por;
					}
					strong{
						@extend %text-det-prod-offers-preco-por;
						span{
							@extend %text-det-prod-offers-preco-por;
						}
					}
				}
			}
		}
	}
}
%look-details-desconto-a-vista{
	.desconto-avista{
		span{
			@extend %text-det-prod-percent-a-vista-normal;
			em{
				@extend %text-det-prod-percent-a-vista-normal;
				&.value-percentage{
					@extend %text-det-prod-percent-a-vista-strong;
				}
			}
			&.preco-avista{
				@extend %text-det-prod-percent-a-vista-strong;
			}
		}
	}
}
%look-details-parcel{
	@extend %product-details-parcel;
	#lblParcel{
		&.parcel{
			text-align: left;
			width: 100%;
			height: auto;
			text-transform: uppercase;
			span{
				font-size: 14px;
				letter-spacing: 2px;
				strong{
					font-size: 14px;
					letter-spacing: 2px;
				}
			}
		}
	}
}
%look-details-resumo-desc{
	.description{
		display: block;
		padding: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		border: 0px;
		margin: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		@extend %text-det-prod-resumo-cont;
		strong{
			@extend %text-det-prod-resumo-title;
		}
		a{
			@extend %text-det-prod-resumo-link;
		}
	}
}
%look-details-stamp{
	.stamp{
		&#lblStamp{
			height: auto;
		}
	}
}
%look-reviewaggregate{
	@extend %product-reviewaggregate;
	.reviewaggregate{
		float: none;
		width: auto;
		height: 15px;
		text-align: right;
		padding-bottom: 0px;
		#hplRating{
			float: right;
		}
	}
}
%look-details-tools{
	.tools{
		text-align: right;
		width: 100%;
		li{
			a{
				@extend %text-det-prod-tools-link;
			}
			&.delivery{
				@include bgimg(ico-arrow-tools,png);
				background-position: 5px center;
				background-repeat: no-repeat;
				padding-left: 15px;
				width: auto;
				float: right;
				margin-top: 20px;
				a{
					@extend %text-det-prod-tools-link;
				}
			}
		}
	}
}
%look-aside-bt-buy{
	.buy{
		@extend %bt-look-comprar-selecionados;
		position: absolute;
		right: 0px;
		&#hplBuy{
			position: relative;
			float: right;
		}
	}
}
%look-aside-pieces{
	background: #FFF;
	border: 1px solid #FFF;
	@include border-radius();
	overflow: visible;
	margin: {
		top: 0px;
		right: 0px;
		bottom: 10px;
		left: 0px;
	}
	> ul{
		> li{
			overflow: visible;
		}
	}
}
%look-aside-pieces-title{
	.title{
		@include box-sizing();
		@extend %text-look-aside-title;
		background: transparent;
		margin-bottom: 10px;
		padding: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 15px;
		}
		border: 0px;
		margin-top: -5px;
	}
}
%look-aside-pieces-figure{
	.figure{
		width: $look-thumb-w;
		height: $look-thumb-h;
		a{
			width: $look-thumb-w;
			height: $look-thumb-h;
			img{
				width: $look-thumb-w;
				height: $look-thumb-h;
				border: 0px !important;
			}
		}
	}
}
%look-aside-pieces-name{
	@extend %placeholder-list-prod-name;
	.name{
		@extend %text-look-aside-name;
		text-align: left;
		background: transparent;
		label{
			span{
				@extend %text-look-aside-name;
				text-align: left;
				width: auto;
			}
		}
	}
}
%look-aside-pieces-offers{
	.offers{
		.price-from{
			@extend %text-list-prod-price-reg;
			em,
			span{
				@extend %text-list-prod-price-reg;
			}
		}
		.price-to{
			@extend %text-list-prod-price-sale;
			em,
			span{
				@extend %text-list-prod-price-sale;
			}
		}
		.desconto-avista{
			&.percent-a-vista{
				span{
					@extend %text-det-prod-percent-a-vista-normal;
					em{
						@extend %text-det-prod-percent-a-vista-normal;
						&.value-percentage{
							@extend %text-det-prod-percent-a-vista-strong;
						}
					}
					&.preco-avista{
						@extend %text-det-prod-percent-a-vista-strong;
					}
				}
			}
		}
	}
}
%look-aside-bt-select-all{
	.select-look{
		@extend %bt-look-aside-bt-select-all;
		position: absolute;
		margin-top: 20px;
	}
}
%look-aside{
	.aside{
		@include box-sizing();
		width: $look-aside-w;
		margin: 0px;
		top: 300px;
		float: right;
		border-bottom: 1px solid #DCDBD9;
		@extend %look-aside-bt-buy;
		.pieces{
			@extend %look-aside-pieces;
			@extend %look-aside-pieces-title;
			fieldset{
				overflow: visible;
			}
			ul{
				margin: 0px;
				text-align: left;
				overflow: hidden;
				@include flexbox(inline-flex, row, wrap, space-between);
				align-items: stretch;
				li{
					@include box-sizing();
					background: none;
					border: 10px solid #FFF;
					width: 48%;
					@extend %look-aside-pieces-figure;
					.info{
						@extend %look-aside-pieces-name;
						float: left;
						width: 50%;
						#lblStamp{
							
						}
						.field{
							height: auto;
							label{
								> span{
									@include fonte($font-def, normal, 13px, $color-theme-1);
								}
								@extend %placeholder-sku-carousel;
								.skus-cores{
									li{
										top: 0;
									}
								}
								.jcarousel-skin-tango {
									width: 158px;
									margin-left: 30px;
									.owl-controls{
										.owl-buttons{
											position: absolute;
											top: 4px;
											.owl-prev{
												left: -35px;
											}
											.owl-next{
												left: 150px !important;
											}
										}
									}
								}
							}
						}
						@extend %placeholder-notifyme;
						.notifyme{
							@include box-sizing();
							width: 100%;
							overflow: hidden;
							position: relative;
							padding: 0px 10px;
							.notifyLabel{
								&:before{
									display: none;
								}
								span{
									@extend %text-notifyme-avise;
									margin-bottom: 0px;
									padding-bottom: 0px;
								}
							}
							*{
								@include box-sizing();
							}
							label{
								*{
									width: 100%;
								}
								input{
									width: 100% !important;
								}
							}
							.send{
								margin-top: 5px;
							}
						}	
					}
					.details{
						width: 100%;
						@extend %look-aside-pieces-offers;
						@extend %placeholder-list-prod-indisponivel;
					}
				}
			}
		}
		@extend %look-aside-bt-select-all;
	}
}
%look-info-product{
	#info-product{
		@include box-sizing();
		width: $look-hproduct-w;
		margin: 0px;
		.collum{
			&.images{
				width: $look-detalhes-w;
				margin: 0px;
				position: relative;
				@extend %look-images-photo;
				@extend %look-images-zoom;
				@extend %look-images-thumbs;
				@extend %look-images-social;
			}
			&.details{
				width: $look-hproduct-details-w;
				margin-left: $look-blocks-margin;
				overflow: hidden;
				border-bottom: 1px solid #DCDBD9;
				margin-bottom: 20px;
				padding-bottom: 10px;
				.details-l{
					@include box-sizing();
					padding: 5px;
					float: left;
					width: 50%;
				}
				.details-r{
					@include box-sizing();
					padding: 5px;
					float: right;
					width: 50%;
				}
				@extend %product-details-name;
				.name{
					text-align: left;
				}
				@extend %look-details-fab-cod;
				@extend %look-reviewaggregate;
				@extend %look-details-offers;
				@extend %look-details-parcel;
				@extend %look-details-resumo-desc;
				@extend %look-details-tools;
			}
		}
	}
}
%look-list-product{
	.section{
		.list-products{
			.hproduct{
				width: $look-vitrine-w;
				.figure{
					@extend %placeholder-list-prod-bt-quickview;
					@extend %placeholder-list-prod-look-photo;
					img{
						border: 0px !important;
						width: $look-vitrine-w !important;
						height: $look-vitrine-h !important;
					}
				}
				.link{
					@extend %placeholder-list-prod-name;
					@extend %placeholder-list-prod-offers;
					.regular{
						span{
							color: $color-theme-2;
						}
					}
					.sale{
						strong{
							span{
								color: $color-theme-1;
							}
						}
					}
					@extend %placeholder-list-prod-parcel;
				}
				.reviewaggregate{
					display: none;
				}
				.buy{
					display: none;
				}
				.compare{
					display: none;
				}
				@extend %placeholder-list-prod-indisponivel;
			}
			&.show-one{
				@extend %catalog-list-mode;
			}
		}
	}
}
%look-suggestions{
	.section{
		border: 0px;
		&.suggestion{
			h2{
				@extend %placeholder-heading;
			}
			.list-products{
				@extend %placeholder-prod-by-row;
				li{
					width: 18.5%;
				}
				.hproduct{
					@extend %placeholder-hproduct;
					width: 100%;
					.figure{
						@extend %placeholder-list-prod-bt-quickview;
						@extend %placeholder-list-prod-look-photo;
						width: $ft-thumb-w;
						height: auto;
					}
					.details{
						text-align: center;
						@extend %placeholder-list-prod-name;
						@extend %placeholder-list-prod-look-offers;
						@extend %placeholder-list-prod-parcel;
						@extend %placeholder-reviewaggregate;
						@extend %placeholder-list-prod-buy;
						@extend %placeholder-list-prod-compare;
						.see-more{
							display: none;
						}
					}
					@extend %placeholder-list-prod-indisponivel;
				}
				&.show-one{
					@extend %catalog-list-mode;
				}
			}
		}
	}
}


// Style ---------------------------------------------------------------------------------/
body{
	&.look{
		&.lookDetalhe{
			#main{
				@include box-sizing();
				width: $page-width;
				margin: 0px auto;
				padding: 0px;
				.container{
					@include box-sizing();
					width: $page-width;
					margin: 0px auto;
					padding: 0px;
					.content{
						@include box-sizing();
						width: $page-width;
						margin: 0px auto;
						padding: 0px;
						@extend %placeholder-breadcrumb;
						#breadcrumbs{
							padding-left: 40px;
							> span{
								&:last-of-type{
									@extend %text-bread-item-last;
								}
							}
						}
						.main-content{
							.main-look{
								> .details{
									width: 100%;
									padding: 0px 40px;
									@include box-sizing();
									@include clearfix;
									@include flexbox(inline-flex, row, wrap, space-between);
									> div{
										@include box-sizing();
										width: 33%;
										padding-right: 30px;
										&.box-two{
											padding-left: 30px;
											position: relative;
											left: 90px;
										}
									}
									@extend %look-details-name;
									@extend %look-details-fab-cod;
									@extend %look-details-resumo-desc;
									@extend %look-details-offers;
									@extend %look-details-desconto-a-vista;
									@extend %look-details-parcel;
									@extend %look-details-stamp;
									@extend %look-reviewaggregate;
									@extend %look-details-tools;
								}
								.hproduct{
									.images{
										width: $ft-detalhes-w + 75;
										margin: {
											top: 0px;
											right: 0px;
											bottom: 0px;
											left: 65px;
										}
										position: relative;
										@extend %look-images-photo;
										@extend %look-images-zoom;
										@extend %look-images-thumbs;
										@extend %look-images-social;
									}
								}
								@extend %look-aside;
							}
							.section{
								@extend %look-list-product;
							}
							@extend %product-lognpage;
							@extend %product-combo;
							@extend %look-suggestions;
							@extend %product-full-description;
							@extend %product-facebook;
							@extend %product-opinion;
						}
						@extend %product-opinion;
					}
				}
			}
		}
	}
}
