  /* -----------------------------------------------------------------------------*/
 /* --------------------------*>>> PRESENTE <<<----------------------------------*/
/* -----------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/


//Components -----------------------------------------------------------------------/


//Style -----------------------------------------------------------------------------/
body{
	&.checkout{
		.main-content{
			h1{
				@extend %placeholder-h1;
			}
			.gift{
				ul{
					li{
						&.box{
							background: #FFF;
							.figure{
								width: 120px;
								.url{
									img{
										//hack important utilizado para sobrepor
										//o estilo inline deste elemento
										width: 120px !important;
										height: auto !important;
									}
								}
							}
						}
					}
				}
				.message{
					width: 430px;
				}
				.actions{
					a{
						@extend %bt-basket-presente-fechar;
					}
				}
			}
		}
	}
}

