/* inicio - Footer */
div#footer {
	.container {
		> * {
			@include order(20);
		}
		.group  {
			@include order(6);
		}
		.collum {
			&.payment {
				@include order(6);
			}

			&.social {
				@include order(2);
			}

			&.ajuda {
				@include order(4);
			}
			&.group  {
				@include order(5);
			}

			&.institucional {
				@include order(3);
			}

			&.security {
				@include order(6);
			}

			&.info-cli {
				@include order(7);
			}

			&.copy {
				@include order(20);
			}

		}

	}

	.container {
		.newsletter {
			background: #2e2e2e;
			padding: 40px 30px;
			margin-bottom: 15px;

			.tit {
				display: block;
				padding: 27px 0 0;
				height: 50px;
				background: url("/static/locales/global/img/tit_zinco-news.png") no-repeat;
				float: left;
				color: #fff;
				font-family: $font-custom;
				margin: 0;
				font-size: 14px;
				text-align: center;
			}

			.field {
				&.first {
				}

			}

			input {
				@include box-sizing;
				background: #434343;
				border: 0;
				height: 30px;
				width: 310px;
				color: #fff;
				border-bottom: 1px solid #fff;
				padding: 0 15px;
				border-radius: 0;
			}

			.btn {
				@include box-sizing;
				float: left;
				border-radius: 0;
				background: #2e2e2e;
				border: 2px solid #fff;
				width: 100%;
				height: 30px;
				margin: 5px 0 0;
				color: #fff;
				font-size: 12px;
			}

		}
        .group {
        	padding: 0 24px 20px;
            .tit {
                display: block;
                width: 175px;
                height: 45px;
                background: url("/static/locales/global/img/logo_group.png") no-repeat;
                text-indent: -9000px;
                float: left;
                margin-right: 20px;
            }
            .gr {
                float: left;
                font-family: $font-custom;
                color: #5a5a5a;
                strong {
                    font-weight: normal;
                    display: block;
                    padding-bottom: 5px;
                }
                a {
                    display: inline-block;
                    background: url("/static/locales/global/img/logo_group.png") no-repeat;
                    background-position: -197px -20px;
                    text-indent: -9000px;
                    width: 100px;
                    height: 17px;
                    margin-right: 5px;
                    &.logo2 {
                        width: 56px;
                        background-position: -305px -20px;
                    }
                    &.logo3 {
                        width: 51px;
                        background-position: -373px -20px;
                    }
                }
            }
        }
        .info-cli {
        	text-align: center;
        	font-family: $font-custom;
        }
    	.copy {
			position: absolute;
			bottom: 5px;
			width: 139px;
			right: 0;
		}

		.collum {
			width: 100%;
			padding: 0 0 10px 24px;
			.title {
				font-weight: bold;
				font-size: 12px;
				font-family: $font-custom;
				color: #000;
			}
			&.institucional,
			&.ajuda {
				li {
					float: left;
					margin-right: 10px;
					a {
						color: #5a5a5a;
						font-size: 13px;
						font-family: $font-custom;
					}
					&:nth-child(2n-1) {
						clear: left;
					}
				}
			}
			&.payment {
				margin-bottom: 20px;
				.title {
					display: block;
				}
				.cards {
					background: url("/static/locales/global/img/sprite_pagamentos.png") no-repeat;
                    width: 271px;
                    height: 23px;
                    display: block;
				}
			}

			&.security {
				text-align: center;
				margin: 0 0 0 14px;
			}

			&.social {
                top: 102px;
                left: auto;
                right: 0;
                ul li {
                    margin-left: 10px;
                    margin-right: 0;
                    vertical-align: top;
                    &:first-child {
                        margin-left: 0;
                    }
                    &.ico a {
                        text-indent: -9000px;
                        display: block;
                        background: url("/static/locales/global/img/ico_redes.png") no-repeat;
                        width: 34px;
                        height: 34px;
                    }
                    &.facebook a {
						background-position: 0 0;
                    }
                    &.twiiter a {
                        background-position: -41px 0;
                    }
                    &.instagram  a {
                        background-position: -84px 0;
                    }
                    &.youtube a {
                        background-position: -125px 0;
                    }
                    &.pinterest a {
                        background-position: -167px 0;
                    }
                }
            }
		}

	}

}

/* fim    - Footer */