html,
body,
#frm {
    font-family: $font-base;
}
span.go-top-btn {
	opacity: 1;
	background: $color-theme;
	overflow: hidden;
	text-align: center;
	border-radius: 40px;
	&::before {
		content: "\f077";
		display: inline-block;
		color: #fff;
		font-family: "FontAwesome";
		font-size: 24px;
		line-height: 35px;
	}
}
/* inicio - Banners */
	body {
	    .banners.full li a {
	        display: block;
	        background-repeat: repeat-x !important;
	    }

	    .banners.b-main .posicao2,
	    .banners.b-main-mobile .posicao2 {
	        width: 100%;
	    }
	    .banners.b-top,
	    .banners.b-main, 
	    .banners.b-main-mobile {
	    	padding: 0 0 10px;
	    }
	    .banners.b-main .posicao1, .banners.b-main-mobile .posicao1 {
	    	padding: 0 0 10px;
	    }
	    &.home #main .container,
		&.catalog #main .container,
		&.vitrine #main .container {
			padding-top: 60px;
		}
	    #main .banners + .container {
	    	padding-top: 0 !important;
	    }
	}
/* fim    - Banners */

/* inicio - Titulos */
	.section {
		h2 {
			@extend %title-vitrine;
		}
	}
	.prod-view {
		.title {
			@extend %title-vitrine;
		}
	}
/* fim - Titulos */

/* inicio - Lista de Produtos */
	body {
	    .list-products {
	        li {
        		.details {
        			.name {
						@extend %product-name;
        			}
        			.offers {
        				.regular {
        					@extend %product-price-from;
        				}
        				.price {
        					@extend %product-price-to;
        				}
        				.percent-a-vista {
		                    @extend %product-price-offer;
		                }
        			}
        			.parcel {
        				@extend %product-parcel;
        			}
        			.stamp {
        				@extend %product-stamp;
        			}

        			.btn.buy {
        				@extend %btn-listproduct-buy;
        			}
        			.reviewaggregate {
        			     @extend %placeholder-reviewaggregate;
        			}
        		}
        		.tools {
        		    @extend %product-skus;
        		}
	        }
	    }
	}
/* fim    - Lista de Produtos */

/* inicio - Filtros*/
	 .content .filters {
		> fieldset ul li a.selected {
			color: $link-color;
		}
	 }
	 html body:not(.institucional) .aside .block a:before, 
	 html body:not(.institucional) .catalog-filters .block a:before, 
	 html body:not(.institucional) .catalog-filters .content-filters .horizontal-list a:before, 
	 html body:not(.institucional) .aside .block span:before, 
	 html body:not(.institucional) .catalog-filters .block span:before, 
	 html body:not(.institucional) .catalog-filters .content-filters .horizontal-list span:before {
		color: $link-color;
	 }
	 .field.itens-page {
	 	display: none;
	 }
	 .m-btn-order u {
	 	display: none;
	 }
/* fim    - filtros*/

/* inicio - Confirmacao */
    html {
    	.confirmacao {
    		.request .collum .info .title strong, 
    		.request .collum .info .number strong {
    			color: $link-color;
    		}
    	}
    }
/* fim    - Confirmacao */