/* inicio - Checkout */
	html {
	    .checkout.close .main-content #BlocoNP .field input[type=text] {
	        /*campo cpf*/
	        border: 1px solid #000 !important;
	        padding: 5px;
	        margin: 0 auto;
	    }

	    body .service-basket .services tr td label {
	        width: calc(100% - 30px);
	    }
	    body .service-basket tr#trScheduling td label {
	    	max-width: calc(100% - 58px);
	    }
	    body #main .service-basket #tbScheduling input {
	    	border: 1px solid #000;
	    }
	    body .form-new-card .field.full label>img {
			width: 25px;
	    }    
	}
/* fim 	  - Checkout */

/* inicio - Cadastro */
	html {
		.register {
			.actions {
				padding: 0;
			}
		}
	}
/* Fim    - Cadastro */

/* inicio - Afiliados */
body {
	&.institucional.internal {
		.nav {
			.block {
				.title {
					color: $color-theme;
					border-bottom: 1px solid  #b3b3b3;
				}
				ul {
					li {
						a::before {
							color: $color-theme;
						}
					}
				}
			}
		}
	}
}
/* fim    - Afiliados */