/* inicio - Checkout */
	html {
	    body .login .collum fieldset .title {
	        font: bold 17px $font-custom, Arial, Sans-serif;
	        color: #303030;
	        text-transform: uppercase;
	    }

	    .login .collum .remember {
	        margin-top: 20px;
	    }

	    .checkout.close .main-content #BlocoNP .field input[type=text] {
	        /*campo cpf*/
	        border: 1px solid #000 !important;
	        padding: 5px;
	        margin: 0 auto;
	    }

	    body .service-basket .services tr td label {
	        width: calc(100% - 30px);
	    }
	    body .service-basket tr#trScheduling td label {
	    	max-width: calc(100% - 58px);
	    }
	    body #main .service-basket #tbScheduling input {
	    	border: 1px solid #000;
	    }
	    body .form-new-card .field.full label>img {
			width: 25px;
	    }    
	}
/* fim 	  - Checkout */

/* inicio - Cadastro */
	html {
		.register {
			.actions {
				padding: 0;
			}
		}
	}
/* Fim    - Cadastro */

/* inicio - Institucional */
	html {
	    .institucional .nav > ul .box h2 {
	        color: $color-theme;
	    }

	    .institucional .nav > ul .box ul li a:before,
	    .sitemap #main_content .col > ul li a:before {
	        color: $color-theme;
	    }

	    .sitemap #main_content .col > strong {
	        color: $color-theme;
	    }
	    .internal {
	        .return .buy {
	            @extend %btn-faleconosco-comprar-produtos;
	        }
	        &.institucional .form .actions .btn {
	        	@extend %btn-faleconosco-enviar;
	        }
	    }

	}
/* fim 	  - Institucional */

/* inicio - Afiliados */
body {
	&.institucional.internal {
		.nav {
			.block {
				.title {
					color: $color-theme;
					border-bottom: 1px solid  #b3b3b3;
				}
				ul {
					li {
						a::before {
							color: $color-theme;
						}
					}
				}
			}
		}
	}
}
/* fim    - Afiliados */