  /* -----------------------------------------------------------------------------------*/
 /* ----------------------------*>>> CATALOGO <<<--------------------------------------*/
/* -----------------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/

//Components -----------------------------------------------------------------------/
%catalog-breadcrumb{
	@extend %placeholder-breadcrumb;
	#breadcrumbs{
		text-transform: capitalize;
		a,
		h1{
			&:after{
				display: none;
			}
		}
		border-bottom: 1px solid #DEDEDE;
	}
}
%catalog-filters{
	.filters{
		background: #F4F4F4;
		fieldset{
			> select{
				display: none;
			}
			> ul{
				display: block !important;
			}
		}
		.title{
			@extend %text-filter-ordernar-por;
		}
		.m-btn-order{
			@extend %text-filter-ordernar-por;
			border: 1px solid transparent;
			position: relative;
			top: 1px;
			z-index: 15;
		}
		&.active{
			> span{
				border:{
					top: 1px solid $color-theme-1;
					right: 1px solid $color-theme-1;
					bottom: 1px solid #FFF;
					left: 1px solid $color-theme-1;
				}
				background: #FFF;
			}
		}
		fieldset{
			border: 1px solid $color-theme-1;
			background: #FFF;
			ul{
				li{
					a{
						@extend %text-filter-opts;
						&.selected{
							@extend %text-filter-opts;
						}
					}
				}
			}
			.itens-page{
				background: #FFF;
				span{
					@extend %text-filter-ordernar-por;
				}
			}
		}
	}
}
%catalog-filters-details{
	.filter-details{
		.open-mob-filters{
			@extend %text-filter-ordernar-por;
			border: 1px solid #F4F4F4;
			top: 1px;
			z-index: 15;
			&.active{
				border:{
					top: 1px solid $color-theme-1;
					right: 1px solid $color-theme-1;
					bottom: 1px solid #FFF;
					left: 1px solid $color-theme-1;
				}
				background-color: #FFF;
			}
		}
		> p{
			display: none;
			text-transform: uppercase;
			@extend %text-filter-ordernar-por;
			strong{
				@extend %text-filter-ordernar-por;
			}
		}
		.compare{
			@include bt-default();
			display: none;
		}
	}
}
%catalog-aside{
	.aside{
		border: 1px solid  $color-theme-1;
		background: #FFF;
		.nav{
			.filters{
				.title{
					@extend %text-aside-title;
				}
				fieldset{
					#pFilters{
						@extend %text-aside-subtitle;
					}
					> ul{
						> li{
							span{
								display: block;
								width: 100%;
								@extend %text-aside-item;
								& + span{
									width: auto;
								}
								.delete{
									@include imgbt(bt-aside-excluir, png, 17, 17);
								}
							}
						}
					}
				}
			}
			.block{
				.title{
					@extend %text-aside-title;
				}
				> ul{
					> li{
						> span{
							@extend %text-aside-subtitle;
							&:before{
								color: #000;
							}
						}
						ul{
							> li{
								@extend %text-aside-item;
								a{
									@extend %text-aside-item;
									&:before{
										color: #000;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
%catalog-pagination{
	@extend %placeholder-catalog-pagination;
	.filter-details{
		& + div.pagination{
			text-align: center;
			position: relative;
			top: -1px;
			right: 0;
		}
	}	
	.pagination{
		background: #F4F4F4;
		text-align: center;
		ul{
			.numbers{
				a{
					border: 0px;
					background: transparent;
				}
			}
			.next,
			.prev{
				top: -12px;
				height: 18px;
			}
		}
	}
}
%catalog-see-category{
	.see-category{
		@include fonte($font-def, normal, 12px, $color-theme-1);
		text-transform: uppercase;
		&:before{
			color: $color-theme-1;
		}
	}
}
%catalog-list-prod-quantity{
	.txtQuantity{
		position: relative;
		*{
			width: 100%;
		}
		&:before{
			content: " ";
			display: block;
			width: $ft-vitrine-w + 20;
			border-bottom: 1px solid #D6D6D6;
			margin-bottom: 10px;
			margin-left: -11px;
		}
		.lbl-quantity{
			@include fonte($font-def, 400, 12px, #646464);
		}
		.ipt-quantity{
			@include box-sizing();
			height: 30px;
			width: 100%;
		}
	}
}
%catalog-show-one{
	&.show-one{
		> li{
			padding: 0px;
			.tools{
				padding: 10px;
			}
		}
	}
}

//Style --------------------------------------------------------------------------/
body{
	&.catalog,
	&.vitrine,
	&.look,
	&.vitrine-look{
		#main{
			.container{
				@extend %catalog-aside;
				.content{
					@extend %catalog-breadcrumb;
					@extend %catalog-filters;
					@extend %catalog-filters-details;
					@extend %catalog-pagination;
					.main-content{
						.list-products{
							@extend %catalog-show-one;
							.hproduct{
								@extend %placeholder-mobile-hproduct;
								.figure{
									@extend %placeholder-mobile-list-prod-photo;
								}
								.tools{
									.owl-controls{
										margin-top: -21px;
									}
								}
								.details{
									text-align: center;
									.link{
										@extend %placeholder-list-prod-name;
										@extend %placeholder-list-prod-offers;
										@extend %placeholder-list-prod-parcel;
									}
									@extend %placeholder-reviewaggregate;
									.reviewaggregate,
									.compare,
									.see-more{
										display: none;
									}
								}
								@extend %catalog-list-prod-quantity;
								@extend %placeholder-list-prod-buy;
								.buy{
									&.btn{
										display: none;
									}
								}
								@extend %placeholder-list-prod-indisponivel;
								@extend %placeholder-mobile-list-prod-compare;
							}
						}
						@extend %catalog-see-category;
					}
				}
			}
		}
	}
	&.look,
	&.vitrine-look{
		#main{
			.container{
				.content{
					.main-content{
						.list-products{
							.hproduct{
								.details{
									.link{
										@extend %placeholder-list-prod-look-offers;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}