/* ------------------------------------------------------*/
/* -----------------*>>> CONFIRMACAO <<<----------------*/
/* ----------------------------------------------------*/

body{
	&.confirmacao{
		background: #FFF;
		.container{
			.content{
				.main-content{
					h1{
						@extend %placeholder-h1;
						display: block;
						text-align: left;
						width: 100%;
					}
					.request{
						.box{
							float: none;
							.info{
								.title{
									span{
										@extend %text-confirm-num-title;
										strong{
											@extend %text-confirm-num-title;
										}
									}
								}
								.number{
									strong{
										@extend %text-confirm-number;
									}
									& + span{
										@extend %text-checkout-general-span;
										a{
											@extend %text-checkout-general-strong;
										}
									}
								}
								#spaWarning{
									@extend %text-checkout-general-span;
								}
								.actions{
									a{
										@extend %bt-confirmacao-imprimir;
									}
								}
								> ul{
									li{
										@extend %text-checkout-general-span;
										strong{
											@extend %text-checkout-general-strong;
										}
									}
								}
								.warning{
									color: #000;
								}
								#bannerEbit{
									display: none;
								}
							}
						}
					}
					.box-right{
						.basket{
							@extend %basket-tbody-description;
							@extend %basket-tbody-unit-subtotal;
							.info{
								td{
									background: #FFF;
									@extend %text-basket-tfoot-info-subtotal;
									&#tdSubtotal{
										@extend %text-basket-tfoot-info-title;
									}
								}
							}
						}
					}
					#divEndCobranca{
						.info{
							.titulo{
								@extend %placeholder-h2;
							}
							.name{
								@extend %text-enderecos-name;
								b{
									@extend %text-enderecos-name;
								}
							}
							.adr{
								span{
									@extend %text-enderecos-info;
									strong{
										@extend %text-enderecos-info-strong;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}