/* ---------------------------------------------------------------------*/
/* -------------------------*>>> LOOK DETALHE <<<---------------------------*/
/* -------------------------------------------------------------------*/

// Config ----------------------------------------------------------------------------------/

// Components -----------------------------------------------------------------------------/
%look-details-offers{
	.offers{
		&#lblOffer{
			height: auto;
			width: 100%;
			text-align: center;
			margin-bottom: 5px;
			span{
				&.regular:not(.desconto-avista),
				&.sale{
					@include box-sizing();
					margin: 0px 5px;
					display: inline-block;
					width: auto;
					height: auto;
					line-height: 20px;
					vertical-align: middle;
					text-align: center;
					em{
						line-height: 20px;
					}
				}
				&.regular:not(.desconto-avista){
					@extend %text-det-prod-offers-preco-de;
					padding: 0px;
					margin-left: 0px;
					margin-top: -6px;
					em{
						@extend %text-det-prod-offers-preco-de;
					}
					span{
						@extend %text-det-prod-offers-preco-de;
					}
				}
				&.sale{
					margin-left: 0px;
					em{
						@extend %text-det-prod-offers-preco-por;
					}
					strong{
						@extend %text-det-prod-offers-preco-por;
						span{
							@extend %text-det-prod-offers-preco-por;
						}
					}
				}
			}
		}
	}
}
%look-details-desconto-a-vista{
	.desconto-avista{
		display: block;
		width: 100%;
		text-align: center;
		span{
			@extend %text-det-prod-percent-a-vista-normal;
			em{
				@extend %text-det-prod-percent-a-vista-normal;
				&.value-percentage{
					@extend %text-det-prod-percent-a-vista-strong;
				}
			}
			&.preco-avista{
				@extend %text-det-prod-percent-a-vista-strong;
			}
		}
	}
}
%look-details-parcel{
	@extend %product-details-parcel;
	#lblParcel{
		&.parcel{
			text-align: center;
			width: 100%;
			height: auto;
			text-transform: uppercase;
			display: block;
			span{
				font-size: 14px;
				letter-spacing: 2px;
				strong{
					font-size: 14px;
					letter-spacing: 2px;
				}
			}
		}
	}
}
%look-small-description{
	.description{
		@include fonte($font-def, normal, 12px, $color-theme-2);
	}
}
%look-aside-bt-buy{
	.buy{
		@extend %bt-look-comprar-selecionados;
	}
}
%look-aside-pieces-offers{
	.offers{
		.price-from{
			@extend %text-list-prod-price-reg;
			em,
			span{
				@extend %text-list-prod-price-reg;
			}
		}
		.price-to{
			@extend %text-list-prod-price-sale;
			em,
			span{
				@extend %text-list-prod-price-sale;
			}
		}
		.desconto-avista{
			&.percent-a-vista{
				span{
					@extend %text-det-prod-percent-a-vista-normal;
					em{
						@extend %text-det-prod-percent-a-vista-normal;
						&.value-percentage{
							@extend %text-det-prod-percent-a-vista-strong;
						}
					}
					&.preco-avista{
						@extend %text-det-prod-percent-a-vista-strong;
					}
				}
			}
		}
	}
}
%look-aside{
	.aside{
		@extend %look-aside-bt-buy;
		.pieces{
			.title{
				@extend %text-look-aside-title;
				text-align: left;
			}
			li{
				height: auto !important;
				.info{
					@extend %text-look-aside-name;
					span{
						text-align: left;
					}
					#lblStamp{
						display: none;
					}
				}
				.field{
					.skus-cores{
						&.owl-carousel {
							width: 95px;
							padding-left: 20px;
							.owl-controls{
								width: 113px;
								position: absolute;
								margin-top: -22px;
								.owl-buttons{
									.owl-prev{
										left: -23px;
									}
								}
							}
						}
					}
				}
				@extend %placeholder-notifyme;
				.notifyme{
					position: relative;
					.send{
						width: 100%;
					}
				}
				.details{
					@extend %look-aside-pieces-offers;
					.regular{
						text-align: left;
					}
					.stamp{
						display: none;
					}	
				}
			}
			.select-look{
				@extend %bt-look-aside-bt-select-all;
			}
		}
	}
}



// Style ---------------------------------------------------------------------------------/
body{
	&.lookDetalhe{
		#main{
			.container{
				@extend %product-breadcrumb;
				.content{
					.main-content{
						#info-product{
							height: auto;
							padding: 0;
							min-height: auto !important;
						}
						.details{
							text-align: center;
							@extend %product-details-name;
							@extend %product-details-fab-cod;
							@extend %product-reviewaggregate;
							@extend %look-details-offers;
							@extend %look-details-desconto-a-vista;
							@extend %look-details-parcel;
							@extend %look-small-description;
							@extend %product-abas-description;
							@extend %product-details-social;
							@extend %product-details-stamp;
							@extend %product-details-info-prices;
							@extend %product-details-parcel;
							@extend %product-skusproduct;
							@extend %product-buy;
							@extend %product-details-tools;
						}
					}
				}
				@extend %look-aside;
				@extend %product-lognpage;
				@extend %product-combo;
				@extend %product-section-list-products;
			}
		}
	}
}
