
/* ---------------------------------------------------*/
/* -----------------*>>> FECHAMENTO <<<----------------*/
/* -------------------------------------------------*/
body{
	&.checkout{
		&.close{
			h2{
				@extend %placeholder-h2;
			}
			.main-content{
				h1{
					@extend %placeholder-h1;
					display: block;
					text-align: left;
					width: 100%;
				}
				padding: 10px;
				background-color: #FFF;
				.box-left{
					.address{
						.fl{
							.adr{
								span{
									@extend %text-checkout-general-span;
									&.name{
										@extend %text-checkout-general-strong;
									}
									strong{
										@extend %text-checkout-general-strong;
									}
								}
							}
							.actions{
								a{
									@extend %bt-close-change-adress;
								}
							}
						}
						.fr{
							.prazo{
								span{
									@extend %text-checkout-general-span;
								}
								strong{
									@extend %text-checkout-general-strong;
								}
							}
							.schedule{
								label{
									@extend %text-checkout-general-strong;
								}
							}
							.actions{
								a{
									@extend %bt-close-change-service;
								}
							}
						}
					}
					.conta-corrente{
						p{
							strong{
								color: $color-theme-1;
							}
						}
						.box{
							&.payment{
								.form{
									div{
										a{
											color: $color-theme-1;
										}
										p{
											color: $color-theme-1;
										}
									}
								}
								
							}
						}	
					}
					#pnlPagamentos{
						&.payment{
							.form{
								.option{
									.block{
										.flags{
											height: 50px;
										}
										.finish{
											a{
												@extend %bt-close-finish-with;
											}
										}
										.promo-credit{
											&.promo-credit-mycards{
												@include box-sizing();
												text-align: left;
												float: none;
												width: 100%;
												margin-left: 0px;
												strong{
													@extend %placeholder-heading-2;
													@include fonte($font-def, bold, 22px, $color-theme-1);
													text-transform: uppercase;
													padding-bottom: 10px;
													display: block;
													text-align: left;
												}
												p{
													@include fonte($font-def, normal, 16px, $color-theme-2);
													text-transform: uppercase;
												}
											}
										}
									}
								}
							}
						}
					}
				}
				#carrinho_container{
					.basket{
						@extend %basket-tbody-description;
						@extend %basket-tbody-unit-subtotal;
						.info{
							td{
								background: #FFF;
								@extend %text-basket-tfoot-info-subtotal;
								&#tdSubtotal{
									@extend %text-basket-tfoot-info-title;
								}
							}
						}
					}
				}
			}
		}
	}
}