  /* ------------------------------------------------------------------------*/
 /* --------------------------*>>> LOGIN <<<-------------------------------*/
/* ------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/


//Components -----------------------------------------------------------------------/


//Style -----------------------------------------------------------------------------/

/* LOGIN - GLOBAL ID *************************/
body{
	&.globalId,
	&.loginpage {
		.content{
			.main-content{
				.login{
					.collum{
						.title{
							@extend %placeholder-h1;
							background: none;
							height: auto;
							text-indent: 0;
						}
						.field{
							#txtSenha{
								
							}
							span{
								@extend %text-login-filed-spans;
							}
							input{
								padding: 8px !important;
								letter-spacing: 1px !important;
								color: #000 !important;
								border: 1px solid #000;
								&#txtCep1{
									
								}
							}
							a{
								&.enter{
									@extend %bt-login-entrar;
								}
								&.cadastre{
									@extend %bt-login-cadastro;
								}
								&.continue{
									@extend %bt-login-cadastro;
								}
							}
						}
						dl{
							dd{
								a{
									@extend %text-login-link-remember;
									padding: 0px;
								}
							}
						}
						.info-login{
							li{
								@extend %text-login-info-login;
							}
						}
					}
				}
			}
		}
	}
}
