/* ---------------------------------------------------------------------------------------*/
/* ------------------------*>>> PAGES - MEUS CARTÕES <<<---------------------------------*/
/* -------------------------------------------------------------------------------------*/

body{
	&.mycards{
		#main{
			.content{
				h1{
					@extend %placeholder-h1;
					border: 0px;
				}
				.main-content{
					.new-card{
						.form-new-card{
							.form-mycards{
								border: 1px solid #CCC;
								background: #FFF;
								.actions{
									.save{
										@extend %bt-mycards-save;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}