/* ---------------------------------------------------------------------------------------*/
/* ----------------------------*>>> LISTA DE DESEJOS <<<---------------------------------*/
/* -------------------------------------------------------------------------------------*/

//Config -----------------------------------------------------------------------------/


//Components -----------------------------------------------------------------------/
%wishlist-filter{
	.m-order-list{
		@include fonte($font-def, normal, 14px, $color-theme-1);
		border: 1px solid #FFF;
		position: relative;
		top: 1px;
		z-index: 15;
		&.active{
			border:{
				top: 1px solid $color-theme-1;
				right: 1px solid $color-theme-1;
				bottom: 1px solid #FFF;
				left: 1px solid $color-theme-1;
			}
			background: #FFF;
		}
	}
	.open-mob-wishlist{
		@include fonte($font-def, normal, 14px, $color-theme-1);
		border: 1px solid #FFF;
		position: relative;
		top: 1px;
		z-index: 15;
		&.active{
			border:{
				top: 1px solid $color-theme-1;
				right: 1px solid $color-theme-1;
				bottom: 1px solid #FFF;
				left: 1px solid $color-theme-1;
			}
			background-color: #FFF;
		}
	}
	.filter-wish{
		background: #FFF;
		border: 1px solid $color-theme-1;
		.search{
			@extend %bt-wishlist-filter-pesqusiar;
		}
	}
}
%wishlist-photo{
	.figure{
		margin-bottom: 20px;
	}
}
%wishlist-details{
	.details{
		.name{
			@extend %text-det-prod-name;
		}
		.cod,
		.brand{
			@extend %text-det-prod-fabcod;
		}
		.skus{
			@extend %text-det-prod-fabcod;
		}
		@extend %placeholder-reviewaggregate;
		.reviewaggregate{
			margin: 0px;
			width: 100%;
			.count{
				position: relative;
				left: 6px;
				top: -5px;
			}
		}
	}
}
%wishlist-details-box{
	.details{
		&.box{
			background: #FFF;
			position: relative;
			border: 1px solid #CCC;
			min-height: 220px;
			.added{
				a{
					position: absolute;
					right: 0px;
					top: 0px;
				}
			}
			.added,
			.situation{
				@extend %text-wishlist-added;
				a{
					@extend %text-wishlist-added;
				}
			}
		}
	}
}
%wishlist-details-box-offers{
	.details{
		&.box{
			.offers{
				text-align: left;
				width: 100%;
				span{
					@include box-sizing();
					margin: 0px 5px;
					display: inline-block;
					width: auto;
					height: auto;
					line-height: 20px;
					vertical-align: middle;
					text-align: left;
					em{
						line-height: 20px;
						text-transform: capitalize;
					}
					&.regular{
						@extend %text-det-prod-offers-preco-de;
						padding: 0px;
						margin-left: 0px;
						em{
							@extend %text-det-prod-offers-preco-de;
						}
						span{
							@extend %text-det-prod-offers-preco-de;
						}
					}
					&.sale{
						margin-left: 0px;
						@extend %text-det-prod-offers-preco-por;
						strong{
							@extend %text-det-prod-offers-preco-por;
							span{
								@extend %text-det-prod-offers-preco-por;
							}
						}
					}
					&.preco-avista{
						@extend %text-det-prod-percent-a-vista-normal;
						.value-sight,
						.value-percentage{
							@extend %text-det-prod-percent-a-vista-strong;
							display: inline-block !important;
						}
					}
				}
			}
			.parcel{
				@extend %text-det-prod-parcel;
				strong{
					@extend %text-det-prod-parcel-strong;
				}
			}
			.buy{
				@extend %bt-wishlist-comprar;
			}
		}
	}
}
//Style -----------------------------------------------------------------------------/
body{
	.container{
		@extend %catalog-aside;
		.main-content{
			@extend %wishlist-filter;
			#lblListaDesejos{
				li{
					@extend %wishlist-photo;
					@extend %wishlist-details;
					@extend %wishlist-details-box;
					@extend %wishlist-details-box-offers;
					@extend %placeholder-notifyme;
					.notifyme{
						label{
							span{
								width: 100%;
								&:before{
									display: block;
								}
							}
							input{
								height: 32px;
							}
						}
						.send{
							width: 100%;
						}
					}
					.coment{
						.message{
							display: block;
						}
					}
					fieldset{
						.actions{
							a{
								@extend %bt-wishlist-salvar;
							}
						}
					}
				}
				.error{
					.internal{
						.return {
							.buy{
								@extend %bt-wishlist-add-prod;
							}
						}
					}
				}
			}
		}
	}
}
