  /* ------------------------------------------------------------------------------------------*/
 /* ----------------------------*>>> CATALOGO - LOOK <<<--------------------------------------*/
/* ------------------------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/

//Components -----------------------------------------------------------------------/

//Style --------------------------------------------------------------------------/
body{
	&.look,
	&.vitrine-look{
		#main{
			@include box-sizing();
			width: $page-width;
			margin: 0px auto;
			padding: 0px;
			.container{
				@include box-sizing();
				width: $page-width;
				margin: 0px auto;
				padding: 0px;
				.banners{
					&.b-top{
						@extend %banner-cat-topo;
					}
					&.b-main{
						@extend %banner-cat-main;
					}
					&.b-bottom{
						@extend %banner-cat-bottom;
					}
				}
				.content{
					width: $cat-cont-w;
					float: right;
					margin: 0px;
					@extend %placeholder-breadcrumb;
					@extend %catalog-filters;
					@extend %placeholder-catalog-pagination;
					.main-content{
						.section{
							.list-products{
								> li{
									width: 33%; 
								}
								.hproduct{
									@extend %placeholder-hproduct;
									width: $ft-vitrine-w + 20;
									.figure{
										@extend %placeholder-list-prod-bt-quickview;
										@extend %placeholder-list-prod-look-photo;
									}
									.details{
										text-align: center;
										.link{
											@extend %placeholder-list-prod-name;
											@extend %placeholder-list-prod-look-offers;
											@extend %placeholder-list-prod-parcel;
										}
										@extend %placeholder-reviewaggregate;
										@extend %placeholder-list-prod-buy;
										.btn{
											&.buy{
												display: none;
											}
										}
										@extend %placeholder-list-prod-compare;
										.see-more{
											display: none;
										}
									}
									@extend %placeholder-list-prod-indisponivel;
								}
								&.show-one{
									@extend %catalog-list-mode;
								}
							}
						}
					}
					@extend %catalog-vitrine;
				}
			}
		}
		.history{
			float: left;
		}
	}
}