  /* -----------------------------------------------------------------------------*/
 /* --------------------------*>>> COMPARE <<<----------------------------------*/
/* -----------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/


//Components -----------------------------------------------------------------------/


//Style -----------------------------------------------------------------------------/
body{
	&.comparepage{
		.hproduct{
			background: #FFF;
			table{
				&.compare{
					thead{
						th{
							.figure{
								.photo{
									width: 100%;
									height: auto;
									border: 0px;
								}
							}
						}
					}
					tbody{
						tr{
							td{
								&.product{
									background: #FFF;
									.details{
										@extend %placeholder-list-prod-offers;
										@extend %placeholder-list-prod-parcel;
									}
									.unavailable{
										color: $color-theme-1;
									}
								}
								&.legend{
									background: #FFF;
								}
								.btn{
									&.ir{
										&.delete{
											@include bt_default(#000);
											@include fonte($font-def, normal, 12px, #FFF);
											padding: 0px 15px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}