/* ------------------------------------------------------*/
/* -----------------*>>> CONFIRMACAO <<<----------------*/
/* ----------------------------------------------------*/

body{
	&.confirmacao{
		background: #FFF;
		.container{
			.content{
				.main-content{
					h1{
						@extend %placeholder-h1;
						display: block;
						text-align: left;
						width: 100%;
					}
					.request{
						.box{
							float: none;
							.info{
								span{
									color: $color-theme-1;
								}
								.actions{
									a{
										@extend %bt-confirmacao-imprimir;
									}
								}
								.warning{
									color: #000;
								}
								#bannerEbit{
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}