/* ----------------------------------------------------------------------------*/
/* -------------------------*>>> DETALHE - LOOK <<<---------------------------*/
/* --------------------------------------------------------------------------*/

// Config ----------------------------------------------------------------------------------/
$look-aside-w: 380px;
$look-blocks-margin: 20px;
$look-hproduct-w: $page-width;
$look-hproduct-details-w: ($look-hproduct-w -  $look-detalhes-w - $look-blocks-margin);

// Components -----------------------------------------------------------------------------/
%look-images-photo{
	.photo{
		width: $look-detalhes-w;
		height: $look-detalhes-h;
		.MagicZoom{
			width: $look-detalhes-w;
			height: $look-detalhes-h;
			> img{
				width: $look-detalhes-w;
				height: $look-detalhes-h;
			}
		}
		.MagicZoomHeader{
			display: none;
		}
		.MagicZoomBigImageCont{
			border: 1px solid #CCC;
		}
	}
}
%look-images-zoom{
	@extend %product-images-zoom;
	.zoom{
		width: $look-detalhes-w;
		.click{
			display: none;
		}
	}
}
%look-images-thumbs{
	@extend %product-images-thumbs;
	.thumbs{
		li,
		&#videoDetalhe{
			margin-top: 10px;
			width: ($look-detalhes-w / 6) - 10;
			img{
				width: ($look-detalhes-w / 6) - 10;
			}
		}
	}
}
%look-images-social{
	@extend %product-images-social;
	.social{
		width: $look-detalhes-w;
		.media{
			&.invite{
				display: none;
			}
		}
	}
}
%look-details-name{
	@extend %product-details-name;
	.name{
		@include box-sizing();
		float: none;
		width: 50%;
	}
}
%look-details-fab-cod{
	@extend %product-details-fab-cod;
	.fab-cod{
		@include box-sizing();
		float: none;
		width: 50%;
		margin: 0px;
	}
}
%look-reviewaggregate{
	@extend %product-reviewaggregate;
	.reviewaggregate{
		@include box-sizing();
		float: none;
		width: 100%;
		text-align: left;
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		*{
			display: inline-block;
		}
		#hplAmountAssessments{
			width: auto;
			float: none;
			display: inline-block;
			position: relative;
			top: -6px;
		}
	}
}
%look-details-offers{
	@extend %product-details-offers;
	.offers{
		&#lblOffer{
			@include box-sizing();
			width: auto;
			height: auto;
			text-align: right;
			float: right;
			span{
				display: inline-block;
				strong{
					display: inline-block;
					span{
						display: inline-block;
					}
				}
				em{
					display: inline-block;
				}
				&.regular{
					text-align: right;
					*{
						text-decoration: line-through;
					}
				}
				&.sale{
					text-align: right;
					margin: 0px;
					em{
						position: relative;
						top: 3px;
					}
					.converted-price{
						margin: 0px;
					}
				}
			}
			.desconto-avista{
				text-decoration: none !important;
				width: 100%;
			}
		}
	}
}
%look-details-parcel{
	@extend %product-details-parcel;
	#lblParcel{
		&.parcel{
			text-align: right;
			width: 100%;
		}
	}
}
%look-details-resumo-desc{
	.description{
		display: none;
		padding: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		border: 0px;
		margin: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		@include fonte($font-def, normal, 12px, $color-theme-2);
		strong{
			@include fonte($font-def, bold, 12px, $color-theme-2);
		}
		a{
			@include fonte($font-def, bold, 12px, $color-theme-1);
		}
	}
}
%look-details-tools{
	@extend %product-details-tools;
	.tools{
		padding-top: 0px;
		margin-left: 0px;
		margin-top: 0px;
		li{
			width: 100%;
			text-align: left;
			margin-bottom: 5px;
			&#liAvalie{
				display: none;
			}
		}
	}
}
%look-aside-bt-buy{
	.buy{
		@extend %bt-look-comprar-selecionados;
		position: absolute;
		right: 0px;
		&#hplBuy{
			bottom: 71px;
		}
	}
}
%look-aside-pieces{
	background: #FFF;
	border: 1px solid #FFF;
	@include border-radius();
	margin: {
		top: 0px;
		right: 0px;
		bottom: 10px;
		left: 0px;
	}
}
%look-aside-pieces-title{
	.title{
		@include box-sizing();
		@include fonte($font-alt-1, normal, 20px, #373435);
		text-transform: uppercase;
		background: transparent;
		margin-bottom: 10px;
		padding: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 15px;
		}
		border: 0px;
	}
}
%look-aside-pieces-figure{
	.figure{
		width: $look-thumb-w;
		height: $look-thumb-h;
		a{
			width: $look-thumb-w;
			height: $look-thumb-h;
			img{
				width: $look-thumb-w;
				height: $look-thumb-h;
				border: 0px !important;
			}
		}
	}
}
%look-aside-pieces-name{
	@extend %placeholder-list-prod-name;
	.name{
		@include fonte($font-def, normal, 13px, #373435);
		text-align: left;
		background: transparent;
		label{
			span{
				@include fonte($font-def, normal !important, 13px !important, #373435);
				text-align: left;
				width: auto;
			}
		}
	}
}
%look-aside-pieces-offers{
	@extend %look-details-offers;
	.offers{
		.regular{
			*{
				font-size: 11px !important;
			}
		}
		.sale{
			*{
				font-size: 14px !important;
			}
		}
	}
}
%look-aside-bt-select-all{
	.select-look{
		@extend %bt-look-aside-bt-select-all;
	}
}
%look-aside{
	.aside{
		@include box-sizing();
		margin: 0px;
		top: 300px;
		width: 730px;
		float: right;
		border-bottom: 1px solid #DCDBD9;
		@extend %look-aside-bt-buy;
		.pieces{
			@extend %look-aside-pieces;
			@extend %look-aside-pieces-title;
			ul{
				margin: 0px;
				text-align: left;
				overflow: hidden;
				li{
					@include box-sizing();
					background: none;
					border: 10px solid #FFF;
					width: 48%;
					float: left;
					@extend %look-aside-pieces-figure;
					.info{
						@extend %look-aside-pieces-name;
						#lblStamp{
							display: none;
						}
						.field{
							label{
								> span{
									@include fonte($font-def, normal, 13px, $color-theme-1);
								}
								@extend %placeholder-sku-carousel;
								.jcarousel-skin-tango {
									width: 158px;
									margin-left: 30px;
									.owl-controls{
										.owl-buttons{
											position: absolute;
											top: -4px;
											.owl-prev{
												left: -30px;
											}
											.owl-next{
												left: 160px !important;
											}
										}
									}
								}
							}
						}
						@extend %placeholder-notifyme;
						.notifyme{
							@include box-sizing();
							width: 100%;
							overflow: hidden;
							position: relative;
							.notifyLabel{
								&:before{
									display: none;
								}
								span{
									@include fonte($font-def, bold, 13px, #373435);
									text-transform: none;
									margin-bottom: 0px;
									padding-bottom: 0px;
								}
							}
							*{
								@include box-sizing();
							}
							label{
								*{
									width: 100%;
								}
								input{
									width: 100% !important;
								}
							}
							.send{
								margin-top: 5px;
							}
						}	
					}
					.details{
						width: 100%;
						@extend %look-aside-pieces-offers;
						.stamp{
							display: none;
						}
						@extend %placeholder-list-prod-indisponivel;
					}
				}
			}
		}
		@extend %look-aside-bt-select-all;
	}
}
%look-info-product{
	#info-product{
		@include box-sizing();
		width: $look-hproduct-w;
		margin: 0px;
		.collum{
			&.images{
				width: $look-detalhes-w;
				margin: 0px;
				position: relative;
				@extend %look-images-photo;
				@extend %look-images-zoom;
				@extend %look-images-thumbs;
				@extend %look-images-social;
			}
			&.details{
				width: $look-hproduct-details-w;
				margin-left: $look-blocks-margin;
				overflow: hidden;
				border-bottom: 1px solid #DCDBD9;
				margin-bottom: 20px;
				padding-bottom: 10px;
				.details-l{
					@include box-sizing();
					padding: 5px;
					float: left;
					width: 50%;
				}
				.details-r{
					@include box-sizing();
					padding: 5px;
					float: right;
					width: 50%;
				}
				@extend %product-details-name;
				@extend %look-details-fab-cod;
				@extend %look-reviewaggregate;
				@extend %look-details-offers;
				@extend %look-details-parcel;
				@extend %look-details-resumo-desc;
				@extend %look-details-tools;
			}
		}
	}
}
%look-list-product{
	.section{
		.list-products{
			.hproduct{
				width: $look-vitrine-w;
				.figure{
					@extend %placeholder-list-prod-bt-quickview;
					@extend %placeholder-list-prod-look-photo;
					img{
						border: 0px !important;
						width: $look-vitrine-w !important;
						height: $look-vitrine-h !important;
					}
				}
				.link{
					@extend %placeholder-list-prod-name;
					@extend %placeholder-list-prod-offers;
					.regular{
						span{
							color: $color-theme-2;
						}
					}
					.sale{
						strong{
							span{
								color: $color-theme-1;
							}
						}
					}
					@extend %placeholder-list-prod-parcel;
				}
				.reviewaggregate{
					display: none;
				}
				.buy{
					display: none;
				}
				.compare{
					display: none;
				}
				@extend %placeholder-list-prod-indisponivel;
			}
			&.show-one{
				@extend %catalog-list-mode;
			}
		}
	}
}
%look-suggestions{
	.section{
		border: 0px;
		&.suggestion{
			h2{
				@extend %placeholder-heading;
			}
			.list-products{
				@extend %placeholder-prod-by-row;
				li{
					width: 24%;
				}
				.hproduct{
					@extend %placeholder-hproduct;
					width: $ft-vitrine-w + 20;
					.figure{
						@extend %placeholder-list-prod-bt-quickview;
						@extend %placeholder-list-prod-look-photo;
					}
					.details{
						text-align: center;
						@extend %placeholder-list-prod-name;
						@extend %placeholder-list-prod-look-offers;
						@extend %placeholder-list-prod-parcel;
						@extend %placeholder-reviewaggregate;
						@extend %placeholder-list-prod-buy;
						@extend %placeholder-list-prod-compare;
						.see-more{
							display: none;
						}
					}
					@extend %placeholder-list-prod-indisponivel;
				}
				&.show-one{
					@extend %catalog-list-mode;
				}
			}
		}
	}
}

// Style ---------------------------------------------------------------------------------/
body{
	&.look{
		&.lookDetalhe{
			#main{
				@include box-sizing();
				width: $page-width;
				margin: 0px auto;
				padding: 0px;
				.container{
					@include box-sizing();
					width: $page-width;
					margin: 0px auto;
					padding: 0px;
					.content{
						@include box-sizing();
						width: $page-width;
						margin: 0px auto;
						padding: 0px;
						@extend %placeholder-breadcrumb;
						.main-content{
							.main-look{
								@extend %look-info-product;
								@extend %look-aside;
							}
							.section{
								@extend %look-list-product;
							}
							@extend %product-lognpage;
							@extend %product-combo;
							@extend %look-suggestions;
							@extend %product-full-description;
							@extend %product-facebook;
							@extend %product-opinion;
						}
						@extend %product-opinion;
					}
				}
			}
		}
	}
}
