/* ---------------------------------------------------------------------*/
/* -------------------------*>>> DETALHE <<<---------------------------*/
/* -------------------------------------------------------------------*/

// Config ----------------------------------------------------------------------------------/

// Components -----------------------------------------------------------------------------/
%product-images-photo{
	.photo{
		float: right;
		border: 0px !important;
		width: $ft-detalhes-w;
		height: $ft-detalhes-h;
		.main{
			width: $ft-detalhes-w;
			height: $ft-detalhes-h;
		}
		.MagicZoomHeader{
			display: none;
		}
		.MagicZoomBigImageCont{
			border: 1px solid #CCC;
		}
	}
}
%product-images-zoom{
	.zoom{
		@include box-sizing();
		margin:{
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		background: transparent;
		width: $ft-detalhes-w;
		height: 20px;
		overflow: hidden;
		float: right;
		.mouseover{
			padding-left: 0px;
			background: none;
			@include fonte($font-def, normal, 12px, #808080);
			line-height: 20px;
		}
		.click{
			font-size: 0px;
			color: transparent;
			height: 20px;
			line-height: 20px;
			&:before{
				content: "Ampliar";
				@include fonte($font-def, normal, 12px, $color-theme-2);
				@include bgimg(bt-zoom-icon, jpg);
				background-position: 0px 6px;
				padding-left: 15px;
				background-repeat: no-repeat;
				display: block;
				text-decoration: none;
				height: 20px;
				line-height: 18px;
			}
		}
	}
}
%product-images-thumbs{
	.thumbs{
		margin-top: 0px;
		@include box-sizing();
		width: auto;
		li,
		&#videoDetalhe{
			width: ($ft-detalhes-w / 6) - 10;
			height: auto;
			margin: 0px;
			margin-top: 0px;
			margin-right: 10px;
			img{
				width: ($ft-detalhes-w / 6) - 10;
				height: auto;
			}
		}
		&#videoDetalhe{
			margin-right: 0px;
		}
	}
}
%product-images-thumbs-vertical{
	.thumbs{
		margin-top: 0px;
		float: left;
		@include box-sizing();
		*{
			@include box-sizing();
		}
		width: ($ft-detalhes-w / 6) - 10;
		li{
			&#ajaxVideoDetail{
				border-color: transparent;
			}
			@include border-radius(0px);
			width: 100%;
			height: auto;
			margin: {
				top: 0;
				right: 0;
				bottom: 10px;
				left: 0px;
			}
			overflow: hidden;
			img{
				width: 100%;
				height: auto;
			}
		}
		&#videoDetalhe{
			margin: 0px;
			border: 0px;
		}
	}
}
%product-images-social{
	.social{
		margin:{
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		background: transparent;
		width: $ft-detalhes-w;
		height: 20px;
		overflow: hidden;
		float: right;
		.media{
			float: none;
			display: inline-block;
			width: auto; 
			line-height: 31px;
			height: 21px;
			&#Social_pnlGooglePlusButton{
				width: 60px;
			}
			&#Social_pnlTwitterButton{
				width: auto;
			}
		}
	}
}
%product-details-name{
	.name{
		@include fonte($font-def, normal, 20px, #373435);
		@include box-sizing();
		float: left;
		display: block;
		width: 455px;
		padding: {
			top: 5px;
			right: 5px;
			bottom: 10px;
			left: 0px;
		}
	}
}
%product-details-fab-cod{
	.fab-cod{
		@include box-sizing();
		float: left;
		display: block;
		width: 455px;
		padding: {
			top: 0;
			right: 5px;
			bottom: 5px;
			left: 0px;
		}
		li{
			@include fonte($font-def, normal, 11px, #808080);
			&:not(:first-child){
				border-left: 1px solid $color-theme-2;
			}
			a{
				@include fonte($font-def, normal, 11px, #808080);
			}
		}
	}
}
%product-details-resumo-desc{
	.description{
		display: none;
		padding: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		background: #FFF;
		border: 0px;
		border-top: 1px solid #DDDCDA;
		margin: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		@include fonte($font-def, normal, 12px, #808080);
		strong{
			@include fonte($font-def, normal, 12px, #808080);
			text-transform: uppercase;
		}
		a{
			@include fonte($font-def, normal, 12px, #373435);
			text-decoration: underline;
		}
	}
}
%product-details-tab-desc{
	#productTabs{
		.tab-link{
			h2{
				span{
					@include fonte($font-def, normal, 14px, #4F4F4F);
					text-transform: capitalize;
				}
			}
			#abaCaracteristica{
				span{
					color: transparent;
					font-size: 0px;
					&:after{
						content: "Medida da Peça";
						@include fonte($font-def, normal, 14px, #4F4F4F);
					}
				}
			}
		}
	}
}
%product-reviewaggregate{
	@extend %placeholder-reviewaggregate;
	.reviewaggregate{
		width: 126px;
		float: right;
		margin: {
			top: 5px;
			bottom: 5px;
			right: 0px;
			left: 0px;
		}
		text-align: right;
		border: 0px;
		#hplRating,
		.count{
			display: inline-block;
			float: none;
			margin-bottom: 0px;
			.value{
				@include fonte($font-def, normal, 11px, #808080);
				float: right;
				position: relative;
				top: -8px;

			}
		}
		#hplAmountAssessments{
			@include fonte($font-def, normal, 12px, $color-theme-2);
			background: none;
			text-indent: 0px;
			display: block;
			width: 100%;
			float: right;
		}
	}
}
%product-details-stamp{
	.stamp{
		#ulSelos,
		#lblOutros{
			a{
				float: right;
			}
		}
		#lblOutros{
			margin-top: 10px;
		}
	}
}
%product-details-offers{
	.offers{
		text-align: left;
		width: 60%;
		span{
			@include box-sizing();
			margin: 0px 5px;
			display: inline-block;
			width: auto;
			height: auto;
			line-height: 20px;
			vertical-align: middle;
			text-align: left;
			em{
				line-height: 20px;
				text-transform: capitalize;
			}
			&.regular{
				@include fonte($font-def, normal, 14px, #bebebe);
				text-transform: uppercase;
				text-decoration: line-through;
				padding: 0px;
				margin-left: 0px;
				em{
					@include fonte($font-def, normal, 14px, #bebebe);
					text-transform: capitalize;
					text-decoration: line-through;
				}
				span{
					@include fonte($font-def, normal, 14px, #bebebe);
					text-transform: uppercase;
					text-decoration: line-through;
				}
			}
			&.sale{
				margin-left: 0px;
				em{
					@include fonte($font-def, normal, 22px, $color-theme-2);
					text-transform: capitalize;
				}
				strong{
					@include fonte($font-def, normal, 22px, $color-theme-2);
					text-transform: uppercase;
					span{
						@include fonte($font-def, normal, 22px, $color-theme-2);
						text-transform: uppercase;
					}
				}
			}
		}
	}
}
%product-details-parcel{
	.parcel{
		span{
			@include fonte($font-def, bold, 22px, #373435);
			strong{
				@include fonte($font-def, bold, 22px, #373435);
				span{
					@include fonte($font-def, bold, 22px, #373435);
				}
			}
			b{
				@include fonte($font-def, normal, 22px, #373435);
			}
		}
	}
}
%product-details-save{
	.save{
		em{
			@include fonte($font-def, normal, 12px, #373435);
		}
		strong{
			@include fonte($font-def, bold, 12px, $color-theme-2);
		}
	}
}
%product-details-desconto-a-vista{
	.desconto-avista{
		@include fonte($font-def, normal, 14px, #4F4F4F);
	}
}
%product-details-sku{
	.skus-product{
		@include box-sizing();
		width: 100%;
		height: auto;
		border: 0px;
		background: transparent;
		.field{
			background: none;
			label{
				display: block;
				@include fonte($font-def, bold, 14px, #231F20);
				text-transform: uppercase;
				span{
					font-size: 0px;
					color: transparent;
				}
			}
			ul{
				li{
					margin-right: 8px;
					margin-bottom: 8px;
					overflow: visible;
					span{
						&.ico{
							@include border-radius(0px);
							top: auto;
							bottom: -1px;
							right: -4px;
						}
					}
					a{
						opacity: 1;
						width: $sku-cor-w;
						height: $sku-cor-h;
						line-height: $sku-cor-h;
						background: #FAF9F7;
						border: 1px solid #F1F1EF;
						overflow: hidden;
						@include fonte($font-def, normal, 12px, $color-text-1);
						img{
							width: $sku-cor-w;
							height: $sku-cor-h;
						}
					}
					&.selected,
					&:hover{
						opacity: 1;
						a{
							opacity: 1;
							border-color: #353535;
							background: #FFF;
							img{
								position: relative;
								top: 2px;
								left: 2px;
								width: $sku-cor-w  - 4;
								height: $sku-cor-h - 4;
							}
						}
					}
				}
			}
			.padrao-brasileiro{
				position: absolute;
				top: 130px;
				right: 20px;
				left: auto;
				p{
					a{
						@include bgimg(tool-icons, png);
						background-repeat: no-repeat;
						padding-left: 20px;
						@include fonte($font-def, normal, 12px, $color-theme-1);
						text-decoration: underline;
						line-height: 25px;
						height: 30px;
						display: block;
					}
				}
			}
		}
	}
}
%product-details-buy{
	#ProductBuy{
		width: 100%;
		height: auto;
		float: left;
		@include box-sizing();
		.action{
			.buy{
				@extend %bt-details-buy;
			}
		}
		@extend %placeholder-notifyme;
		.notifyme{
			width: 100%;
			.send{
				position: relative;
				left: 0px;
				margin-top: 0px;
				margin-left: 5px;
			}
		}
	}
}
%product-detaiils-quantity{
	#lblQuantity{
		@include box-sizing();
		padding: 0px 10px;
		width: 100%;
		float: left;
		.lbl-quantity{
			@include fonte($font-def, bold, 14px, #231F20);
			text-transform: uppercase;
		}
	}
}
%product-details-disponibilidade{
	.time{
		border: 0px;
		padding: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 10px;
		}
		text-align: left;
		background: #FAF9F7;
		@include fonte($font-def, normal, 13px, #373435);
		strong{
			@include fonte($font-def, normal, 13px, #373435);
		}
	}
}
%product-details-tools{
	.tools{
		width: 100%;
		text-align: center;
		padding: {
			top: 12px;
			right: 0px;
			bottom: 12px;
			left: 0px;
		}
		li{
			background: none;
			padding-left: 0px;
			list-style: none;
			text-align: left;
			width: auto;
			margin-right: 15px;
			@include fonte($font-def, normal, 13px, $color-theme-2);
			&.add{
				@include bgimg(tool-icons, png);
				background-position: 0px -68px;
				background-repeat: no-repeat;
				padding-left: 25px;
			}
			&.rate{
				@include bgimg(tool-icons, png);
				background-position: 0px -36px;
				background-repeat: no-repeat;
				padding-left: 25px;
			}
			&.delivery{
				@include bgimg(tool-icons, png);
				background-position: 0px -100px;
				background-repeat: no-repeat;
				padding-left: 25px;
			}
			a{
				@include fonte($font-def, normal, 13px, $color-theme-2);
				text-decoration: none;
			}
		}
	}
}
%product-lognpage{
	.longpage{
		@include fonte($font-def, normal, 12px, $color-theme-2);
	}
}
%product-combo{
	.combo,
	.promo{
		h2{
			@extend %placeholder-heading;
		}
		.list-products{
			li{
				@include bgimg(bt-more, png);
				background-repeat: no-repeat;
				background-position: 0% 70px;
				.hproduct{
					.figure{
						@include box-sizing();
						width: $ft-thumb-w;
						height: $ft-thumb-h;
						img{
							@include box-sizing();
							width: $ft-thumb-w;
							height: $ft-thumb-h;
							border: 0px !important;
						}
					}
					.details{
						width: $ft-thumb-w;
						text-align: center;
						@extend %placeholder-list-prod-name;
						.skus-cross{
							.field{
								select{
									border: 1px solid $color-text-1;
								}
							}
						}
						.availability{
							@include fonte($font-def, normal, 11px, $color-theme-2);
							text-transform: uppercase;
							text-align: left;
						}
					}
				}
				&.result{
					@include bgimg(bt-equal, png);
					background-repeat: no-repeat;
					background-position: 0% 70px;
					.details{
						@extend %placeholder-list-prod-offers;
						.offers{
							span{
								width: 100%;
								text-align: left;
								&.regular{

								}
							}
						}
						@extend %placeholder-list-prod-parcel;
						.parcel{
							text-align: left;
						}
						.buy{
							@extend %bt-details-combo-comprar-todos;
							margin-left: 0px;
						}
					}	
				}
			}
			&.double{
				li{
					width: 25%;
					&.result{
						width: 21%;
						padding-left: 59px;
						background-position: 2px 60px;
					}
				}
			}
		}
	}
	.combo{
		.list-products{
			li{
				.hproduct{
					.details{
						float: left;
						width: 110px;
						.name{
							text-align: left;
						}
						.skus-cross{
							.field{
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}
%product-suggestion{
	.section{
		border: 0px;
		&.suggestion{
			h2{
				@extend %placeholder-heading;
			}
			.list-products{
				.hproduct{
					width: 80%;
					.figure{
						@extend %placeholder-list-prod-bt-quickview;
						@extend %placeholder-list-prod-photo;
					}
					.link{
						@extend %placeholder-list-prod-name;
						@extend %placeholder-list-prod-offers;
						@extend %placeholder-list-prod-parcel;
					}
					.reviewaggregate{
						display: none;
					}
					.buy{
						display: none;
					}
					.compare{
						display: none;
					}
					@extend %placeholder-list-prod-indisponivel;
				}
			}
		}
	}
}
%product-full-description{
	.about{
		margin: {
			top: 10px;
			right: 0px;
			bottom: 10px;
			left: 0px;
		}
		background: #FFF;
		text-align: center;
		h2{
			@extend %placeholder-heading;
		}
		@include fonte($font-def, normal, 12px, $color-theme-1);
	}
}
%product-facebook{
	#facebookComments{
		.section{
			h2{
				@extend %placeholder-heading;
			}
		}
	}
}
%product-opinion{
	.opinion{
		h2{
			@extend %placeholder-heading;
		}
		.hreview{
			.vcard{
				strong{
					@include fonte($font-def, normal, 12px, $color-theme-2);
					text-transform: uppercase;
					.dtreviewed{
						@include fonte($font-def, normal, 12px, $color-theme-1);
						text-transform: uppercase;
					}
				}
				&.description{
					@include fonte($font-def, normal, 12px, $color-theme-2);
				}
			}
			@extend %placeholder-rating-opinion;
		}
	}
}


// Style ---------------------------------------------------------------------------------/

// PRODUTO **************/
body{
	&.product:not(.quickview){
		#main{
			@include box-sizing();
			width: $page-width;
			margin: 0px auto;
			padding: {
				top: 10px;
				right: 0;
				bottom: 0;
				left: 0;
			}
			.container{
				@include box-sizing();
				width: $page-width;
				margin: 0px auto;
				padding: 0px;
				.banners{
					&.b-top{
						@extend %banner-full-topo-detalhes;
					}
				}
				@extend %placeholder-breadcrumb;
				.content{
					.main-content{
						.collum{
							&.images{
								width: $ft-detalhes-w + 75;
								margin: 0px;
								position: relative;
								@extend %product-images-photo;
								@extend %product-images-zoom;
								@extend %product-images-thumbs-vertical;
								@extend %product-images-social;
							}
							&.details{
								width: ($page-width - $ft-detalhes-w) - 120px;
								float: right;
								.info-prices{
									border-bottom: 1px solid #DDDCDA;
									overflow: hidden;
									padding-bottom: 10px;
									margin-bottom: 10px;
								}
								@extend %product-details-name;
								@extend %product-details-fab-cod;
								@extend %product-reviewaggregate;
								@extend %product-details-stamp;
								@extend %product-details-resumo-desc;
								@extend %product-details-offers;
								@extend %product-details-desconto-a-vista;
								@extend %product-details-parcel;
								@extend %product-details-save;
								@extend %product-details-sku;
								@extend %product-details-buy;
								@extend %product-details-tab-desc;
								@extend %product-details-disponibilidade;
								@extend %product-details-tools;
								.tools{
									&.rate{
										display: none;
									}
								}
							}
						}
						@extend %product-lognpage;
						@extend %product-combo;
						@extend %product-suggestion;
						@extend %product-full-description;
						@extend %product-facebook;
						@extend %product-opinion;
					}
				}
			}
		}
	}
}