/* ---------------------------------------------------------------------------------------*/
/* ------------------------*>>> PAGES - INSTITUCIONAL <<<-------------------------------*/
/* -------------------------------------------------------------------------------------*/
body{
	&.institucional{
		#main{
			.container{
				.nav{
					background: #FFF;
					.box{
						background: #FFF;
						border: 1px solid #000;
						h2{
							@extend %placeholder-h2;
							padding-left: 0px;
						}
						a{
							&:hover{
								color:$color-theme-1;
							}
						}
					}
				}
				.main-content{
					a{
						color: $color-theme-1;
					}
				}
			}
			.form{
				&.box{
					.actions{
						.send{
							@include bt_default();
							@include fonte($font-def, bold, 14px, #FFF);
						}
					}
				}
			}
		}
	}
	/*Fale conosco */
	.return.text {
		a.btn.buy {
			@extend %bt-general-buy-more;
		}
	}

	/*Afiliados*/
	&.affiliates {
		.actions {
			.save {
				@include bt_default();
				@include fonte($font-def, bold, 14px, #FFF);
			}
		}
	}
	.reports {
		a.btn.ir.search {
			@include bt_default();
			@include fonte($font-def, bold, 14px, #FFF);
		}
	}
	&.partner {
		.actions {
			a.enter.ir {
				@include bt_default();
				@include fonte($font-def, bold, 14px, #FFF);
			}
		}
	}
}

/* Wishlist Buy More */
body{
	#lblListaDesejos{
		.error{
			.internal{
				.return {
					.buy{
						@include bt-default();
						@include fonte($font-alt-1, normal, 18px, #FFF);
						@include bgimg(icon-bt-buy-detalhes, jpg);
						background-color: $color-theme-1;
						background-repeat: no-repeat;
						text-transform: lowercase;
						line-height: 24px;
						padding: {
							top: 8px;
							right: 25px;
							bottom: 8px;
							left: 50px;
						}
						&:hover{
							@include bgimg(icon-bt-buy-detalhes, jpg);
							background-color: #B54956;
							background-repeat: no-repeat;
						}
					}
				}
			}
		}
	}
}