  /* ------------------------------------------------------------------------*/
 /* --------------------------*>>> LOGIN <<<-------------------------------*/
/* ------------------------------------------------------------------------*/


//Config -----------------------------------------------------------------------------/


//Components -----------------------------------------------------------------------/


//Style -----------------------------------------------------------------------------/

/* LOGIN - GLOBAL ID *************************/
body{
	&.globalId {
		background: #FFF;
		.content{
			.main-content{
				.login{
					.collum{
						.field{
							#txtSenha{
								width: 250px !important;
							}
							input{
								padding: 8px !important;
								letter-spacing: 1px !important;
								color: #000 !important;
							}
							a{
								&.enter{
									@extend %bt-login-entrar;
									position: relative;
									right: 14px;
								}
								&.cadastre{
									@include bt_default();
									@include fonte($font-def, bold, 14px, #FFF);
									margin-right: 3px !important;
								}
								&.continue{
									@extend %bt-login-cadastro;
									margin-right: 3px !important;
								}
							}
						}
					}
				}
			}
		}
	}
	&.loginpage{
		#main{
			.container{
				.main-content{
					.login{
						.box{
							fieldset{
								.title{
									@include fonte($font-alt-1, normal, 30px, #000);
									text-transform: uppercase;
									background: none;
									height: auto;
									text-indent: 0;
								}
								.field{
									#txtSenha{
										width: 250px !important;
									}
									.continue{
										@extend %bt-login-cadastro;
										margin-right: 3px !important;
									}
									.enter{
										line-height: 27px;
										margin-right: 0px;
									}
								}
							}
						}
					}
				}
			}	
		}
	}
}
