/* ---------------------------------------------------------------------*/
/* -------------------------*>>> QUICKVIEW <<<---------------------------*/
/* -------------------------------------------------------------------*/

// Config ----------------------------------------------------------------------------------/
$page-quick-w: 990px;
$page-quick-h: 780px;

// Components -----------------------------------------------------------------------------/


// Style ---------------------------------------------------------------------------------/
body{
	&.quickview{
		#main{
			@include box-sizing();
			width: 100%;
			margin: 0px auto;
			padding: 15px;
			.container{
				@include box-sizing();
				width: 100%;
				margin: 0px auto;
				padding: 0px;
				@extend %placeholder-breadcrumb;
				.content{
					.main-content{
						.collum{
							&.images{
								width: $ft-detalhes-w + 30;
								margin: 0px;
								position: relative;
								@extend %product-images-photo;
								.photo{
									float: left;
								}
								@extend %product-images-zoom;
								.zoom{
									float: left;
								}
								@extend %product-images-thumbs;
								@extend %product-images-social;
								.social{
									float: left;
									text-align: center;
								}
							}
							&.details{
								width: ($page-quick-w - $ft-detalhes-w) - 100px;
								float: right;
								.info-prices{
									border-bottom: 1px solid #DDDCDA;
									overflow: hidden;
									padding-bottom: 10px;
									margin-bottom: 10px;
								}
								@extend %product-details-name;
								@extend %product-details-fab-cod;
								@extend %product-reviewaggregate;
								@extend %product-details-stamp;
								@extend %product-details-resumo-desc;
								.description{
									display: block;
									width: 100%;
								}
								@extend %product-details-offers;
								@extend %product-details-desconto-a-vista;
								@extend %product-details-parcel;
								@extend %product-details-save;
								@extend %product-details-sku;
								@extend %product-details-buy;
								@extend %product-details-tab-desc;
								@extend %product-details-disponibilidade;
								@extend %product-details-tools;
								.tools{
									&.rate{
										display: none;
									}
								}
								.notifyme{
									.send{
										float: left !important;
										margin-left: 5px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}