/* ---------------------------------------------------------------------------------------*/
/* ----------------------------*>>> LISTA DE DESEJOS <<<---------------------------------*/
/* -------------------------------------------------------------------------------------*/

//Config -----------------------------------------------------------------------------/


//Components -----------------------------------------------------------------------/
%wishlist-filter{
	#filter{
		&.filter-wish{
			background: #F7F7F7;
			.field{
				label{
					select{
						height: 30px;
						line-height: 30px !important;
						margin-top: -2px;
					}
				}
				.search{
					@extend %bt-wishlist-filter-pesqusiar;
				}
			}
		}
	}
}
%wishlist-photo{
	.figure{
		width: $ft-vitrine-w;
		height: $ft-vitrine-h;
		.photo{
			border: 0px !important;
			width: $ft-vitrine-w;
			height: $ft-vitrine-h;
		}
	}
}
%wishlist-details{
	.details{
		.name{
			@include fonte($font-def, normal, 20px, #373435);
		}
		.cod,
		.brand{
			@include fonte($font-def, normal, 11px, #808080);
		}
		.skus{
			@include fonte($font-def, normal, 11px, #808080);
		}
		@extend %placeholder-reviewaggregate;
		.reviewaggregate{
			margin: 0px;
			width: 100%;
			.count{
				position: relative;
				left: 6px;
				top: -5px;
			}
		}
	}
}
%wishlist-details-box{
	.details{
		&.box{
			.added,
			.situation{
				@include fonte($font-def, normal, 11px, #000);
				text-transform: capitalize;
				a{
					@include fonte($font-def, normal, 11px, #000);
					text-transform: capitalize;
				}
			}
		}
	}
}
%wishlist-details-box-offers{
	.details{
		&.box{
			.offers{
				text-align: left;
				width: 100%;
				span{
					@include box-sizing();
					margin: 0px 5px;
					display: inline-block;
					width: auto;
					height: auto;
					line-height: 20px;
					vertical-align: middle;
					text-align: left;
					em{
						line-height: 20px;
						text-transform: capitalize;
					}
					&.regular{
						@include fonte($font-def, normal, 14px, #bebebe);
						text-transform: capitalize;
						text-decoration: line-through;
						padding: 0px;
						margin-left: 0px;
						em{
							@include fonte($font-def, normal, 14px, #bebebe);
							text-transform: capitalize;
							text-decoration: line-through;
						}
						span{
							@include fonte($font-def, normal, 14px, #bebebe);
							text-transform: uppercase;
							text-decoration: line-through;
						}
					}
					&.sale{
						margin-left: 0px;
						@include fonte($font-def, normal, 22px, $color-theme-2);
						text-transform: capitalize;
						strong{
							@include fonte($font-def, normal, 22px, $color-theme-2);
							text-transform: uppercase;
							span{
								@include fonte($font-def, normal, 22px, $color-theme-2);
								text-transform: uppercase;
							}
						}
					}
				}
			}
			.parcel{
				@include fonte($font-def, normal, 13px, #000);
				strong{
					@include fonte($font-def, bold, 13px, #000);
				}
			}
			.parcel{
				@include fonte($font-def, bold, 16px, #373435);
				strong{
					@include fonte($font-def, bold, 16px, #373435);
					span{
						@include fonte($font-def, bold, 16px, #373435);
					}
				}
				b{
					@include fonte($font-def, normal, 16px, #373435);
				}
			}
			.buy{
				@extend %bt-wishlist-comprar;
			}
		}
	}
}




//Style -----------------------------------------------------------------------------/

body{
	.container{
		.main-content{
			h1:not(#productName){
				@extend %placeholder-h1;
			}
			@extend %wishlist-filter;

			#lblListaDesejos{
				li{
					width: 100%;
					@extend %wishlist-photo;
					@extend %wishlist-details;
					@extend %wishlist-details-box;
					@extend %wishlist-details-box-offers;
					@extend %placeholder-notifyme;
					.notifyme{
						label{
							input{
								width: 100% !important;
							}
						}
						.send{
							&.ir{
								position: relative;
								left: -2px;
								margin-top: -37px;
							}
						}
					}
					fieldset{
						.actions{
							a{
								@extend %bt-wishlist-salvar;
							}
						}
					}
				}
			}
		}
	}
}
