body.basketpage {
    #upBasket {
        #buy-to-list {
            border: 0;
        }

        .buttons-basket {
            padding-top: 20px;

            &.buttons-basket-bottom {
                border: 0;
                padding-top: 10px;
            }

            .continue {
                @extend %btn;
                @extend %btn-primary;
            }

            .buy-more {
                @extend %btn;
                @extend %btn-secondary;
                @extend %btn-sm;
            }
        }

        .basket {
            border: 2px solid #f3f3f3;
        }

        a.btn.calculate,
        a.btn.utilize {
            border-top: 0;
            border-left: 0;
            border-right: 0;

            @extend %btn;
            @extend %btn-primary;
            @extend %btn-sm;
        }

        a.cancel {
            @extend %btn;
            @extend %btn-default;
            @extend %btn-sm;
            min-width: 70px;
        }

        .basket {
            table {
                font-family: $font-base;
            }

            th {
                background: #f3f3f3;
                color: #000;
                font-weight: 300;
            }

            tbody,
            tfoot {
                tr td {
                    border: 1px solid #f3f3f3;
                }
            }

            tr {
                &.even {
                    td {
                        background: #fff;
                    }
                }

                &.info {
                    td {
                        background: #fff;
                    }
                }

                &.total {
                    td {
                        background: #fff;
                        color: #000;
                        min-width: 100px;
                        font-family: $font-custom;

                        &.value {
                            color: $color-theme;
                            font-weight: normal;
                            font-size: 22px;
                        }

                        &.title {
                            font-weight: normal;
                            color: $color-theme;
                            font-size: 22px;
                        }
                    }
                }

                &.delivery {
                    td {
                        border-top: 0;
                    }

                    input.cep {
                        height: 20px;
                        width: 140px;
                        border: 1px solid #e7e7e7;
                    }

                    fieldset {
                        margin-left: 0;
                    }

                    &.first {
                        label {
                        }
                    }
                }

                &.coupon {
                    td {
                        background: #fff;
                    }

                    #lblCoupon {
                        display: block;
                        min-width: 125px;
                        text-transform: uppercase;
                        font-family: $font-custom;

                        &.coupon-ok {
                            color: $color-theme;
                        }
                    }

                    fieldset {
                        label > span {
                            width: 225px;
                        }

                        input {
                            height: 20px;
                            width: 200px;
                            border: 1px solid #e7e7e7;
                        }
                    }

                    #tdCouponInUse {
                        fieldset label > span {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }

            td {
                background: #fff;

                .figure {
                    width: 90px;
                    height: auto;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &.subtotal {
                    font-size: 15px;
                    color: #000;
                    font-weight: normal;
                    text-shadow: 0 0 0 #000;
                }
            }
        }

        .title {
            font-family: $font-custom;
            font-weight: 300;
            text-transform: uppercase;
            text-shadow: 0 0 0 #000;
            font-size: 15px;
        }

        .delete {
            a {
                
            }
        }

        .description {
            .details {
                .fn {
                    &.name {
                        font-family: $font-base;
                        font-size: 13px;
                        color: #6c6c6c;
                    }
                }

                .cod {
                    font-family: $font-base;
                    font-size: 12px;
                    color: #6c6c6c;
                }

                .brand {
                    font-family: $font-base;
                    font-size: 12px;
                    color: #6c6c6c;
                }

                .skus {
                    font-family: $font-base;
                    font-size: 11px;
                    color: #6c6c6c;
                }
            }

            .stamp {}
        }

        .quantity {
            div {
                width: 64px;
                padding-left: 5px;

                > span {
                    width: 60px;
                    height: 25px;
                    position: relative;
                    display: block;
                    border: 1px solid #ccc;
                }
            }

            .minus,
            .plus {
                text-indent: 0;
                position: absolute;
                font-size: 0;
                background: none;
                height: 10px;
                margin: 0;
                border: 1px solid #ccc;
                padding: 1px;
                width: 20px;

                &:after {
                    width: 0;
                    height: 0;
                    content: " ";
                    display: inline-block;
                    text-indent: 0;
                    position: absolute;
                    top: 3px;
                    right: 7px;
                }
            }

            .minus {
                bottom: -1px;
                right: -1px;

                &:after {
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-top: 4px solid #000;
                }

                &:hover {
                    &:after {
                        border-top-color: $color-theme;
                    }
                }
            }

            .plus {
                top: -1px;
                right: -1px;

                &:after {
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                    border-bottom: 4px solid #000;
                }

                &:hover {
                    &:after {
                        border-bottom-color: $color-theme;
                    }
                }
            }

            input {
                border: 0;
                padding: 5px 0 0;
                text-align: center;
                width: 43px;
                color: #545454;
            }
        }

        .unit-value {
            .regular {
                font-family: $font-base;
                font-size: 12px;
                color: #6c6c6c;

                del {
                    font-family: $font-base;
                    font-size: 12px;
                    color: #6c6c6c;
                }
            }

            .price {
                &.sale {
                    font-family: $font-base;
                    font-size: 12px;
                    color: #6c6c6c;
                }
            }
        }

        .subtotal {
            .regular {
                font-family: $font-base;
                font-size: 12px;
                color: #6c6c6c;

                del {
                    font-family: $font-base;
                    font-size: 12px;
                    color: #6c6c6c;
                }
            }

            .price {
                &.sale {
                    font-family: $font-base;
                    font-size: 15px;
                    color: #000;
                }
            }
        }

        #banner_promocoes_atingir_pnlBannerPromocoesAtingir {
            .orbit-wrapper {
                width: 100% !important;
                z-index: 1;

                * {
                    @include box-sizing;
                }

                .orbit-bullets {
                    bottom: 4px;

                    li {
                        background: #fff;
                        border-radius: 10px;
                        font-size: 11px;
                        line-height: 17px;
                        height: 20px;
                        margin: 0 0 0 5px;
                        border: 1px solid #ccc;

                        &.active {
                            background: $color-theme;
                            color: #fff;
                            font-size: 11px;
                            line-height: 17px;
                            height: 20px;
                            text-decoration: none;
                        }
                    }
                }

                #banner-basket {
                	@include box-sizing;
                    width: 100% !important;
                    height: auto !important;
                    overflow: visible;
                    text-align: center;
                    border: 0;
                    border-radius: 0px;
                    font-family: $font-custom;
                }

                .promo {
                	@include box-sizing;
                    width: 100%;
                    padding: 0;
                    height: 74px;
                    background-image: none;
                    display: inline-block;
                    background: #fff;
                    font-family: $font-custom;

                    span {
                        border: 3px solid #f3f3f3;
                        color: #000;
                        padding: 20px 0;
                        font-weight: bold;
                        font-size: 17px;
                        line-height: 21px;
                        font-family: $font-custom;
                        letter-spacing: 0.75px;
                    }
                }
            }
        }
    }
}