body {
	.form .title,
	.form .even .title {
		font-family: $font-custom;
		background: none;
		text-indent: 0;
		height: auto;
		font-weight: normal;
		color: #000;
		font-size: 24px;
	}
	&.checkout.close {
		div.basket.box {
			.stamp {
				img {
					max-width: 100%;
				}
			}
		}
	}
	&.confirmacao {
		#main .container {
			width: 1300px!important;
		}
	}
	&.meuspedidos {
		#main {
			.container {
				width: 980px !important
			}
		}
	}
	&.alterarSenha {
		background: #fff;
	}
	&.partner {
		.main-content {
			margin: 0 auto !important;
		}
	}
	&.simple .request a.description {
		font-family: $font-base;
		font-size: 13px;
		color: #332222;
	}
	&.quickBasquet {
		.actions {
			li {
				a {
					@extend %btn-success;
					width: 120px;
					&.ContinuarComprando {
						@extend %btn-secondary;
					}
				}
			}
		}
	}
}