body {
    /* inicio - Minha conta Pagina inicial */
	    &.account {
	        .nav {
	            a {
	                font-family: $font-custom;
	                font-size: 14px;

	                &:hover {
	                    color: $link-ch;
	                }
	            }
	        }
	    }
    /* fim    - Minha conta Pagina inicial */

    /* inicio - Lista de desejos*/
	    .desired-products {
	    	span {
	    		a {
	    			color: $link-c;
	    		}
	    	}
	    	.details {
	    		.offers {
	    			text-align: center;
	    		}
		        .btn.ir.buy {
		            @extend %btn-primary;
		            max-width: 200px;
		            display: block;
		            margin: 0 auto !important;
		            float: none;
		        }
	    	}
	        .figure {
	            width: $ft_vitrine_w;
	            border: 1px solid #ccc;

	            img {
	                border: 0 !important;
	                width: 100%;
	            }
	        }
	        textarea {
    			width: 100%;
    		}
	    }
    /* fim    - Lista de desejos*/

    /* inicio - Conta Corrente*/
	    &.contaCorrente {
	    	.box.form {
	    		background: #f1f1f1;
	    		border: 1px solid #ccc;
	    		border-radius: 5px;
	    	}

	    }
    /* fim    - Conta Corrente*/

    /* incio - Meus Pedidos */
    	&.search {
    		a.description {
    			color: $link-c;
    			font-family: $font-custom;
				font-size: 13px;
    		}
    		.result {
    			td {
    				a {
    					color: $link-c;
    					text-decoration: underline;
    				}
    			}
    		}
    	}
    	&.meuspedidos {
    		.request .warning {
    			color: #ff1e00;
    			font-family: $font-custom;
    			font-size: 14px;
    		}
    	}
    /* fim   - Meus Pedidos */
}