$navHeight: 58px;
$header-h: 103px;
$bg-header: none;
%header-logo-desktop {
    #logo {
        position: absolute;
        z-index: 2;
        top: 8px;
        left: 50px;
    }
}
%header-logo-mobile {
    #logo {
        a {
            img {
                max-height: 45px;
            }
        }
    }
}
%header-welcome {
    .welcome {
        position: static;
        font-family: $font-custom;
        font-size: 11px;
        padding: 0;
        top: 6px;
        left: 290px;
        position: absolute;
        a {
            color: $colorDefault;
        }
        #identificacao {
            
        }
    }
}
%header-nav {
    top: 0;
}
$nav-bg: $color-theme2;
$nav-font-family: $font-custom;
$nav-font-color: $color-theme;
$nav-font-size: 16px;
$header-height-mobile: 60px;

%header-nav-desktop {
    .nav-container {
        background: $nav-bg;
        height: $navHeight;
        @include box-sizing;
        * {
            @include box-sizing;
        }
    }
    #nav {
        height: $navHeight;
        width: $page-width;
        margin: 0 auto;
        position: relative;
        bottom: 0;
        left: 0;
        > li {
            float: left;
            text-align: center;
            position: static;
            &:first-child,
            &:last-child {
               
            }
            &:last-child,
            &:nth-last-child(2) {
              
            }
            &:last-child {
                
            }
            > a {
                height: $navHeight;
                font-family: $nav-font-family;
                font-size: $nav-font-size;
                font-weight: bold;
                color: $nav-font-color;
                line-height: $navHeight;
                float: none;
                text-align: left;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                padding: 0 34px 0;
                &:hover,
                &.hover {
                    background: #fff;
                }
            }
            
        }
        .sub-nav {
            top: 58px;
            border: 0;
            width: 100% !important;
            box-shadow: 0px 8px 28px -1px rgba(0,0,0,0.38);
            min-height: 200px;
            padding: 40px 60px;
            .collum {
                width: 212px;
            }
            li {
                border-bottom: 1px solid #e0f7fc;
                &:last-child {
                    border-bottom: 0;
                }
                a {
                    font-family: $font-custom;
                    font-size: 14px;
                    color: $color-theme;
                    font-weight: 600;
                    padding: 10px 0;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .imagem {
                width: auto;
                float: right;
                max-width: 688px;
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                }
            }
        }
    }
}
@mixin icon-nav-mobile {
    @include icons(f039);
    margin: 10px;
    color: $color-theme;
}
%header-nav-mobile {
    height: $header-height-mobile;
    margin: 0;
    background: $bg-header;
    &.active {
        height: 110px;
    }
    .btn-nav-mobile {
        top: 8px;
        .nav-click {
            background: none;
            &::after {
                @include icon-nav-mobile;
            }
        }
    }
    .box-top,
    .foneFT {
        @extend %rk-hide;
    }
    .welcome {
        background: $color-theme2;
        font-family: $nav-font-family; 
        padding: 10px 30px 10px 4px;
        a,
        span {
            color: #fff;
        }
        .hide-menu {
            background: none;
            width: 31px;

            &::after {
                @include icons(f053, 20px);
                margin: 10px 0 0 5px;
                color: #fff;
            }

        }
    }
    .wrap-nav-mobile {
        top: 60px;
        width: 100%;
        border: medium none;
        -webkit-overflow-scrolling:touch;
    }
    #nav {
        background: $nav-bg;
        font-family: $font-custom;
        > li {
            > a {
                font-family: $nav-font-family;
                font-size: $nav-font-size;
                color: $nav-font-color;
                font-weight: bold;
                text-transform: uppercase;
            }
            > a:not(.sub-parent) {
               
            }
            .sub-parent {
                color: $color-theme2;
                font-size: 16px;
            }
        }
    }
}
%header-help-desktop {
    .help-top {
        position: absolute;
        > li {

        }
    }
}
%header-help-mobile {
    .help {
        opacity: 1;
        background: #eaeaea;
        padding-top: 0;
        > li {
            > a {
                display: none;
            }
        }
    }
}
%header-search-desktop {
    .search {
        top: 28px;
        left: 293px;
        border: 0;
        width: 595px;
        border-radius: 5px;
        input {
            font-family: $font-custom;
            height: 50px;
            width: 100%;
            padding-left: 21px;
            padding-right: 50px;
            border: 0;
            border-radius: 5px;
            color: $color-theme2;
            font-weight: 600;
            font-style: italic;
            font-size: 16px;
        }
        .btn {
            background: none;
            text-indent: -9000px;
            height: auto;
            width: auto;
            position: absolute;
            top: 15px;
            right: 20px;
            padding: 0;
            font-size: 0;
            &::before {
                @include icons(f002, 20px, $color-theme2);
                padding-left: 2px;
            }
            &:hover {
                &::before {
                     color: darken($color-theme2, 15%);
                }
            }
        }
    }
}
%header-search-mobile {
    .search {
        margin: 12px 0 0;
        input[type=text] {
            font-family: $font-custom;
            color: $color-theme2;
            font-weight: bold;
            font-size: 14px;
        }
        .btn {
            color: $color-theme;
        }
    }
}
@mixin icon-basket {
    background: url("/static/locales/global/img/ico-car.png") no-repeat;
    background-size: 100% auto;
    content: " ";
    display: block;
    float: left;
    @if $desktop{
        width: 64px;
        height: 55px;
    }@else {
        width: 50px;
        height: 42px;
        margin: 8px 10px 0 0;
    }
}
%header-basket-desktop {
    .car {
        .basket {
            top: 24px;
            right: 45px;
            padding: 0;
            background: none !important;
            width: 64px;
            height: 55px;

            &::before {
                @include icon-basket;
            }
            &:hover {
                

            }
            .title {
                display: none;
            }
            .itens {
                position: absolute;
                color: $colorDefault;
            }
            .basket-count-number,
            .basket-count-label {
                color: #fff;
            }
            .basket-count-number {
                @include box-sizing;
                background: $color-theme2;
                border-radius: 5px;
                min-width: 16px;
                line-height: 16px;
                text-align: center;
                display: block;
                font-size: 11px;
                position: absolute;
                top: -10px;
                left: 50px;
            }
            .basket-count-label {
                display: none;
            }
            .zero-item + .basket-count-label {
                display: none;
            }
        }
    }
}
%header-basket-mobile {
    [class*="header-btn-mobile"] {
        .btn-cart-mobile {
            background: none;
            width: auto;
            height: auto;
            &::before {
                @include icon-basket;
            }
        }
        .btn-search-top {
            background: none;
            margin: 0;
            &::after {
                @include icons(f002, 20px, $color-theme2);
                margin: 20px 0 0;
            }
        }
        .qtd-cart {
            background: $color-theme2 !important;
            position: absolute;
            top: 8px;
            left: 74px;
            margin: 0 !important;
            font-size: 12px;
            min-width: 10px;
            text-align: center;
            min-height: 14px;
            line-height: 13px;
        }
    }
}

%header-box-top-desktop {
    .box-top {
        float: right;
        margin: 9px 0 0 0;
        li {
            text-transform: uppercase;
            font-family: $font-custom;
            color: $colorDefault;
            font-weight: 600;
            float: left;
            line-height: 14px;
            border-left: 1px solid #d1d1d1;
            margin-left: 8px;
            padding-left: 8px;
            font-size: 11px;
            &:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }
            a {
                color: $colorDefault;
                &:hover {
                    color: $link-color
                }
            }
        }
         &.box-help {
            float: left;
            margin: 9px 0 0 175px;
        }
        &.box-login {
            min-width: 262px;
            #identificacao.first > a {
                &::before {
                    @include icons(f007);
                    font-size: 14px;
                    color: $colorDefault;
                    float: left;
                    margin: 0 8px 0 0;
                }
            }
        }
    }
}
%header-float-bar {
    
    #floatToolbar {
        height: 80px;
        padding: 0;
        background: $color-theme;
        @include box-sizing;
        * {
           @include box-sizing; 
        }
        .floatToolbar {
            margin: 0 auto;
            width: $page-width;
        }
        .closeHeader {
            border: medium none;
            margin-top: 20px;
            width: 50px;
            height: 52px;
            cursor: pointer;
            &::before {
                @include icons(f077);
                font-size: 28px;
                margin: 2px 0 0 5px;
                color: $color-theme2;
                display: block;
            }
            &:hover {
                &::before {
                   
                }
            }
            span {
                display: none;
                transform: rotate(-270deg);
                margin-top: 50px;
            }
        }
        .logoFT {
            margin: 5px 0 0 20px;
            img {
                max-height: 90px;
            }
        }
        .mini-car {
            top: 71px;
            right: 0;
        }
        .search {
            position: absolute;
            top: 15px;
            left: 190px;
            margin: 0;
            width: auto;
            input {
                width: 700px;
                @include box-sizing;
            }
        }
        .basket {
            margin-top: 14px;
            width: auto;
            height: 57px;
            #lblResumoCesta {
               background: $color-theme2;
               border-radius: 5px;
               min-width: 16px;
               line-height: 16px;
               text-align: center;
               display: block;
               font-size: 11px;
               position: absolute;
               top: -10px;
               left: 50px;
               color: #fff;
            }
        }
        .help-top {
            top: 14px;
            right: 77px;
        }
        span.rev {
            top: 35px;
        }
        .box-top {
            position: absolute;
            top: 14px;
            left: 190px;
        }
    }
}
%header-float-bar-mobile {
    #floatToolbar {
        height: 60px;
        background: $color-theme;
        .logoFT {
            min-height: $header-height-mobile;
        }
        &.active {
            height: 120px;
        }
        .help-top,
        .fone {
            @extend %rk-hide;
        }
    }
}
%Summary-Basket-desktop {
    .mini-car{
        top: 81px;
        right: 0;
        background-color: #fff;        
        border: 0;
        padding: 10px;
        width: 361px;
        z-index: 2;
        text-transform: none;
        max-height: 383px;
        box-shadow: 0 3px 5px 0 rgba(0,0,0,0.35);
        #basket_pop_container{
            .mid{
                .prod {
                    border-bottom: none;
                    border-top: 1px solid $colorBorder;
                    padding: 10px;
                    overflow: hidden;
                    &:first-child{
                        border: none;
                    }
                    .photo{
                        width: 90px;
                        border:none!important;
                        margin-bottom: 0;
                        img {
                            width: 100%;
                        }
                    }
                    .descr {
                        margin-left:10px; 
                        margin-bottom: 10px;
                        width: 200px;
                        p{
                            &.name {  
                                font-family: $font-custom;
                                color: #4d4d4d;
                                font-size: 13px;
                                font-weight: bold;
                            }
                        }
                    }
                    
                    ._skus {
                        margin-left: 10px;
                        clear: none;
                        display: inline-block;
                        width: 200px;
                        font-family: $font-custom;
                        line-height: 11px;
                         p {
                            color: $colorDefault;
                            font-size:12px;
                            padding-bottom: 4px;
                            span{
                                color: $colorDefault;
                                font-weight: normal;
                            }
                            &.cod {
                                color: #9b9b9b;
                                font-size: 11px;
                                &::before {
                                    content: "Cod. "
                                }
                            }
                        }
                       
                        .total {
                            position: static;
                            font-weight: bold;   
                            color: #000;
                            font-size: 12px;
                            margin-top: 5px;
                            span {
                                color: #5a5a5a;
                                font-size: 12px;
                                float: right;
                            }
                        }
                    }
                }
                .sum_container{
                    background: none;
                    height: auto;
                    padding: 10px;
                    clear: both;
                    border:none;
                    font-family: $font-custom;
                    p {
                        &.subtotal{
                            font-size: 15px;
                            color: $color-theme2;
                            font-weight: bold;
                            strong{
                                font-weight: bold;
                                color: #5a5a5a;
                            }
                        }
                    }
                }
                #btn_checkout{
                    overflow: hidden;
                    padding: 0;
                    text-align: center;
                    a {
                        height: auto;
                        text-indent: 0;
                        display: inline-block;
                        font: bold 16px/18px $font-custom;
                        margin: 0 4px;
                        border-radius: 5px;
                        width: 152px;
                        height: 50px;
                        text-transform: uppercase;
                        padding-top: 7px;
                          &:first-child{
                            background: $color-theme;
                            color: #114f9e;
                          }
                         + a {    
                            background: $btn-success-color;
                            color: #fff;
                            
                            &:hover{
                               background: darken($btn-success-color, 5%);
                            } 
                         }
                         
                    }
                }
            }
        }
        
        #emptyBasket{
            p {
                 font-size:$font-size-def + 1;
                 font-family: $font-custom;
            }
            a {
                @extend %btn-secondary;
                width: auto;
                margin: 0 auto;
            }
        }
    }
}
%header-buy {
   &.headerbuy {
      @if $mobile{
        margin-bottom: 10px;
      }
      #logo {
        @if $desktop{
            position: static;
            display: inline-block;
            text-align: center;
            width: 100%;
            a {
                display: inline-block;
            }
        }@else {
            padding-left: 0;
            padding-right: 0;
        }
      }
      .container {
        @if $desktop{
            padding: 0;
            height: 163px;
        }
      }
   } 
}
body {
    @include fonte(12px, $colorDefault, normal, $font-def);
    .wrapper #header {
         @if $desktop {
            @extend %header-logo-desktop;
            @extend %header-welcome;
            @extend %header-basket-desktop;
            @extend %header-nav-desktop;
            @extend %header-help-desktop;
            @extend %header-search-desktop;
            @extend %header-box-top-desktop;
            @extend %header-float-bar;
            @extend %Summary-Basket-desktop;
         }@else {
            @extend %header-logo-mobile;
            @extend %header-nav-mobile;
            @extend %header-basket-mobile;
            @extend %header-search-mobile;
            @extend %header-help-mobile;
            @extend %header-float-bar-mobile;
         }
         @extend %header-buy;
         
    }
}