%history-desktop {
    border-top: 1px solid #c4c4c4;
    margin-top: 30px;
    padding-top: 30px;
    overflow: visible;
    .prod-view {
       
    }
    .list-products {
        .hproduct {
            width: ($ft_history_w - 5px);
            padding: 0;
            @include box-sizing(content-box);
            border-left: 0;
            .photo {
                width: ($ft_history_w - 5px);
                height: ($ft_history_h - 5px);
            }
            .regular {
                @extend %product-price-from;
            }
        }
        li {
            
        }
        .owl-item {
            li {
                float: none;
                margin: 0 auto;
                display: block;
            }
        }
        .owl-wrapper-outer {
            .owl-item {
                &:first-child {
                    > li {
                        border-left: 0;
                    }
                }
            }
        }
        &.owl-carousel > .owl-controls .owl-buttons > div {
           
        }
    }
}
body {
    #main {
        .history {
            .title {
                @extend %title-vitrine;
                text-align: left;
            }
           @if $desktop {
                @extend %history-desktop
           }
        }
    }
}
