$btn-primary-color: #f51c59;
$btn-secondary-color: #8ae9e6;
$btn-success-color: #f51c59;

@mixin btn {
    border-width: 0;
    border-radius: 5px;
    line-height: 35px;
    height: auto;
    text-align: center;
    font-family: $font-custom; 
    font-size: 18px;
    padding: 0 20px;
    text-indent: 0;
    font-weight: 600;
    text-transform: uppercase;
    @include box-sizing;
    &:hover {
        text-decoration: none;
    }
}

%btn-primary {
    @include btn;
    background: $btn-primary-color;
    color: #fff;
    &:hover {
        background: darken($btn-primary-color, 10%);
    }
}
%btn-secondary {
    @include btn;
    background: $btn-secondary-color;
    color: #114f9e;
    &:hover {
        background: darken($btn-secondary-color, 10%);
    }
}
%btn-success {
    @include btn;
    background: $btn-success-color;
    color: #fff;
    &:hover {
        background: darken($btn-success-color, 5%);
    }
}
%btn-default {
    @include btn;
    background: linear-gradient(to bottom,  #acacac 50%,#9d9d9d 50%);;
    color: #fff;
    &:hover {
        background: linear-gradient(to bottom,  #acacac 50%,#9d9d9d 50%);
    }
}
%btn-lg {
    line-height: 69px;
    height: 69px;
    padding: 0 40px;
    font-size: 30px;
}
%btn-sm {
    @if $desktop {
        line-height: 27px;
        height: 27px;
        font-size: 13px;
        padding: 0 10px;
    }
    text-indent: 0;
}
@mixin icon-comprar(){
    content: " ";
    background: url("/static/locales/global/img/ico-buy.png") no-repeat;
    width: 24px;
    height: 19px;
    float: left;
    display: block;
}
/*Inicio - Botoes gerais */
    %btn-enviar {
        @extend %btn-success;
    }
    %btn-salvar {
        @extend %btn-success;
    }
    %btn-comprar {
        @extend %btn-success;
    }
    %btn-listproduct-buy {
        @extend %btn-comprar;
    }
    %btn-catalog-compare {
        @extend %btn-success;
        @extend %btn-sm;
    }
/*fim - Botoes gerais */

/* inicio - Botoes Detalhes */
    %btn-detalhes-comprar {
        @extend %btn-success;
        @extend %btn-lg;
    }
    %btn-combo-comprartodos {
        @extend %btn-success;
    }
    %btn-enviar-notify {
        @extend %btn-secondary ;
    }
    %btn-garantia-continuar {
        @extend %btn-success;
    }
/* fim    - Botoes Detalhes */

/* inicio - Botoes Look */
    %btn-look-comprar-produtos {
        @extend %btn-success;
        @extend %btn-lg;
    }
    %btn-look-selecionar-produtos {
        @extend %btn-secondary;
    }
/* inicio - Botoes Look */

/* inicio - Botoes Basket */
    %btn-basket-enviar {
        @extend %btn-primary;
    }
    %btn-basket-buymore {
        @extend %btn-secondary;
    }
    %btn-basket-continuar {
        @extend %btn-success;
    }
    %btn-basket-calcular {
        @extend %btn-primary;
    }
    %btn-basket-cupom {
        @extend %btn-primary;
    }
    %btn-basket-cancelar {
        @extend %btn-primary;
    }
    %btn-basket-comprar-produtos {
        @extend %btn-basket-continuar;
    } 
/* fim    - Botoes Basket */

/* inicio - Botoes Login */
    %btn-login-entrar {
        @extend %btn-success;   
    }
    %btn-login-continuar {
        @extend %btn-success;
    }
    %btn-salvar-cadastro {
        @extend %btn-salvar;
    }
/* inicio - Botoes Login */

/* inicio - Botoes checkout */
    %btn-checkout-editar-endereco {
        @extend %btn-success; 
        @extend %btn-sm;
    }
    %btn-checkout-alterar-servico {
        @extend %btn-success; 
        @extend %btn-sm;
    }
    %btn-checkout-fecharpedido {
        @extend %btn-success; 
        line-height: 22px;
        padding: 9px 30px;  
    }
    %btn-checkout-fecharpedido-inativo {
        @extend %btn-checkout-fecharpedido;
        background: #bbb;
        &:hover{
            background: #bbb;
        }
    }
    %btn-checkout-gift-continue {
         @extend %btn-success;
    }
/* inicio - Botoes checkout */

/* inicio - new checkout */
    %btn-checkoutnew-login {
        @extend %btn-success;
    }
    %btn-checkoutnew-login-cadastro {
        @extend %btn-success; 
    }
    %btn-checkoutnew-login-entrar {
         @extend %btn-success;
    }
    %btn-checkoutnew-cancelar {
        @extend %btn-primary;
    }
    %btn-checkoutnew-finalizar-compra {
        @extend %btn-success;
    }
    %btn-checkoutnew-imprimirboleto {
        background-color: $btn-success-color;
    }
/* fim - new checkout */

/* inicio - Modais */
    /* inicio - modal - Alterar endereco */
        %btn-modal-editar-endereco {
            @extend %btn-checkout-editar-endereco;
        }
        %btn-modal-usar-endereco {
            @extend %btn-checkout-editar-endereco;
        }
        %btn-modal-deletar-endereco {
            @extend %btn-checkout-editar-endereco;
            &:hover {
            }
        }
        %btn-modal-salvar-usar-endereco {
             @extend %btn-success;
        }
        
        %btn-modal-endereco-cancelar {
            @extend %btn-primary;
        }
    /* fim - modal - Alterar endereco */

    /* inicio - modal - Alterar Servico */
        %btn-modal_servico-alterar-endereco {
            @extend %btn-modal-editar-endereco;
        }
        %btn-modal_servico-salvar {
            @extend %btn-salvar;
            @extend %btn-sm;
        }
    /* fim   - modal - Alterar Servico */
    %btn-modal-quickbasket-fecharpedido {
       @extend %btn-success;
       @extend %btn-sm;
    }
    %btn-modal-quickbasket-comprarmais {
        @extend %btn-secondary;
    }
    %btn-modal-alterar-senha-continue {
        @extend %btn-success;
    }
    %btn-modal-consultar-prazo-consultar {
        @extend %btn-success;
    }
    %btn-modal-basket-produto-gratis-continue {
        @extend %btn-success; 
    }
    %btn-modal-detalhe-termoaceite-continue {
        @extend %btn-success;
    }
    %btn-modal-detalhe-termoaceite-cancel {
        @extend %btn-secondary;
    }

/* fim    - Modais */

/* inicio - Meus cartoes */ 
    %btn-meuscartoes-comprar-produtos {
        @extend %btn-basket-comprar-produtos;
    }
    %btn-meuscartoes-cadastrar-cartao {
        @extend %btn-primary;
    }
    %btn-meuscartoes-cadastrar {
        @extend %btn-salvar;
    }
/* fim   - Meus cartoes */ 

/* inicio - lista de desejos */
    %btn-listadesejo-comprar {
        @extend %btn-comprar;
    }
    %btn-listadesejo-salvar {
        @extend %btn-salvar;
    }
    %btn-listadesejo-pesquisar {
        @extend %btn-success;
    }
    %btn-listadesejo-enviar-notify {
        @extend %btn-enviar-notify
    }
/* fim   - lista de desejos */    

/* inicio - confirmacao  */
    %btn-confirmacao-imprimir-boleto {
        @extend %btn-success;
        line-height: 50px;
    }
/* fim    - confirmacao  */

/* inicio - conta corrente  */
    %btn-contacorrente-pesquisar {
        @extend %btn-primary;
    }
/* fim    - conta corrente  */

/* inicio - meus pedidos  */
    %btn-meuspedidos-enviar {
        @extend %btn-primary;
    }
    %btn-meuspedidos-imprimir {
        @extend %btn-confirmacao-imprimir-boleto;
    }
/* fim    - meus pedidos  */

/* inicio - Afiliados */
    %btn-afiliado-salvar {
        @extend %btn-salvar;
    }
    %btn-afiliado-pesquisar-relatorio {
        @extend %btn-primary;
        @extend %btn-sm;
    }
/* fim    - Afiliados  */    

/* inicio - institucional */
    %btn-faleconosco-enviar {
         @extend %btn-enviar;
    }
    %btn-faleconosco-comprar-produtos {
         @extend %btn-comprar;
    }
/* fim    - institucional */

