$nav-vertical-bg: #fff;

%nav-vertical-sidebar {
	width: 205px;
	background: $nav-vertical-bg;
	padding: 0;
	margin-right: 10px;
	@include box-sizing;
}

%nav-vertical-title {
	background: none;
	font-family: $font-custom;
	color: $color-theme5;
	text-transform: none;
	font-size: 16px;
	font-weight: bold;
	@if $desktop{
		border-bottom: 1px solid #acf5f4;
	}
}

%nav-vertical-block-ul {
	margin: 0;
	padding: 0;
	border: 0;
}

%nav-vertical-title-sku {
	background: #fff;
	padding-top: 0;
	margin: 0;

	> span {
		background: none;
		@include fonte($font-custom, 700, 12px, #6e6e6e);
		padding: 9px 10px;
		text-transform: uppercase;
		cursor: pointer;
	}

}

%nav-vertical-filterBlock {
	padding: 0 21px;
}

%nav-vertical-title-minha-navegacao {
	font-family: $font-custom;
	background: $color-theme2;
	font-weight: normal;
	color: #fff;
	font-size: 13px;
	margin: 0;
	padding: 8px 13px;
	display: none;
}
%nav-ico-delete {
	background: url("/static/locales/global/img/ico_delete.gif") no-repeat;
	height: 15px;
	width: 15px;
	margin-top: 5px;
}
%nav-aside-desktop {
	@extend %nav-vertical-sidebar;

	.nav {
		width: 100%;
		@include box-sizing;
	}

	.block {
		background: none;
		margin-bottom: 10px;

		h3.title {
			
		}

		.title {
			@extend %nav-vertical-title;

			.ico {
				background: none;
				padding-left: 0;
			}

		}

		> ul {
			@extend %nav-vertical-block-ul;
			&.side-filters {
				
			}

			> li {
				@extend %nav-vertical-title-sku;

				> a {
					font-weight: bold;
					text-transform: uppercase;
					color: $font-c;
					font-size: 12px;
					padding: 10px 10px 5px;

				}

				a {
					background: none;

					&:hover {
						background: none;
						color: $color-theme5;
						text-decoration: none;
					}

				}

				li {
					border-bottom: 0;
					line-height: 22px;
					padding: 3px 0;

					a {
						color: #5d5d5d;
						padding: 0;
					}

				}

			}

			ul {
				padding: 0 10px;
			}

		}

		li {
			list-style: none;
			font-family: $font-custom;
		}

		.sub {
			color: #5d5d5d;
			padding-left: 0;
		}

		a {
			&:hover {
				background: none;
			}

		}
		&.custom {
			li {
				a {
					background: transparent;
					padding: 0 0 5px 10px;
					color: #5d5d5d;
				}
			}
		}
	}

	.filterBlock {
		@extend %nav-vertical-filterBlock;
	}

	#divOptionsSearch {
		h3 {
			display: block;
		}

	}

	.newsletter {
		@extend %rk-hide;
	}

	.special-store {
		background: none;
		border: 0;

		.title {
			background: none;
			font-family: $font-custom;
			font-weight: bold;
			color: $color-theme5;
			font-size: 16px;
			text-transform: none;
			border-bottom: 1px solid #acf5f4;

			span {
				background: none;
				padding: 0;
			}

		}
		ul {
			padding: 0;
			margin: 0;
		}

		li {
			text-align: center;
			border-top: 0;
			padding: 8px 0;
			margin: 0;
			&:first-child {
				border-top: 0; 
			}
			
			img {
				display: inline-block;
			}

		}

	}

	.filters {
		background: none;
		border-bottom: 0;
		margin: 0;
		font-family: $font-custom;

		.title {
			@extend %nav-vertical-title-minha-navegacao;
		}

		fieldset {
			border: 1px solid #acf5f4;
			background: #e4feff;
			margin-bottom: 10px;
			ul {
				margin: 0;
				color: #5d5d5d;

			}

			li {
				background: none;
				margin: 0;

				.item .item {
					padding-right: 11px;
					width: 100%;
				}

			}

		}

		> ul,
		p {
			margin: 0;
			padding: 11px 10px;
			color: $color-theme5;
			font-size: 15px;
			background: none;
			font-weight: bold;
		}

		.item {
			margin-top: 2px;
			padding: 0 21px 5px 0;
			margin-left: 10px;
			margin-right: 10px;
		}

		.type {
			background: none;
			font-weight: bold;
			color: #5a5a5a;
			padding: 5px 0 5px 10px;
			font-size: 13px;
			border-bottom: 1px solid $color-theme;
			margin-bottom: 5px;
		}

		.delete {
			@extend %nav-ico-delete;
		}

	}

	.skuFiltro {
		li li a {
			&:hover {
				border: 0px;
			}

		}

		li ul li {
			overflow: hidden;
			margin: 5px 3px;

			&:hover {
			}

			a {
				border: 1px solid #666;
				width: 30px;
				height: 30px;
				border-radius: 5px;
				@include box-sizing;
			}
			img {
				width: 100%;
				height: auto;
			}

		}

		~ .skuFiltro {
			li ul li {
				border-radius: 0;
				min-width: 30px;
				width: auto;

				&:hover {
				}

				a {
					min-width: 30px;
					width: auto;
				}

			}

		}

	}

}
%nav-aside-mobile {
	.nav {
		font-family: $font-custom;
		.title {
			@extend %nav-vertical-title;
		}
		fieldset {
			border: 1px solid #acf5f4;
			background: #e4feff;
			p {
				color: $color-theme5;
				font-size: 15px;
				font-weight: bold;
			}
			.type {
				font-weight: bold;
				color: #5a5a5a;
				background: none;
				&::before {
					display: none;
				}
			}
			.delete {
				@extend %nav-ico-delete;
			}
		}
		ul {
			li {
				span::before {
					color: $color-theme5;
				}
			}
		}
	}
}
body:not(.institucional) {
	div.aside {
		@if $desktop {
			@extend %nav-aside-desktop;
		}@else {
			@extend %nav-aside-mobile;
		}
	}
}