    $prod-default-font: $font-custom;              //Produto Fonte Family Geral

	$prod-name-color: #4d4d4d;						//Produto Title - Color
	$prod-name-font: $font-custom;				//Produto Title - Font
	$prod-name-font-s: 13px;						//Produto Title - Font Size

	$prod-price-font: $font-custom;	  		     	//Produto Price - Font
	$prod-price-font-c: #9f9f9f;					//Produto Price - Color
	$prod-price-font-s: 12px;						//Produto Price - Size

	$prod-price-from-c: #5a5a5a;		 			//Produto Price From (de) - Font Color
	$prod-price-from-s: 14px; 		//Produto Price From (de) - Font Size

	$prod-price-to-c:  $color-theme2; 			        //Produto Price To (por) - Font Color
	$prod-price-to-s: 16px; 						//Produto Price To (por) - Font Size

	$prod-parcel-c:  #5a5a5a; 						//Produto Parcelamento - Font Color
	$prod-parcel-strong-c:  $color-theme2;
	$prod-parcel-weight: bold;
	$prod-parcel-s: 14px; 							//Produto Parcelamento - Font Size

	$hide-button-buy-home: false;
	$hide-button-buy-catalog: false;
	$hide-review-home: true;
	$hide-review-catalog: true;
	$hide-filtro-lista: false;
	$hide-compare-catalog: true;
	$hide-sigla-depor: true;
	$hide-fabricante: true;
/*----------------------------RATING -----------------------------------*/


@if $hide-button-buy-home {
	body.home #main .list-products .details .btn.buy {
		@extend %rk-hide;
	}
}
@if $hide-button-buy-catalog {
	body.catalog .list-products .btn.buy,
	body.vitrine .list-products .btn.buy,
	body.look:not(.lookDetalhe) .list-products .btn.buy {
		@extend %rk-hide;
	}
}
@if $hide-review-home {
	body.home #main .list-products .details .reviewaggregate {
		@extend %rk-hide;
	}
}
@if $hide-review-catalog {
	body.catalog #main .list-products:not(.show-one) .reviewaggregate,
	body.vitrine #main .list-products .reviewaggregate,
	body.look:not(.lookDetalhe) .list-products:not(.show-one) .reviewaggregate {
		@extend %rk-hide;
	}
}
@if $hide-filtro-lista {
	body #main .vs-mode {
		@extend %rk-hide;
	}
}
@if $hide-compare-catalog {
	.btn.compare.ir,
	.list-products li .hproduct .compare {
		@extend %rk-hide;
	}
}
@if $hide-sigla-depor {
	body #main .list-products .details .regular em, 
	body #main .list-products .details .price em,
	#info-product .offers .price-to em,
	#info-product .offers .price-from em,
	.aside-details .price-to em,
	.aside-details .price-from em,
	.lookDetalhe .pieces .price-to em,
	body.product.por-sku .price-to em,
	body.product.por-sku .price-from em,
	body.garantia .regular em,
	.quickBasquet .suggestion .list-products  .sale em,
	.quickBasquet .suggestion .list-products  .regular em,
	.prod-view .list-products .sale em,
	.prod-view .list-products .regular em {
		display: none;
	}
	body #main .list-products .details .percent-a-vista em {
		display: inline-block;
	}
}
@if $hide-fabricante {
	body.basketpage .basket .brand,
	body ul.fab-cod #ghcliBrand,
	div.aside .block>ul.side-filters.filterBrand {
		@extend %rk-hide;
	}
}
/* inicio - Titulos */
	%title-vitrine {
		color: $color-theme;
		font-family: $font-custom2;
		position: relative;
		margin-bottom: 20px;
		text-shadow: none;
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 30px;
		line-height: normal;
		span {
	        font-family: $font-custom2;
	        color: $color-theme;
	        font-weight: bold;
	        @if $desktop{
	        	font-size: 30px;
	        }@else {
				font-size: 16px;
	        }
		}
	}
	%title-checkout {
		@include fonte(18px, $colorCheckoutDestaque, bold, $font-custom); 
		text-indent:0px;
		background:none;
		text-transform:uppercase;
		@if $mobile {
		     font-size: 16px;
		}
	}
	@mixin title-checkout($important: false, $color:$colorCheckoutDestaque ){
	    @extend %title-checkout;
	    @if $important {
	        color: $color!important;
	    }
	}
	%title-checkout2 {
		font-family: $font-custom;
		background: none;
		text-indent: 0;
		height: auto;
		font-weight: normal;
		color: $colorCheckoutDestaque;
		font-size: 14px;
		@if $mobile {
	    	font-size: 12px;
	    }
	}
	%sub-title-checkout {
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		font-family: $font-custom;
		color: $colorCheckoutDestaque;
	}
	%title2 {
		color: #000;
	}
/* fim  - Titulos */

$ratingHeight : 19px;
$ratingWidth : 20px * 5;
$ratingColor : $color-theme;
$ratingIMG: "star.png";

%reviewaggregate {
    .reviewaggregate{
        text-transform:none;
        margin: 0 auto;
        padding: 0;
        > a {   
            background: url("/static/locales/global/img/#{$ratingIMG}") repeat-x 0 0;                  
            height: $ratingHeight;
            width: $ratingWidth;
            margin-right: 5px;
            margin-bottom: 0;
            display: inline-block;
            float: none;
            text-align: left;
            span.rating {
                height: $ratingHeight;
                background-image: url("/static/locales/global/img/#{$ratingIMG}");
                background-position: 0 -#{($ratingHeight)};                           
            }
        }
        .count,
        .count * {
            color: $ratingColor;
            font-size: 12px;
            font-weight: normal;
            font-family: $font-custom;
            height: auto;
            line-height: $ratingHeight;
            display: inline-block;      
            vertical-align: top;
            width: auto;
        }
        .iframe {
        	
        }
    }
    
}
%reviewaggregate-avalicao-dos-clientes {
	.hreview {
        .rating{            
            width: $ratingWidth;
            height: $ratingHeight;
            background-image: url("/static/locales/global/img/#{$ratingIMG}");
            background-position: 0 0;
            .value{                
                width: $ratingWidth;
                height: $ratingHeight;
                background-image: url("/static/locales/global/img/#{$ratingIMG}");
                background-position: 0 -#{($ratingHeight)};
            }
        }
    }	
}
%placeholder-reviewaggregate {
		width: 107px;
		margin: 0;
		> a{
			background: url("/static/locales/global/img/#{$ratingIMG}") repeat-x 0 0;                  
			height: $ratingHeight;
			width: $ratingWidth;
			margin-right: 0px; 
			display: inline-block;
			vertical-align: top;
			float: none;
			text-align: left;
			margin: 0;
			.rating {
				height: 17px;
			}
		}
		.count {
			display: inline-block;
			font-family: $font-def;
			font-size: 11px;
			color: #000;
			line-height: 18px;
			a {
				font-family: $font-def;
				font-size: 11px;
				color: #000;
			}
		}
}
%product-details {
	font-family: $prod-default-font;
	text-align: center;
	margin-top: 10px;
}
%product-name {
	font-family: $font-custom;
	color: $prod-name-color;
	font-weight: 200;
	@if $desktop {
		font-size: $prod-name-font-s;
		margin-bottom: 6px;
	}@else {
		font-size: 14px;
	}
	a {
		color: $prod-name-color;
	}
}
%product-price-from {
	color: $prod-price-from-c;
	font-size: $prod-price-from-s;
	font-family: $font-custom;
	span {
		color: $prod-price-from-c;
	}
	del {
		
	}
}
%product-price-to {
	color: $prod-price-to-c;
    font-size: $prod-price-to-s;
    font-family: $font-custom;
    line-height: 14px;

	strong,
	strong span {
	    color: $prod-price-to-c;
	    font-size: $prod-price-to-s;
	    font-weight: bold;
	}
	em {
		
	}
}
%product-price-offer {
	font-size: 12px;
	font-family: $prod-default-font;
	display: block;
	color: $prod-parcel-c;

	em {
		font-family: $prod-default-font;
		font-size: 12px;
		text-align: left;
		padding: 5px 0 0;
	}

}
%product-parcel {
	color: $prod-parcel-c;
	font-size: $prod-parcel-s;
	font-family: $font-custom;
	@if $mobile {
		font-size: 11px;
	}
	strong {
		color: $prod-parcel-strong-c;
		font-weight: $prod-parcel-weight;
	}

	b {
		font-weight: $prod-parcel-weight;
		color: $prod-parcel-strong-c;
	}
}
%product-percent-avista {
	color: $prod-parcel-strong-c;
	font-size: 12px;
	font-weight: bold;
	.em {
	}
	.value-sight {
		display: none;
	}
	.value-percentage {
		i {

		}
	}
}
%product-stamp {
	padding: 0;
    margin-bottom: 0;
    text-align: center;
    &.unavailable {
        padding: 8px 0;
        color: $color-theme;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    a {
    	display: block;
    	margin: 0 5px 5px 0;
    	padding: 0;
    	/*&:first-child {
    		position: absolute;
    		top: 5px;
    		right: 5px;
    		margin: 0;
    	}*/
    	img {
    		max-width: 105px;
    		width: auto;
    	}
    }
}
%product-tools {
	width: 100%;
	margin: 0 auto;
    ul {
    	width: 204px;
    	margin: 0 auto;
    	position: relative;
    	padding-top: 5px;
    	background: none;
    	&.owl-carousel {
    		@if $desktop{
    		width: 204px;
    		}@else {
    			width: 130px;
    			overflow: visible;
    		}
    	}
    	.owl-controls {
    		@if $mobile{
    			position: static;
    			margin: 0;
    		}
    	}
    	@include clearfix;
    	li {
    		@if $desktop{
				width: 38px;
				height: 38px;
    		}@else {
    			width: 20px;
    			height: 20px;
    		}
    		background: #e9e5ea;
    		clear: none !important;
    		margin: 0 1px;
    	}
    	> li {
    		margin: 0;
    		&:only-child {
    			
    		}
    	}
    	img,
    	a {
    		width: 100%;
    		height: auto;
    	}
    }
}
%product-btn-listproduct-buy {
    @extend %btn-listproduct-buy;
    font-size: 16px;
	margin: 0 auto;
	float: none;
}
%product-aviseme-catalogo {
	.notifyme.form {
		> span {
			@include fonte($notify-title-font-size, $notify-title-color, $notify-title-weight, $notify-title-font-family, $notify-title-text-transform);
			padding-bottom: 5px;
		}
		label {
			span {
				font-weight: normal;
				padding-bottom: 8px;
			}
		}
		input[type="text"] {
			height: 35px;
			width: 147px !important;
			color: $colorDefault;
			font-weight: normal;
		}
		a.btn.send {
			@extend %btn-enviar-notify;
			width: auto;
		    font-size: 13px;
		    margin-top: -43px;
		    height: 35px;
		    line-height: 35px;
		}
	}
}
%product-economize {
	@extend %rk-hide;
}

.home,
.vitrine {
	#main .section {
		h2 {
		    @extend %title-vitrine;
		}
	}
}
#main {
	.list-products {
		li {
			.hproduct {
				position: relative;
			}
			.details {
				@extend %product-details;

			    .link:hover {
			        text-decoration: none;
			    }

			    .reviewaggregate {
			        @extend %placeholder-reviewaggregate;
			    }

			    .name {
			        @extend %product-name;
			    }
			    .regular,
			    .price {
			    	@if $desktop {
			    		
			    	}
			    }

			    .regular {
			        @extend %product-price-from;
			        margin-bottom: 5px;
			    }
			    .price {
			        @extend %product-price-to;
			    }
			    .parcel {
			        @extend %product-parcel;
			        > span {
			        	margin-bottom: 5px;
			        	display: inline-block;
			        }
			        > span:first-child {
			        	&::before {
			        		
			        	}
			        }
			        @if $desktop {
			        	padding: 0;
			        }
			        
			    }
			    .save {
			        @extend %product-economize;
			    }
			    .percent-a-vista {
			        @extend %product-percent-avista;
			    }
			    .see-more {
			        display: none;
			    }
			    a.btn.buy {
			    	@extend %product-btn-listproduct-buy;
			    }

			}
			.stamp {
			    @extend %product-stamp;
			}
			.tools {
				@extend %product-tools;
			}
			.reviewaggregate {
			    @extend %placeholder-reviewaggregate;
			}
		}
	}
}